
<!-- Page Content -->
<div id="page-content-wrapper" class="">
	<div class="container-fluid his-style">
		<fieldset>
			<div class="row margin-top10 padding-left-right-set4">
				<div
					class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4 padding-top10">
					<div class="row input-container">
						<div class="col-lg-2 col-sm-2 col-md-2 polymer-icon">
							<i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
						</div>
						<div class="col-lg-10 col-sm-10 col-md-10">
							<div class="">
								<input type="text" name="code" id=""
									class="text-input floating-label"> <label for="code"
									class="long-text-overflow">From Date</label>
							</div>
						</div>
					</div>
				</div>
				<div
					class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4 padding-top10">
					<div class="row input-container">
						<div class="col-lg-2 col-sm-2 col-md-2 polymer-icon ">
							<i class="fa fa-calendar-minus-o" aria-hidden="true"></i>
						</div>
						<div class="col-lg-10 col-sm-10 col-md-10">
							<div class="">
								<input type="text" name="code" id=""
									class="text-input floating-label"> <label
									for="description" class="LISDynamicLabel">To Date</label>
							</div>
						</div>
					</div>
				</div>
				<div
					class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4 padding-top10">
					<div class="row input-container">
						<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon">
							<i class="fa fa-dot-circle-o" aria-hidden="true"></i>
						</div>
						<div class="col-lg-11 col-sm-11 col-md-11">
							<div class="">
								<select class="text-input floating-label">
									<option value=""></option>
								</select> <label for="code">Doctor Type</label>
							</div>
						</div>
					</div>
				</div>
				<div
					class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4 padding-top10">
					<div class="row input-container">
						<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon">
							<i class="fa fa-dot-circle-o" aria-hidden="true"></i>
						</div>
						<div class="col-lg-11 col-sm-11 col-md-11">
							<div class="">
								<select class="text-input floating-label">
									<option value=""></option>
								</select> <label for="code">Department</label>
							</div>
						</div>
					</div>
				</div>

				<div
					class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4 padding-top10">
					<div class="row input-container">
						<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon">
							<i class="fa fa-dot-circle-o" aria-hidden="true"></i>
						</div>
						<div class="col-lg-11 col-sm-11 col-md-11">
							<div class="">
								<select class="text-input floating-label">
									<option value=""></option>
								</select> <label for="code">Doctor</label>
							</div>
						</div>
					</div>
				</div>
				<div
					class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4 padding-top10">
					<div class="row input-container">
						<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon">
							<i class="fa fa-dot-circle-o" aria-hidden="true"></i>
						</div>
						<div class="col-lg-11 col-sm-11 col-md-11">
							<div class="">
								<select class="text-input floating-label">
									<option value=""></option>
								</select> <label for="code">Status</label>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div
					class="col-lg-1 col-sm-2 col-md-2 padding-top8  float_right text-width-auto">
					<div class="common-save-button" style="padding-top: 0px;">
						<a href="" class="btn btn-primary btn-save-box-shadow"
							style="width: auto;"> <i class="fa fa-search"
							aria-hidden="true"></i>
						</a>
					</div>
				</div>
				<div
					class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 float_right margin-top10">
					<input type="text" class="text-search-box" placeholder="Search"
						style="margin-top: 0px"> <i
						class="fa fa-search common-search-text-icon" aria-hidden="true"></i>
				</div>
			</div>
		</fieldset>
		<div class="row margin-top4 padding-left-right-set4">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<table class="table table-bordered first-checkBox-padding">
					<!-- mainServiceTable -->
					<thead class="mainServiceTableCommon">
						<tr>
							<th class="width1 th-bg"><input type="checkbox" name="" id="" class=""></th>
							<th class="width5">Voucher No.</th>
							<th class="width5">Voucher Date</th>
							<th class="width5">Doctor Type</th>
							<th class="width5">Department</th>
							<th class="width7">Doctor</th>
							<th class="width6">Share Amount</th>
							<th class="width7">Retainership Fee</th>
							<th class="width6">Paid Amount</th>
							<th class="width5 text-center">Action</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="width1"><input type="checkbox" name="" id="" class=""></td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td class="text-center"><a class="cursor-pointer" data-toggle="modal" data-target="#paymentVoucherdetailsModal">Details</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<footer
			class="col-lg-12 col-md-12 col-sm-12 padding-left-right-set4 padding-right20">
			<!-- ************** Footer Block start ************** -->
			<div class="row padding-left-right-set4">
				<div class="col-lg-12 col-md-12 col-sm-12 padding-right20">
					<table class=" table table-bordered">
						<tbody>
							<tr>
								<th class="width7"><label>Share Amount</label></th>
								<th class="width8">-</th>
								<th class="width7"><label>Retainership Fee</label></th>
								<th class="width8">-</th>
								<th class="width8"><label>Paid Amount</label></th>
								<th class="width8">-</th>
							</tr>
							<tr>
								<th class="width8 padding-top10"><label>Remark</label></th>
								<td class="width8" colspan="5"><textarea rows="2"></textarea>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!-- ************** Footer Block end ************** -->
			<div class="row his-style padding-right20">
				<div class="col-lg-11 col-md-11"></div>
				<div class="col-lg-1 col-md-1 padding-left0px-right6px">
					<div class="common-save-button">
						<a href=""> <input type="button" value="Save"
							class="btn btn-primary btn-save-box-shadow">
						</a>
					</div>
				</div>
			</div>
		</footer>
	</div>
</div>
<!-- paymentVoucherdetailsModal START -->
<div id="paymentVoucherdetailsModal" class="modal fade ng-scope in common-large-popup" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<div class="modal-title patient-details-row">
					Details
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
			</div>
			<div class="modal-body height-table-with-scroll	">
				<fieldset>

					<div class="row margin-top4 padding-left-right-set4">
						<div class="row">
							<div id="table-scroll" class="table-scroll">
								<div class="table-wrap">
									<table class="main-table">
										<thead>
											<tr>
												<th class="width5 th-bg">Bill Date</th>
												<th class="width5 th-bg">Bill No.</th>
												<th class="width5 th-bg">UHID</th>
												<th class="width8 th-bg">Patient Name</th>
												<th class="width6 th-bg">Visit Type</th>
												<th class="width7 th-bg">Visit Date</th>
												<th class="width6 th-bg">Visit No.</th>
												<th class="width8 th-bg">Department</th>
												<th class="width5 th-bg">Doctor</th>
												<th class="width6 th-bg">Service</th>
												<th class="width7 th-bg">Rate</th>
												<th class="width7 th-bg">Qty</th>
												<th class="width5 th-bg">Total Amount</th>
												<th class="width5 th-bg">Dicount</th>
												<th class="width5 th-bg">GST</th>
												<th class="width5 th-bg">Net Amount</th>
												<th class="width5 th-bg">Doctor Share</th>
												<th class="width5 th-bg">Hospital Share</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="td-bg">-</td>
												<td class="td-bg">-</td>
												<td class="td-bg">-</td>
												<td class="td-bg">-</td>
												<td class="td-bg">-</td>
												<td class="td-bg">-</td>
												<td class="td-bg">-</td>
												<td class="td-bg">-</td>
												<td class="td-bg">-</td>
												<td class="td-bg">-</td>
												<td class="td-bg">-</td>
												<td class="td-bg">-</td>
												<td class="td-bg">-</td>
												<td class="td-bg">-</td>
												<td class="td-bg">-</td>
												<td class="td-bg">-</td>
												<td class="td-bg">-</td>
												<td class="td-bg">-</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</fieldset>
			</div>
		</div>
	</div>
</div>
<!-- DetailsModal END -->
<script type="text/javascript">
$(document).ready(function() {
$(".selectedPageName").text("Doctor Share Payment Voucher");
$(".sidebar-nav li").each(function() {
	$(this).find("a").parents("li").removeClass("active");
});
$('a[href$="doctorSharePaymentVoucher"]').parents("li").addClass("active");
});
</script>