<!-- /********************************************************************************************************************************************
Procurement - purchase - Add Item Waste Assest Disposal Worklist sub page
Created by - Pranita Patil
Created Date - 14-dec-2017 
/********************************************************************************************************************************************/ -->
<!-- Page Content -->
<div id="page-content-wrapper" class="">
	<div class="container-fluid his-style">
		<fieldset>
			<legend class="heading-div">Add Item Waste Assest Disposal Worklist</legend>
			<div class="row margin-top10">
				<div class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4 padding-top10">
					<div class="row input-container">
						<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon">
							<i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
						</div>
						<div class="col-lg-11 col-sm-11 col-md-11">
							<div class="">
								<input type="text" name="code" id="" class="text-input floating-label">
								<label for="code">From Date</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4 padding-top10">
					<div class="row input-container">
						<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon ">
							<i class="fa fa-calendar-minus-o" aria-hidden="true"></i>
						</div>
						<div class="col-lg-11 col-sm-11 col-md-11 ">
							<div class="">
								<input type="text" name="code" id="" class="text-input floating-label">
								<label for="description" class="LISDynamicLabel">To Date</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 padding-top10">
					<div class="row input-container">
						<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon ">
							<i class="fa fa-building-o" aria-hidden="true"></i>
						</div>
						<div class="col-lg-11 col-sm-11 col-md-11 ">
							<div class="">
								<select class="text-input floating-label">
									<option></option>
									<option>Store 1</option>
									<option>Store 2</option>
								</select>
								<label for="description" class="LISDynamicLabel">Store</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4 padding-top10">
					<div class="row input-container">
						<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon ">
							<i class="fa fa-dot-circle-o" aria-hidden="true"></i>
						</div>
						<div class="col-lg-11 col-sm-11 col-md-11 ">
							<div class="">
								<select class="text-input floating-label">
									<option></option>
									<option>All</option>
									<option>Rejected</option>
									<option>Completed</option>
									<option>Cancel</option>
								</select>
								<label for="description" class="LISDynamicLabel">Status</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4 padding-top10">
					<div class="row input-container">
						<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon">
							<i class="fa fa-search" aria-hidden="true"></i>
						</div>
						<div class="col-lg-11 col-sm-11 col-md-11">
							<div class="">
								<input type="text" name="code" id="" class="text-input floating-label">
								<label for="code">Search PR/Priority</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-1 col-md-1 col-sm-1 padding-left-right-set4">
					<input type="button" value="Search"  class="btn btn-primary btn-save-box-shadow">
				</div>
			</div>
        </fieldset>	
        <div class="row padding-left-right15">
          	<div class="col-md-11"></div>
			<div class="col-md-1 padding-left-right15">
				<div class="common-save-button">
					<input type="button" value="Approve"  class="btn btn-primary btn-save-box-shadow" data-toggle="modal" data-target="#confirmLogout">
				</div>
			</div>
		</div>
        <div class="row padding-left-right-set0">
			<div class="col-md-12 col-lg-12 col-sm-8 padding-left-right-set0"  id="nonBillableTableHt">
				<fieldset>
					<!-- <legend class="heading-div">Table</legend> -->
					
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 height500-table-with-scroll">
					<table class="table table-bordered first-checkBox-padding"><!-- mainServiceTable -->
						<thead class="mainServiceTableCommon">
							<tr>
								<th class="width1 text-center">
									<input type="checkbox"/>
								</th>
								<th class="width8">
									PR No
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th>
								<th class="width6">
									PR Date
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th>
								<th class="width10">
									Store Name
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th>
								<th class="width8">
									Type
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th>
								<th class="width5">
									Status
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th>
								<th class="width8">
									Requested By
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th>
								<th class="width6">
									Requested Date
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th>
								<th class="width5">
									Remark
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th>
								<th class="width3"></th>
								<th class="width3">
								  	Action
									<div class="float_right">
										<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
										<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
									</div>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="text-center">
									<input type="checkbox"/>
								</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td>
									
								</td>
								<td>
									<div class="col-md-4 text-center">
										<!-- <a title="Edit"><i class="fa fa-pencil" aria-hidden="true"></i></a> -->
									</div>
									<div class="col-md-4 text-center">
										<a title="Print" ><i class="fa fa-print" aria-hidden="true" ></i></a>
									</div>
									<div class="col-md-4 text-center">
										<!-- <a title="Cancel"><i class="fa fa-times-circle-o" aria-hidden="true" data-toggle="modal" data-target="#confirmCancel"></i></a> -->
									</div>
								</td>	
								<td>
									<input type="button" value="Details"  class="btn btn-primary btn-save-box-shadow details-btn" data-toggle="modal" data-target="#wasteStoreDetailsModal">
								</td>
							</tr>
						</tbody>
					</table>
					</div>
				</div>
				</fieldset>
				<!-- <div class="row padding-top10">
					<div class="col-md-6 col-sm-4"></div>
					<div class="col-md-2 col-sm-2 padding-left-right15 text-right remark-label">
						<label>Remark</label>
					</div>
					<div class="col-md-4 col-sm-4 padding-left-right15">
						<textarea class="form-control" row="2"></textarea>
					</div>
				</div> -->
			</div>
		</div>
    </div>
</div>

<!-- details modal start -->
<div id="wasteStoreDetailsModal" class="modal fade ng-scope in" role="dialog">
	<div class="modal-dialog"> <!-- width: 25% !important;margin: 200px 0 0 510px !important; -->
		<div class="modal-content">
			<div class="modal-header">
				<div class="modal-title patient-details-row">
					Purchase Request Details
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
			</div>
			<div class="modal-body">
				<!-- <div class="row patient-details-row">
					<div class="col-md-11 col-sm-11 col-xs-11 ">
						<span class=""><b class="padding-right10 ">Asset Category:</b> Category 1</span>
						<span class="margin-left10"><b class="padding-right10 ">Product Category:</b> Category 1 </span>
						<span class="margin-left10"><b class="padding-right10 ">Item Code:</b>12345</span>
						<span class="margin-left10"><b class="padding-right10 ">Item Name:</b>Item 1</span>
					</div>
				</div> -->
				<div class="row">
					<div class="col-lg-12 col-md-12 common-popup-height-350 padding-top10">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>
										<input type="checkbox"/>
									</th>
									<th class="width10">Asset Category
										<div class="float_right">
											<div>
												<i class="fa fa-caret-up" aria-hidden="true"></i>
											</div>
											<div class="margin-top-8">
												<i class="fa fa-caret-down" aria-hidden="true"></i>
											</div>
										</div>
									</th>
									<th class="width10">Product Category
										<div class="float_right">
											<div>
												<i class="fa fa-caret-up" aria-hidden="true"></i>
											</div>
											<div class="margin-top-8">
												<i class="fa fa-caret-down" aria-hidden="true"></i>
											</div>
										</div>
									</th>
									<th class="width8">Item Code
										<div class="float_right">
											<div>
												<i class="fa fa-caret-up" aria-hidden="true"></i>
											</div>
											<div class="margin-top-8">
												<i class="fa fa-caret-down" aria-hidden="true"></i>
											</div>
										</div>
									</th>
									<th class="width10">Item Name
										<div class="float_right">
											<div>
												<i class="fa fa-caret-up" aria-hidden="true"></i>
											</div>
											<div class="margin-top-8">
												<i class="fa fa-caret-down" aria-hidden="true"></i>
											</div>
										</div>
									</th>
									<th class="width5">UOM
										<div class="float_right">
											<div>
												<i class="fa fa-caret-up" aria-hidden="true"></i>
											</div>
											<div class="margin-top-8">
												<i class="fa fa-caret-down" aria-hidden="true"></i>
											</div>
										</div>
									</th>
									<th class="width6">UOM Unit
										<div class="float_right">
											<div>
												<i class="fa fa-caret-up" aria-hidden="true"></i>
											</div>
											<div class="margin-top-8">
												<i class="fa fa-caret-down" aria-hidden="true"></i>
											</div>
										</div>
									</th>
									<th class="width10">Vendor Name
										<div class="float_right">
											<div>
												<i class="fa fa-caret-up" aria-hidden="true"></i>
											</div>
											<div class="margin-top-8">
												<i class="fa fa-caret-down" aria-hidden="true"></i>
											</div>
										</div>
									</th>
									<th class="width8" title="Vendor Invoice Date">Invoice Date
										<div class="float_right">
											<div>
												<i class="fa fa-caret-up" aria-hidden="true"></i>
											</div>
											<div class="margin-top-8">
												<i class="fa fa-caret-down" aria-hidden="true"></i>
											</div>
										</div>
									</th>
									<th class="width3" title="Available Required Qty">Qty
										<div class="float_right">
											<div>
												<i class="fa fa-caret-up" aria-hidden="true"></i>
											</div>
											<div class="margin-top-8">
												<i class="fa fa-caret-down" aria-hidden="true"></i>
											</div>
										</div>
									</th>
									<th class="width8">COP
										<div class="float_right">
											<div>
												<i class="fa fa-caret-up" aria-hidden="true"></i>
											</div>
											<div class="margin-top-8">
												<i class="fa fa-caret-down" aria-hidden="true"></i>
											</div>
										</div>
									</th>
									<th class="width6" title="Required Qty">Required Qty
										<div class="float_right">
											<div>
												<i class="fa fa-caret-up" aria-hidden="true"></i>
											</div>
											<div class="margin-top-8">
												<i class="fa fa-caret-down" aria-hidden="true"></i>
											</div>
										</div>
									</th>
									<th class="width5">Amount At COP
										<div class="float_right">
											<div>
												<i class="fa fa-caret-up" aria-hidden="true"></i>
											</div>
											<div class="margin-top-8">
												<i class="fa fa-caret-down" aria-hidden="true"></i>
											</div>
										</div>
									</th>
									<th class="width10">Action</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<input type="checkbox"/>
									</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td>
										<div class="row">
											<label class="radio-inline"><input type="radio" name="optradio1" class="radioAcceptedHold1">Accept</label> 
											<label class="radio-inline"><input type="radio" name="optradio1" class="radioRejected1">Reject</label>
										</div>
										<div class="row rejection-details-row1 margin-top4">
											<input type="text" class="w-100">
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="row his-style">
					<div class="col-md-8"></div>
					<div class="col-md-2 padding-left0px-right6px text-right">
						<div class="common-save-button">
							<!-- <input type="button" value="Returnable Gatepass" class="btn btn-primary btn-save-box-shadow text-width-auto"> -->
						</div>
					</div>
					<div class="col-md-1 padding-left-right-10 text-center">
						<div class="common-save-button">
							<!-- <input type="button" value="Reject" class="btn btn-primary btn-save-box-shadow"> -->
						</div>
					</div>
					<div class="col-md-1 padding-left0px-right6px">
						<div class="common-save-button">
							<input type="button" value="Approve" class="btn btn-primary btn-save-box-shadow">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- details modal end -->
<script type="text/javascript">
$( document ).ready(function() {
	$(".rejection-details-row1").hide();
	$(".selectedPageName").text("Add Item Waste Assest Disposal Worklist");
	$(".sidebar-nav li").each(function() {
		$(this).find("a").parents("li").removeClass("active");
	});
});
/* ************** radioRejected1 ********** */
$( ".radioRejected1" ).change(function() {
	if ($(this).is(":checked"))
	{
		$(this).closest(".row").siblings(".rejection-details-row1").show();
	}
});
$( ".radioAcceptedHold1" ).change(function() {
	if ($(this).is(":checked"))
	{
		$(this).closest(".row").siblings(".rejection-details-row1").hide();
	}
});

</script>