
<!-- /********************************************************************************************************************************************
Procurement - purchase - materialInwords main page
Created by - Pranita Patil
Created Date - 14-Dec-2017 
/********************************************************************************************************************************************/ -->
<!-- Page Content -->
<div id="page-content-wrapper" class="">
	<div class="container-fluid his-style">
		<fieldset>
			<div class="row margin-top10 padding-left-right-set4">
				<div class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4 padding-top10">
					<div class="row input-container">
						<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon">
							<i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
						</div>
						<div class="col-lg-11 col-sm-11 col-md-11">
							<div class="">
								<input type="text" name="code" id="" class="text-input floating-label dirty">
								<label for="code">From Date</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4 padding-top10">
					<div class="row input-container">
						<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon ">
							<i class="fa fa-calendar-minus-o" aria-hidden="true"></i>
						</div>
						<div class="col-lg-11 col-sm-11 col-md-11">
							<div class="">
								<input type="text" name="code" id="" class="text-input floating-label dirty">
								<label for="description" class="LISDynamicLabel">To Date</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4 padding-top10">
			<div class="row input-container">
				<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon">
					<i class="fa fa-tasks" aria-hidden="true"></i>
				</div>
				<div class="col-lg-11 col-sm-11 col-md-11">
					<div class="">
						<select class="text-input floating-label dirty">
							<option value=""></option>
							<option value="Store 1">Store 1</option>
							<option value="Store 2">Store 2</option>
						</select>
						<label for="code">Store</label>
					</div>
				</div>
				</div>
		</div>
				<div class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4 padding-top10">
					<div class="row input-container">
						<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon">
							<i class="fa fa-bullseye" aria-hidden="true"></i>
						</div>
						<div class="col-lg-11 col-sm-11 col-md-11">
							<div class="">
								<input type="text" name="code" id="" class="text-input floating-label dirty">
								<label for="code">Vendor</label>
							</div>
						</div>
					</div>
				</div>
		
				<div class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4 padding-top10">
					<div class="row input-container">
						<div class="col-lg-1 col-sm-2 col-md-2 polymer-icon ">
							<i class="fa fa-dot-circle-o" aria-hidden="true"></i>
						</div>
						<div class="col-lg-11 col-sm-10 col-md-10 padding-left-right-set4">
							<div class="">
								<select class="text-input floating-label dirty">
									<option value=""></option>
									<option value="Manual">Manual</option>
									<option value="Auto">Auto</option>
								</select>
								<label for="description" class="LISDynamicLabel">Type</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4 padding-top10">
					<div class="row input-container">
						<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon">
							<i class="fa fa-bullseye" aria-hidden="true"></i>
						</div>
						<div class="col-lg-11 col-sm-11 col-md-11">
							<div class="">
								<input type="text" name="code" id="" class="text-input floating-label dirty">
								<label for="code">Inward No.</label>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row padding-left-right-set1">
				<div class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4 padding-top10">
						<div class="row input-container">
							<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon ">
								<i class="fa fa-dot-circle-o" aria-hidden="true"></i>
							</div>
							<div class="col-lg-11 col-sm-11 col-md-11 padding-left-right-set4">
								<div class="">
									<select class="text-input floating-label dirty">
										<option value=""></option>
										<option value="Manual">Manual</option>
										<option value="Auto">Auto</option>
									</select>
									<label for="description" class="LISDynamicLabel">Status</label>
								</div>
							</div>
						</div>
					</div>
				<div class="col-lg-1 col-md-1 col-sm-2  pull-right text-width-auto padding-left-right-set1 padding-top10">
					<div class="common-save-button" style="padding-top:  0px;"> 
						 <a href="" class="btn btn-primary btn-save-box-shadow" style="width: auto;"> 
						 	<i class="fa fa-search" aria-hidden="true"></i> 
						 </a> 
					</div> 
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 float_right pull-right margin-top10">
					<input type="text" class="text-search-box dirty" placeholder="Search" style="margin-top:0px">
					<i class="fa fa-search common-search-text-icon" aria-hidden="true"></i>
				</div>
			</div>
       	 <div class="row padding-top4">
			<div class="col-md-12 col-lg-12 col-sm-12 padding-left-right-set4" id="nonBillableTableHt">
				<fieldset>
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 height500-table-with-scroll">
						<table class="table table-bordered first-checkBox-padding"><!-- mainServiceTable -->
							<thead class="mainServiceTableCommon">
								<tr>
									<th class="width7">
										Inword No.
									</th>
									<th class="width7">
										Inword Date
									</th>
									<th class="width7">
										Store
									</th>
									<th class="width7">
										Vendor
									</th>
									<th class="width7">
										Type
									</th>
									<th class="width9">
										Replacement Type
									</th>
									<th class="width7">
									  	Ret GP No.
									</th>
									<th class="width7">
									  	Added By
									</th>
									<th class="width5">
									  	Status
									</th>
									<th class="width7">
									  	Action
									</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td>
										<div class="col-lg-2 col-md-2 padding-left-right-set4 ">
											<a title="Edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
										</div>
										<div class="col-lg-2 col-md-2 padding-left-right-set4 ">
											<a title="Print"><i class="fa fa-print" aria-hidden="true"></i></a>
										</div>
										<div class="col-lg-2 col-md-2 padding-left-right-set4 ">
											<a title="Cancel"><i class="fa fa-times-circle-o" aria-hidden="true" data-toggle="modal" data-target="#confirmCancel"></i></a>
										</div>
										<div class="col-lg-6 col-md-6 padding-left-right-set4 text-right">
											<a href="#/detailsMaterialInwardsApproval">Details</a><!-- data-toggle="modal" data-target="#wasteStoreDetailsModal" -->
										</div>
									</td>
								</tr>
							</tbody>
						</table>
						</div>
					</div>
				</fieldset>
			</div>
		</div>
        </fieldset>	
        
    </div>
</div>

<!-- details modal start -->
<div id="wasteStoreDetailsModal" class="modal fade ng-scope in" role="dialog">
	<div class="modal-dialog"> <!-- width: 25% !important;margin: 200px 0 0 510px !important; -->
		<div class="modal-content">
			<div class="modal-header">
				<div class="modal-title patient-details-row">
					Purchase Request Details
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-lg-12 col-md-12 common-popup-height-350 padding-top10 padding-left-right-set4">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th class="width10">Item Code
										<div class="float_right">
											<div>
												<i class="fa fa-caret-up" aria-hidden="true"></i>
											</div>
											<div class="margin-top-8">
												<i class="fa fa-caret-down" aria-hidden="true"></i>
											</div>
										</div>
									</th>
									<th class="width10">Item Name
										<div class="float_right">
											<div>
												<i class="fa fa-caret-up" aria-hidden="true"></i>
											</div>
											<div class="margin-top-8">
												<i class="fa fa-caret-down" aria-hidden="true"></i>
											</div>
										</div>
									</th>
									<th class="width10">Batch No
										<div class="float_right">
											<div>
												<i class="fa fa-caret-up" aria-hidden="true"></i>
											</div>
											<div class="margin-top-8">
												<i class="fa fa-caret-down" aria-hidden="true"></i>
											</div>
										</div>
									</th>
									<th class="width8">Expiry Date
										<div class="float_right">
											<div>
												<i class="fa fa-caret-up" aria-hidden="true"></i>
											</div>
											<div class="margin-top-8">
												<i class="fa fa-caret-down" aria-hidden="true"></i>
											</div>
										</div>
									</th>
									<th>Vendor Name
										<div class="float_right">
											<div>
												<i class="fa fa-caret-up" aria-hidden="true"></i>
											</div>
											<div class="margin-top-8">
												<i class="fa fa-caret-down" aria-hidden="true"></i>
											</div>
										</div>
									</th>
									<th>Vendor Invoice Date
										<div class="float_right">
											<div>
												<i class="fa fa-caret-up" aria-hidden="true"></i>
											</div>
											<div class="margin-top-8">
												<i class="fa fa-caret-down" aria-hidden="true"></i>
											</div>
										</div>
									</th>
									<th>Qty
										<div class="float_right">
											<div>
												<i class="fa fa-caret-up" aria-hidden="true"></i>
											</div>
											<div class="margin-top-8">
												<i class="fa fa-caret-down" aria-hidden="true"></i>
											</div>
										</div>
									</th>
									<th>COP
										<div class="float_right">
											<div>
												<i class="fa fa-caret-up" aria-hidden="true"></i>
											</div>
											<div class="margin-top-8">
												<i class="fa fa-caret-down" aria-hidden="true"></i>
											</div>
										</div>
									</th>
									<th title="Available Qty">Available Qty
										<div class="float_right">
											<div>
												<i class="fa fa-caret-up" aria-hidden="true"></i>
											</div>
											<div class="margin-top-8">
												<i class="fa fa-caret-down" aria-hidden="true"></i>
											</div>
										</div>
									</th>
									<th>Amount At COP
										<div class="float_right">
											<div>
												<i class="fa fa-caret-up" aria-hidden="true"></i>
											</div>
											<div class="margin-top-8">
												<i class="fa fa-caret-down" aria-hidden="true"></i>
											</div>
										</div>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- details modal end -->
<script type="text/javascript">
$( document ).ready(function() {
	$(".selectedPageName").text("Material Inward Approval");
	$(".sidebar-nav li").each(function() {
		$(this).find("a").parents("li").removeClass("active");
	});
	/*************************** rejection radio button function*********************************/
	$(".add-new-item-row").hide();
	$(".get-request-row").hide();
	 $( ".addNewItemRadioBtnClass" ).change(function() {
			if ($(this).is(":checked"))
			{
				$(".add-new-item-row").show('slow');
				$(".get-request-row").hide('slow');
			}
		}); 
	$( ".getRequestListBtnClass" ).change(function() {
		if ($(this).is(":checked"))
		{
			$(".add-new-item-row").hide('slow');
			$(".get-request-row").show('slow');
		}
	}); 

});
/*************************** add button function start*********************************/
$(".table-th-bg").click(function(){
	/* alert(); */
	$(this).next().find(".selectedServicesList").toggle();
});


</script>