<!-- Page Content -->
<div id="page-content-wrapper" class="">
  <div class="container-fluid his-style">
    <fieldset>
      <div class="row margin-top10">
        <div class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4 padding-top10">
          <div class="row input-container">
            <div class="col-lg-1 col-sm-1 col-md-1 polymer-icon">
              <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
            </div>
            <div class="col-lg-11 col-sm-11 col-md-11">
              <div class="">
                <!-- <input type="text" name="fromDate" ng-model="vm.model.fromDate" class="text-input floating-label" ng-class="{dirty: vm.model.fromDate}" value="{{ vm.model.fromDate | date:'medium' }}"> -->
                <input type="text" class="text-input floating-label dirty" name="fromDate" id="fromDate" uib-datepicker-popup="dd/MM/yyyy"
                  placeholder="DD/MM/YYYY" ng-model="vm.model.fromDate" model-view-value="true" is-open="vm.model.fromDateOpened"
                  datepicker-options="vm.model.fromDateOptions" show-button-bar="false" ng-click="vm.model.OpenFromDate()">
                <label for="code">From Date</label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4 padding-top10">
          <div class="row input-container">
            <div class="col-lg-1 col-sm-1 col-md-1 polymer-icon ">
              <i class="fa fa-calendar-minus-o" aria-hidden="true"></i>
            </div>
            <div class="col-lg-11 col-sm-11 col-md-11 ">
              <div class="">
                <!-- <input type="text" name="toDate" ng-model="vm.model.toDate" id="" class="text-input floating-label" ng-class="{dirty: vm.model.toDate}"> -->
                <input type="text" class="text-input floating-label dirty" name="toDate" id="toDate" uib-datepicker-popup="dd/MM/yyyy" placeholder="DD/MM/YYYY"
                  ng-model="vm.model.toDate" model-view-value="true" is-open="vm.model.toDateOpened" datepicker-options="vm.model.toDateOptions"
                  show-button-bar="false" ng-click="vm.model.OpenToDate()">
                <label for="description" class="LISDynamicLabel">To Date</label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4 padding-top10">
          <div class="row input-container">
            <div class="col-lg-1 col-sm-1 col-md-1 polymer-icon ">
              <i class="fa fa-building-o" aria-hidden="true"></i>
            </div>
            <div class="col-lg-11 col-sm-11 col-md-11 ">
              <div class="">
                <!-- <select name="Store" id="Store" class="text-input floating-label dirty" ng-model="vm.model.store" data-ng-options="store.store for store in vm.model.Stores"> </select>
   -->

                <select name="store" id="store" class="text-input floating-label dirty" data-ng-options="store.store for store in vm.model.stores"
                  ng-model="vm.model.store">
                </select>
                <!-- <select class="text-input floating-label" ng-model="vm.model.storeNameList" >
                    <option></option>
                    <option ng-repeat="datum in vm.model.storeList" value="{{datum.storeId}}">{{datum.storeName}} </option>
                  </select> -->
                <label for="description" class="LISDynamicLabel">Store</label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-2 padding-left-right-set1">
          <div class="common-save-button">
            <a href="" class="btn btn-primary btn-save-box-shadow" style="width: auto;" ng-click="vm.model.SearchByStore()">
              <i class="fa fa-search" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-2 padding-left-right-set4 float_right text-width-auto">
          <div class=" " style="    margin-top: 4px;">
            <a href="" class="btn btn-primary btn-save-box-shadow" ng-class="{disabled: !vm.model.isItemChecked }" title="Approve" ng-click="vm.model.ValidateAndUpdate('Update','confirmLogout1', {})">
              <i class="fa fa-floppy-o" style="font-size: 21px" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <div class="col-md-2 col-sm-2 padding-left-right-set4 float_right text-width-auto">
          <div class="padding-top4 ">
            <a ng-click="vm.model.OpeningBalanceDetailsAddNew()">
              <input type="button" value="Add New" class="btn btn-primary btn-save-box-shadow">
            </a>
          </div>
        </div>
      </div>
    </fieldset>

    <div class="row margin-top8">
      <div class="col-md-12 col-lg-12 col-sm-8 padding-left-right-set4" id="nonBillableTableHt">
        <fieldset>
          <div class="row">
            <div class="container-fluid his-style">
              <div class="table-container padding-left-right-set4 padding-top5">
                <div class="table-container-header">
                  <table class="table table-striped table-hover table-condensed table-bordered">
                    <thead class="mainServiceTableCommon">
                      <tr>
                        <th class="width1 text-center">
                          <input type="checkbox" ng-model="vm.model.selectAllRows" ng-click="vm.model.SelectAllRequests()" ng-disabled="vm.model.opStoreIndentData == false"
                          />
                        </th>
                        <th class="width6">
                          OPB Date
                          <div class="float_right" ng-click="predicate = 'openingBalanceDate'; reverse = !reverse">
                            <div>
                              <i class="fa fa-caret-up" aria-hidden="true"></i>
                            </div>
                            <div class="margin-top-8">
                              <i class="fa fa-caret-down" aria-hidden="true"></i>
                            </div>
                          </div>
                        </th>
                        <th class="width6">
                          OPB No
                          <div class="float_right" ng-click="predicate = 'openingBalanceNumber'; reverse = !reverse">
                            <div>
                              <i class="fa fa-caret-up" aria-hidden="true"></i>
                            </div>
                            <div class="margin-top-8">
                              <i class="fa fa-caret-down" aria-hidden="true"></i>
                            </div>
                          </div>
                        </th>
                        <th class="width10">
                          Store Name
                          <div class="float_right" ng-click="predicate = 'storeName'; reverse = !reverse">
                            <div>
                              <i class="fa fa-caret-up" aria-hidden="true"></i>
                            </div>
                            <div class="margin-top-8">
                              <i class="fa fa-caret-down" aria-hidden="true"></i>
                            </div>
                          </div>
                        </th>
                        <th class="width8">
                          Requested By
                          <div class="float_right" ng-click="predicate = 'requestedBy'; reverse = !reverse">
                            <div>
                              <i class="fa fa-caret-up" aria-hidden="true"></i>
                            </div>
                            <div class="margin-top-8">
                              <i class="fa fa-caret-down" aria-hidden="true"></i>
                            </div>
                          </div>
                        </th> 
                        <th class="width8">
                          Status
                          <div class="float_right" ng-click="predicate = 'statusDesc'; reverse = !reverse">
                            <div>
                              <i class="fa fa-caret-up" aria-hidden="true"></i>
                            </div>
                            <div class="margin-top-8">
                              <i class="fa fa-caret-down" aria-hidden="true"></i>
                            </div>
                          </div>
                        </th>
                        <th class="width6">
                          Action
                          <div class="float_right">
                            <div>
                              <i class="fa fa-caret-up" aria-hidden="true"></i>
                            </div>
                            <div class="margin-top-8">
                              <i class="fa fa-caret-down" aria-hidden="true"></i>
                            </div>
                          </div>
                        </th>
                      </tr>
                    </thead>
                  </table>
                </div>
                <div class="table-container-body" style="height:400px; overflow-y: scroll;">
                  <table class="table table-striped table-hover table-condensed table-bordered">
                    <tbody>
                      <tr ng-repeat="datum in vm.model.opStoreIndentData | orderBy:predicate:reverse">
                        <td  class="width1 text-center">
                          <input type="checkbox" ng-click="vm.model.SelectOpeningBalance(datum)" ng-model="datum.isSelected" ng-disabled="vm.model.isDisable(datum)"
                          />
                        </td>
                        <td class="width6"> {{datum.opbDate | date:'dd-MM-yyyy'}} </td>
                        <td class="width6"> {{datum.opbNo}} </td>
                        <td class="width10"> {{datum.storeName}} </td>
                        <td class="width8"> {{datum.requestedBy}} </td>
                        <td class="width8"> {{datum.status}} </td>
                        <td style="width: 5.85% !important;">
                          <div class="col-lg-2 col-md-4 padding-left-right-set4 ">
                            <a title="Edit" ng-click="vm.model.EditOpeningBalanceDetails(datum)">
                              <i class="fa fa-pencil" ng-class="{disabled: vm.model.isDisable(datum)}" aria-hidden="true"></i>
                            </a>
                          </div>
                          <div class="col-lg-2 col-md-4 padding-left-right-set4 ">
                            <a title="Print">
                              <i class="fa fa-print" aria-hidden="true"></i>
                            </a>
                          </div>
                          <div class="col-lg-2 col-md-4 padding-left-right-set4 ">
                            <a title="Cancel">
                              <i class="fa fa-ban" aria-hidden="true" ng-class="{disabled: vm.model.isDisable(datum)}" ng-click="vm.model.ValidateAndUpdate('Cancel','confirmCancel', datum.id)"></i>
                              <!-- ShowRejectDismiss -->
                            </a>
                          </div>
                          <div class="col-lg-6 col-md-6 padding-left-right-set4 text-right">
                            <a href="#/DetailsOpeningBalance" ng-click="vm.model.OpeningBalanceDetails(datum)">Details</a>

                            <!-- <a data-toggle="modal" ng-click="vm.model.OpeningBalanceDetails(datum.id)" data-target="#wasteStoreDetailsModal1" ng-model="vm.model.opbDetails">Details</a> -->
                          </div>
                        </td>
                      </tr>
                      <tr ng-if="!vm.model.opStoreIndentData || vm.model.opStoreIndentData == false">
                        <td colspan="7" class="text-center">
                          <p>No Record Found</p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
      </div>
      </fieldset>
    </div>
  </div>
</div>
</div>

<!-- details modal start -->
<div id="wasteStoreDetailsModal1" class="modal fade ng-scope in" role="dialog">
  <div class="modal-dialog">
    <!-- width: 25% !important;margin: 200px 0 0 510px !important; -->
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title patient-details-row">
          Opening Balance Details
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12 col-md-12 common-popup-height-350 padding-top10">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <!-- <th>
                      <input type="checkbox" ng-model="vm.model.selectAllApprove" ng-click="vm.model.SelectAllApprove()">
                    </th> -->
                  <th>Asset Category
                    <div class="float_right">
                      <div>
                        <i class="fa fa-caret-up" aria-hidden="true"></i>
                      </div>
                      <div class="margin-top-8">
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                      </div>
                    </div>
                  </th>
                  <th>Product Category
                    <div class="float_right">
                      <div>
                        <i class="fa fa-caret-up" aria-hidden="true"></i>
                      </div>
                      <div class="margin-top-8">
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                      </div>
                    </div>
                  </th>
                  <th class="width6 vertical-middle">Item Code
                    <div class="float_right">
                      <div>
                        <i class="fa fa-caret-up" aria-hidden="true"></i>
                      </div>
                      <div class="margin-top-8">
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                      </div>
                    </div>
                  </th>
                  <th class="width7 vertical-middle">Item Name
                    <div class="float_right">
                      <div>
                        <i class="fa fa-caret-up" aria-hidden="true"></i>
                      </div>
                      <div class="margin-top-8">
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                      </div>
                    </div>
                  </th>
                  <th class="width6 vertical-middle">UOM Unit
                    <div class="float_right">
                      <div>
                        <i class="fa fa-caret-up" aria-hidden="true"></i>
                      </div>
                      <div class="margin-top-8">
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                      </div>
                    </div>
                  </th>
                  <th class="width4 vertical-middle">Qty
                    <div class="float_right">
                      <div>
                        <i class="fa fa-caret-up" aria-hidden="true"></i>
                      </div>
                      <div class="margin-top-8">
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                      </div>
                    </div>
                  </th>
                  <th>COP
                    <div class="float_right">
                      <div>
                        <i class="fa fa-caret-up" aria-hidden="true"></i>
                      </div>
                      <div class="margin-top-8">
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                      </div>
                    </div>
                  </th>
                  <th class="width7 vertical-middle">Available Qty
                    <div class="float_right">
                      <div>
                        <i class="fa fa-caret-up" aria-hidden="true"></i>
                      </div>
                      <div class="margin-top-8">
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                      </div>
                    </div>
                  </th>
                  <th title="Available Qty">Amount At COP
                    <div class="float_right">
                      <div>
                        <i class="fa fa-caret-up" aria-hidden="true"></i>
                      </div>
                      <div class="margin-top-8">
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                      </div>
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="datum in vm.model.detailsOpeningBalance">
                  <!-- <td>
                      <input type="checkbox" ng-model="datum.isApprove" /> </td> -->
                  <td> {{datum.assetCatName}} </td>
                  <td> {{datum.productCategoryName}} </td>
                  <td> {{datum.itemCode}} </td>
                  <td> {{datum.itemName}} </td>
                  <td> {{datum.uomList[0].puomUnitDesc}} </td>
                  <td> {{datum.quantity}} </td>
                  <td> {{datum.cop}} </td>
                  <td> {{datum.availabaleQty}} </td>
                  <td> {{datum.copAmount}} </td>
                </tr>
                <tr ng-if="!vm.model.detailsOpeningBalance || vm.model.detailsOpeningBalance == false">
                  <td class="text-center">
                    <p>No Record Found</p>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="row his-style">
          <div class="col-md-8"></div>
          <div class="col-md-2 padding-left0px-right6px text-right">
            <div class="common-save-button">
              <!-- <input type="button" value="Returnable Gatepass" class="btn btn-primary btn-save-box-shadow text-width-auto"> -->
            </div>
          </div>
          <div class="col-md-1 padding-left-right-10 text-center">
            <div class="common-save-button">
              <!-- <input type="button" value="Scrap" class="btn btn-primary btn-save-box-shadow"> -->
            </div>
          </div>
          <div class="col-md-1 padding-left0px-right6px">
            <div class="common-save-button">
              <input type="button" value="Approved" data-dismiss="modal" ng-click="vm.model.ApproveOpb()" class="btn btn-primary btn-save-box-shadow">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- confirm save -->

<div id="confirmLogout1" class="modal fade ng-scope in" role="dialog" style="padding-left: 17px;">
  <div class="modal-dialog" style="width: 560px !important; margin: 80px auto !important;">
    <!-- style="width: 25% !important;margin: 200px 0 0 510px !important;" -->
    <div class="modal-content">
      <div class="modal-header" style="padding: 0px!important;">
        <div class="modal-title patient-details-row">
          Confirm
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
      </div>
      <div class="modal-body">
        <div class="margin-left10">
          <span>Are you sure you want to Approve?</span>
        </div>
      </div>
      <div class="modal-footer" style="border:none;">
        <button type="button" data-dismiss="modal" class="btn btn-primary" id="" ng-click="vm.model.ApproveOpb();">Ok</button>
        <button type="button" data-dismiss="modal" class="btn btn-primary">Cancel</button>
      </div>
    </div>
  </div>
</div>
<!-- confirm save end -->


<!-- details modal end -->
<!-- <div ng-include="'./views/common/accept-reject.html'" class="ng-scope" style=""></div> -->
<!-- <div ng-include="'./views/common/note-save.html'" class="ng-scope"></div> -->


<!-- confirmCancel Start -->
<div id="confirmCancel" class="modal fade ng-scope in common-small-popup" role="dialog" style="background: rgba(0, 0, 0, 0.33); z-index: 1300 !important;">
  <div class="modal-dialog">
    <!-- width: 25% !important;margin: 200px 0 0 510px !important; -->
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title patient-details-row">
          Canellation
          <button type="button" class="close" data-dismiss="modal" ng-click="vm.model.ModalDismiss('confirmCancel')">&times;</button>
        </div>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12 padding-left-right-set">
            <div class="row input-container margin-top10">
              <div class="col-lg-1 col-sm-1 col-md-1 polymer-icon">
                <i class="fa fa-sticky-note-o" aria-hidden="true"></i>
              </div>
              <div class="col-lg-11 col-sm-11 col-md-11 ">
                <div class="">
                  <select name="cancelReason" id="cancelReason" class="text-input floating-label" ng-model="vm.model.cancelReason" ng-class="{dirty: vm.model.cancelReason}"
                    ng-change="vm.model.isReasonValid = false">
                    <!-- ng-options="cancelReason.reason for cancelReason in vm.model.reasons" -->
                    <option value="">Select Reason</option>
                    <option ng-repeat="reason in vm.model.reasons" value="{{reason.id}}">{{reason.reason}}</option>
                  </select>
                  <label for="code">Select Reasons</label>
                </div>
                <p ng-if="vm.model.isReasonValid" class="errorMsg">Select Reason</p>
              </div>
            </div>
            <div class="row input-container margin-top10">
              <div class="col-lg-1 col-sm-1 col-md-1 polymer-icon">
                <i class="fa fa-sticky-note" aria-hidden="true"></i>
              </div>
              <div class="col-lg-11 col-sm-11 col-md-11 ">
                <div class="">
                  <textarea name="cancelNote" rows="4" id="cancelNote" class="text-input floating-label ng-pristine ng-untouched ng-valid ng-empty"
                    ng-model="vm.model.cancelNote" ng-class="{dirty: vm.model.cancelNote}"></textarea>
                  <label for="cancelNote">Note</label>
                </div>
              </div>
            </div>
            <!-- <input type="text" id="commonId" /> -->
          </div>
        </div>
      </div>
      <div class="modal-footer" style="border:none;">
        <button type="button" data-dismiss="modal" ng-disabled="cancelNote == ''" class="btn btn-primary" ng-click="vm.model.ApproveOpb();">Save</button>
      </div>
    </div>
  </div>
</div>
<!-- cancelPurchaseReqest END -->

<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

<script type="text/javascript">
  $(document).ready(function () {
    $(".selectedPageName").text("Opening Balance");
    $(".sidebar-nav li").each(function () {
      $(this).find("a").parents("li").removeClass("active");
    });
    $('a[href$="openingBalance"]').parents("li").addClass("active");
    /*************************** rejection radio button function*********************************/
    $(".add-new-item-row").hide();
    $(".get-request-row").hide();
    $(".addNewItemRadioBtnClass").change(function () {
      if ($(this).is(":checked")) {
        $(".add-new-item-row").show('slow');
        $(".get-request-row").hide('slow');
      }
    });
    $(".getRequestListBtnClass").change(function () {
      if ($(this).is(":checked")) {
        $(".add-new-item-row").hide('slow');
        $(".get-request-row").show('slow');
      }
    });

  });
  /*************************** add button function start*********************************/
  $(".table-th-bg").click(function () {
    /* alert(); */
    $(this).next().find(".selectedServicesList").toggle();
  });
</script>