<!-- /********************************************************************************************************************************************
Procurement - purchase - requestForAssestDisposalWorklist main page
Created by - Pranita Patil
Created Date - 14-Dec-2017 
/********************************************************************************************************************************************/ -->
<!-- Page Content -->
<div id="page-content-wrapper" class="">
	<div class="container-fluid his-style">
		<fieldset>
			<div class="row margin-top10">
				<div class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4 padding-top10">
					<div class="row input-container">
						<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon">
							<i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
						</div>
						<div class="col-lg-11 col-sm-11 col-md-11">
							<div class="">
								<input type="text" class="text-input floating-label dirty" name="fromDate" id="fromDate" uib-datepicker-popup="dd/MM/yyyy"
								 placeholder="DD/MM/YYYY" ng-model="vm.model.fromDate" model-view-value="true" is-open="vm.model.fromDateOpened" datepicker-options="vm.model.fromDateOptions"
								 show-button-bar="false" ng-click="vm.model.OpenFromDate()">
								<label for="code">From Date</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4 padding-top10">
					<div class="row input-container">
						<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon ">
							<i class="fa fa-calendar-minus-o" aria-hidden="true"></i>
						</div>
						<div class="col-lg-11 col-sm-11 col-md-11 ">
							<div class="">
								<input type="text" class="text-input floating-label dirty" name="toDate" id="toDate" uib-datepicker-popup="dd/MM/yyyy" placeholder="DD/MM/YYYY"
								 ng-model="vm.model.toDate" model-view-value="true" is-open="vm.model.toDateOpened" datepicker-options="vm.model.toDateOptions"
								 show-button-bar="false" ng-click="vm.model.OpenToDate()">
								<label for="code">To Date</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-3 padding-left-right-set4 padding-top10">
					<div class="row input-container">
						<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon ">
							<i class="fa fa-building-o" aria-hidden="true"></i>
						</div>
						<div class="col-lg-11 col-sm-11 col-md-11 ">
							<div class="">
								<select name="store" id="store" class="text-input floating-label dirty" ng-model="vm.model.store" data-ng-options="store.store for store in vm.model.stores">
								</select>
								<label for="description" class="LISDynamicLabel">Store</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-3 padding-left-right-set4 padding-top10">
					<div class="row input-container">
						<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon ">
							<i class="fa fa-dot-circle-o" aria-hidden="true"></i>
						</div>
						<div class="col-lg-11 col-sm-11 col-md-11 ">
							<div class="">
								<select name="assetType" id="assetType" class="text-input floating-label dirty" ng-model="vm.model.assetType" data-ng-options="assetType.type for assetType in vm.model.assetTypes">
								</select>
								<label for="description" class="LISDynamicLabel">Type</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4 padding-top10">
					<div class="row input-container">
						<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon ">
							<i class="fa fa-dot-circle-o" aria-hidden="true"></i>
						</div>
						<div class="col-lg-11 col-sm-11 col-md-11 ">
							<div class="">
								<select name="status" id="status" class="text-input floating-label dirty" ng-model="vm.model.status" data-ng-options="status.status for status in vm.model.statuses">
								</select>
								<label for="description" class="LISDynamicLabel">Status</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-1 col-md-1 col-sm-2 padding-left-right-set1 text-width-auto padding-top10">
					<div class=" ">
						<a href="" class="btn btn-primary btn-save-box-shadow" ng-click="vm.model.AssetDisposalSearch();" title="Search">
							<i class="fa fa-search" aria-hidden="true"></i>
						</a>
					</div>
				</div>

			</div>
		</fieldset>

		<div class="row margin-top4">
			<div class="col-md-12 col-lg-12 col-sm-12 padding-left-right-set4" id="nonBillableTableHt">
				<fieldset>
					<!-- <legend class="heading-div">Table</legend> -->
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 height500-table-with-scroll">
							<table class="table table-bordered first-checkBox-padding">
								<!-- mainServiceTable -->
								<thead class="mainServiceTableCommon">
									<tr>
										<th class="width8">
											Request Number
											<div class="float_right">
												<div>
													<i class="fa fa-caret-up" aria-hidden="true"></i>
												</div>
												<div class="margin-top-8">
													<i class="fa fa-caret-down" aria-hidden="true"></i>
												</div>
											</div>
										</th>
										<th class="width8">
											Request Date
											<div class="float_right">
												<div>
													<i class="fa fa-caret-up" aria-hidden="true"></i>
												</div>
												<div class="margin-top-8">
													<i class="fa fa-caret-down" aria-hidden="true"></i>
												</div>
											</div>
										</th>
										<th class="width10">
											Store Name
											<div class="float_right">
												<div>
													<i class="fa fa-caret-up" aria-hidden="true"></i>
												</div>
												<div class="margin-top-8">
													<i class="fa fa-caret-down" aria-hidden="true"></i>
												</div>
											</div>
										</th>
										<th class="width10">
											Type
											<div class="float_right">
												<div>
													<i class="fa fa-caret-up" aria-hidden="true"></i>
												</div>
												<div class="margin-top-8">
													<i class="fa fa-caret-down" aria-hidden="true"></i>
												</div>
											</div>
										</th>
										<th class="width8">
											Requested By
											<div class="float_right">
												<div>
													<i class="fa fa-caret-up" aria-hidden="true"></i>
												</div>
												<div class="margin-top-8">
													<i class="fa fa-caret-down" aria-hidden="true"></i>
												</div>
											</div>
										</th>
										<th class="width5">
											Status
											<div class="float_right">
												<div>
													<i class="fa fa-caret-up" aria-hidden="true"></i>
												</div>
												<div class="margin-top-8">
													<i class="fa fa-caret-down" aria-hidden="true"></i>
												</div>
											</div>
										</th>
										<th class="width7 text-center">Action
											<div class="float_right">
												<div>
													<i class="fa fa-caret-up" aria-hidden="true"></i>
												</div>
												<div class="margin-top-8">
													<i class="fa fa-caret-down" aria-hidden="true"></i>
												</div>
											</div>
										</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="disposal in vm.model.assetDisposalSearchData | orderBy:sortType:sortReverse | filter:search">
										<td>{{disposal.requestNo}}</td>
										<td>{{disposal.requestDate | date:'dd/MM/yyyy'}}</td>
										<td>{{disposal.storeName}}</td>
										<td>{{disposal.assetType}}</td>
										<td>{{disposal.requestedBy}}</td>
										<td>{{disposal.status}}</td>
										<td class="text-center">
											<!-- <a title="Edit"><i class="fa fa-pencil" aria-hidden="true"></i></a> -->
											<a title="Print">
												<i class="fa fa-print" aria-hidden="true"></i>
											</a>
											<!-- <a title="Cancel"><i class="fa fa-times-circle-o" aria-hidden="true" data-toggle="modal" data-target="#confirmCancel"></i></a> -->
											<a class="cursor-pointer" ng-click="vm.model.AssetDisposalDetails(disposal);">Details</a>
										</td>
									</tr>
									<tr ng-if="!vm.model.assetDisposalSearchData || vm.model.assetDisposalSearchData == false">
										<td colspan="9" class="text-center">
											<p>No Record Found</p>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</fieldset>
				<!-- <div class="row padding-top10">
					<div class="col-md-6 col-sm-4"></div>
					<div class="col-md-2 col-sm-2 padding-left-right15 text-right remark-label">
						<label>Remark</label>
					</div>
					<div class="col-md-4 col-sm-4 padding-left-right15">
						<textarea class="form-control" row="2"></textarea>
					</div>
				</div> -->
			</div>
		</div>
	</div>
</div>

<!-- details modal start -->
<div id="wasteStoreDetailsModal" class="modal fade ng-scope in" role="dialog">
	<div class="modal-dialog">
		<!-- width: 25% !important;margin: 200px 0 0 510px !important; -->
		<div class="modal-content">
			<div class="modal-header">
				<div class="modal-title patient-details-row">
					Purchase Request Details
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
			</div>
			<div class="modal-body">
				<!-- <div class="row patient-details-row">
					<div class="col-md-11 col-sm-11 col-xs-11 ">
						<span class=""><b class="padding-right10 ">Asset Category:</b> Category 1</span>
						<span class="margin-left10"><b class="padding-right10 ">Product Category:</b> Category 1 </span>
						<span class="margin-left10"><b class="padding-right10 ">Item Code:</b>12345</span>
						<span class="margin-left10"><b class="padding-right10 ">Item Name:</b>Item 1</span>
					</div>
				</div> -->
				<div class="row">
					<div class="col-lg-12 col-md-12 common-popup-height-350 padding-top10">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th class="text-center media-middle">
										<input type="checkbox" />
									</th>
									<th>Asset Category
										<div class="float_right">
											<div>
												<i class="fa fa-caret-up" aria-hidden="true"></i>
											</div>
											<div class="margin-top-8">
												<i class="fa fa-caret-down" aria-hidden="true"></i>
											</div>
										</div>
									</th>
									<th>Product Category
										<div class="float_right">
											<div>
												<i class="fa fa-caret-up" aria-hidden="true"></i>
											</div>
											<div class="margin-top-8">
												<i class="fa fa-caret-down" aria-hidden="true"></i>
											</div>
										</div>
									</th>
									<th>Item Code
										<div class="float_right">
											<div>
												<i class="fa fa-caret-up" aria-hidden="true"></i>
											</div>
											<div class="margin-top-8">
												<i class="fa fa-caret-down" aria-hidden="true"></i>
											</div>
										</div>
									</th>
									<th>Item Name
										<div class="float_right">
											<div>
												<i class="fa fa-caret-up" aria-hidden="true"></i>
											</div>
											<div class="margin-top-8">
												<i class="fa fa-caret-down" aria-hidden="true"></i>
											</div>
										</div>
									</th>
									<th>UOM
										<div class="float_right">
											<div>
												<i class="fa fa-caret-up" aria-hidden="true"></i>
											</div>
											<div class="margin-top-8">
												<i class="fa fa-caret-down" aria-hidden="true"></i>
											</div>
										</div>
									</th>
									<th>UOM Unit
										<div class="float_right">
											<div>
												<i class="fa fa-caret-up" aria-hidden="true"></i>
											</div>
											<div class="margin-top-8">
												<i class="fa fa-caret-down" aria-hidden="true"></i>
											</div>
										</div>
									</th>
									<th>Vendor Name
										<div class="float_right">
											<div>
												<i class="fa fa-caret-up" aria-hidden="true"></i>
											</div>
											<div class="margin-top-8">
												<i class="fa fa-caret-down" aria-hidden="true"></i>
											</div>
										</div>
									</th>
									<th>Vendor Invoice Date
										<div class="float_right">
											<div>
												<i class="fa fa-caret-up" aria-hidden="true"></i>
											</div>
											<div class="margin-top-8">
												<i class="fa fa-caret-down" aria-hidden="true"></i>
											</div>
										</div>
									</th>
									<th>Qty
										<div class="float_right">
											<div>
												<i class="fa fa-caret-up" aria-hidden="true"></i>
											</div>
											<div class="margin-top-8">
												<i class="fa fa-caret-down" aria-hidden="true"></i>
											</div>
										</div>
									</th>
									<th>COP
										<div class="float_right">
											<div>
												<i class="fa fa-caret-up" aria-hidden="true"></i>
											</div>
											<div class="margin-top-8">
												<i class="fa fa-caret-down" aria-hidden="true"></i>
											</div>
										</div>
									</th>
									<th title="Available Qty">Available Qty
										<div class="float_right">
											<div>
												<i class="fa fa-caret-up" aria-hidden="true"></i>
											</div>
											<div class="margin-top-8">
												<i class="fa fa-caret-down" aria-hidden="true"></i>
											</div>
										</div>
									</th>
									<th>Amount At COP
										<div class="float_right">
											<div>
												<i class="fa fa-caret-up" aria-hidden="true"></i>
											</div>
											<div class="margin-top-8">
												<i class="fa fa-caret-down" aria-hidden="true"></i>
											</div>
										</div>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<input type="checkbox" />
									</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="row his-style">
					<div class="col-md-8"></div>
					<div class="col-md-2 padding-left0px-right6px text-right">
						<div class="common-save-button">
							<!-- <input type="button" value="Returnable Gatepass" class="btn btn-primary btn-save-box-shadow text-width-auto"> -->
						</div>
					</div>
					<div class="col-md-1 padding-left-right-10 text-center">
						<div class="common-save-button">
							<input type="button" value="Save" class="btn btn-primary btn-save-box-shadow">
						</div>
					</div>
					<div class="col-md-1 padding-left0px-right6px">
						<div class="common-save-button">
							<input type="button" value="Close" class="btn btn-primary btn-save-box-shadow">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- details modal end -->
<script type="text/javascript">
	$(document).ready(function () {
		$(".selectedPageName").text("Request For Assest Disposal Worklist");
		$(".sidebar-nav li").each(function () {
			$(this).find("a").parents("li").removeClass("active");
		});
		/*************************** rejection radio button function*********************************/
		$(".add-new-item-row").hide();
		$(".get-request-row").hide();
		$(".addNewItemRadioBtnClass").change(function () {
			if ($(this).is(":checked")) {
				$(".add-new-item-row").show('slow');
				$(".get-request-row").hide('slow');
			}
		});
		$(".getRequestListBtnClass").change(function () {
			if ($(this).is(":checked")) {
				$(".add-new-item-row").hide('slow');
				$(".get-request-row").show('slow');
			}
		});

	});
	/*************************** add button function start*********************************/
	$(".table-th-bg").click(function () {
		/* alert(); */
		$(this).next().find(".selectedServicesList").toggle();
	});


</script>