<div id="page-content-wrapper">
	<div class="container-fluid his-style">
		<fieldset>
			<legend class="heading-div">Department Master</legend>
			<div class="row margin-top10">
				<form action="">
				<div class="col-lg-6 col-md-6 col-sm-6 padding-left-right-set4">
					<div class="col-lg-5 col-md-5 col-sm-5 padding-left-right-set4">
						<div class="padding-left-right-set">
							<label>Global Master</label>
							<div class="masterborder">
								<div class="checkbox">
									<label><input type="checkbox" value="">Master 1</label>
								</div>
								<div class="checkbox">
									<label><input type="checkbox" value="">Master 2</label>
								</div>
								<div class="checkbox">
									<label><input type="checkbox" value="">Master 3</label>
								</div>
								<div class="checkbox">
									<label><input type="checkbox" value="">Master 4</label>
								</div>
								<div class="checkbox">
									<label><input type="checkbox" value="">Master 5</label>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-1 col-md-1 col-sm-1 padding-left-right-set4">
						<div class="text-center margintop120">
							<button type="button" class="btn btn-primary width40 btn-sm">>></button>
							<div class="padding-top10"><button type="button" class="btn btn-primary width40 btn-sm">>></button></div>
						</div>
					</div>
					<div class="col-lg-5 col-md-5 col-sm-5 padding-left-right-set4">
						<div class="padding-left-right-set">
							<label>Unit Master</label>
							<div class="masterborder">
								<div class="checkbox">
									<label><input type="checkbox" value="">Master 1</label>
								</div>
								<div class="checkbox">
									<label><input type="checkbox" value="">Master 2</label>
								</div>
								<div class="checkbox">
									<label><input type="checkbox" value="">Master 3</label>
								</div>
								<div class="checkbox">
									<label><input type="checkbox" value="">Master 4</label>
								</div>
								<div class="checkbox">
									<label><input type="checkbox" value="">Master 5</label>
								</div>
							</div>
						</div>
					</div>
					</div>
				</form>
			</div>
		</fieldset>
	</div>
</div>