<!-- Page Content -->
<div id="page-content-wrapper" class="">
	<div class="container-fluid his-style">
		<div class="row padding-left-right-10 padding-left0 margin-top4">
			<div class="col-lg-3 col-md-4 col-sm-3 padding-left-right-set4 padding-top10">
				<div class="col-lg-6 col-md-6 col-sm-6 padding-left-right-set4 padding-top2">
					<div class="row input-container">
						<div class="col-lg-2 col-sm-2 col-md-2 polymer-icon">
							<i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
						</div>
						<div class="col-lg-10 col-sm-10 col-md-10">
							<div class="">
								<input type="text" name="code" class="text-input floating-label dirty">
								<label for="code">From Date</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 padding-left-right-set4 padding-top2" >
					<div class="row input-container">
						<div class="col-lg-2 col-sm-2 col-md-2 polymer-icon">
							<i class="fa fa-calendar-minus-o" aria-hidden="true"></i>
						</div>
						<div class="col-lg-10 col-sm-10 col-md-10">
							<div class="">
								<input type="text" name="code" class="text-input floating-label dirty">
								<label for="code">To Date</label>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4 padding-top10">
				<div class="row input-container padding-top2" >
					<div class="col-lg-1 col-sm-1 col-md-2 polymer-icon">
						<i class="fa fa-building-o" aria-hidden="true"></i>
					</div>
					<div class="col-lg-11 col-sm-11 col-md-10">
						<div class="">
							<input type="text" name="code" class="text-input floating-label dirty">
							<label for="code">Store</label>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4 padding-top10">
				<div class="row input-container padding-top2" >
					<div class="col-lg-1 col-sm-1 col-md-2 polymer-icon">
						<i class="fa fa-user" aria-hidden="true"></i>
					</div>
					<div class="col-lg-11 col-sm-11 col-md-10">
						<div class="">
							<input type="text" name="code" class="text-input floating-label dirty">
							<label for="code">Vendor</label>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-3 padding-left-right-set4 padding-top10">
				<div class="col-lg-6 col-md-6 col-sm-6 padding-left-right-set4">
					<div class="row input-container">
			          <div class="col-lg-2 col-sm-2 col-md-2 polymer-icon">
			            	<i class="fa  fa-bullseye" aria-hidden="true"></i>
			          </div>
			          <div class="col-lg-10 col-sm-10 col-md-10">
				            <div class="">
				              <select class="text-input floating-label dirty">
				                <option value=""></option>
				              </select>
				              <label for="code"> Inward No</label>
				            </div>
			          	</div>
			        </div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 padding-left-right-set4 padding-top2">
					<div class="row input-container">
						<div class="col-lg-2 col-sm-2 col-md-2 polymer-icon">
							<i class="fa fa fa-bullseye" aria-hidden="true"></i>
						</div>
						<div class="col-lg-10 col-sm-10 col-md-10">
							<div class="">
								<select class="text-input floating-label dirty">
					                <option value=""></option>
					            </select>
								<label for="code">Status</label>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-md-2 col-sm-2 padding-left-right-set4 padding-top4">
				<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 padding-top2"> 
		          	<div class="common-save-button" style="padding-top:  0px;">
						<a href="" class="btn btn-primary btn-save-box-shadow" style="width: auto;">
							<i class="fa fa-search" aria-hidden="true"></i>
						</a>
					</div>
		        </div>
    			<div class="col-lg-5 col-md-5 col-sm-5  padding-left-right-set4 padding-top2"> 
		          <a href="#/addNewConsignmentInward">
		            <input type="button" value="Add New" class="btn btn-primary btn-save-box-shadow">
		          </a>
		        </div>
		     </div>
		</div>
		<div class="row margin-top4 padding-left-right-set4">
			<div class="col-lg-1 col-md-1 col-sm-2 padding-left-right-set4 float_right text-width-auto">
				<div>
			        <a href="" class="btn btn-primary btn-save-box-shadow" title="Save">
			        	<i class="fa fa-floppy-o" style="font-size: 21px" aria-hidden="true"></i>
			        </a>
			    </div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set0 float_right">
				<input type="text" class="text-search-box" placeholder="Search" style="margin-top: 0px">
				<i class="fa fa-search common-search-text-icon" aria-hidden="true"></i>
			</div>
		</div>
		<div class="row margin-top4 padding-left-right-set4">
          <div class="col-lg-12 col-md-12 col-sm-12">
	          <table class="table table-bordered first-checkBox-padding">
		            <thead class="mainServiceTableCommon">
		              <tr>
		              	<th class="width1">
		              		<input type="checkbox">
		              	</th>
		                <th class="width6">
		                  Inward No.
		                  <div class="float_right">
		                    <div>
		                      <i class="fa fa-caret-up" aria-hidden="true"></i>
		                    </div>
		                    <div class="margin-top-8">
		                      <i class="fa fa-caret-down" aria-hidden="true"></i>
		                    </div>
		                  </div>
		                </th>
		                <th class="width6">
		                  Inward Date
		                  <div class="float_right">
		                    <div>
		                      <i class="fa fa-caret-up" aria-hidden="true"></i>
		                    </div>
		                    <div class="margin-top-8">
		                      <i class="fa fa-caret-down" aria-hidden="true"></i>
		                    </div>
		                  </div>
		                </th>
		                <th class="width6">
		                   Store
		                  <div class="float_right">
		                    <div>
		                      <i class="fa fa-caret-up" aria-hidden="true"></i>
		                    </div>
		                    <div class="margin-top-8">
		                      <i class="fa fa-caret-down" aria-hidden="true"></i>
		                    </div>
		                  </div>
		                </th>
		                 <th class="width8">
		                   Vendor
		                  <div class="float_right">
		                    <div>
		                      <i class="fa fa-caret-up" aria-hidden="true"></i>
		                    </div>
		                    <div class="margin-top-8">
		                      <i class="fa fa-caret-down" aria-hidden="true"></i>
		                    </div>
		                  </div>
		                </th>
		                <th class="width8">
		                   Remarks
		                  <div class="float_right">
		                    <div>
		                      <i class="fa fa-caret-up" aria-hidden="true"></i>
		                    </div>
		                    <div class="margin-top-8">
		                      <i class="fa fa-caret-down" aria-hidden="true"></i>
		                    </div>
		                  </div>
		                </th>
		                <th class="width8">
		                  Inward By
		                  <div class="float_right">
		                    <div>
		                      <i class="fa fa-caret-up" aria-hidden="true"></i>
		                    </div>
		                    <div class="margin-top-8">
		                      <i class="fa fa-caret-down" aria-hidden="true"></i>
		                    </div>
		                  </div>
		                </th>
		                <th class="width4">
		                  Status
		                  <div class="float_right">
		                    <div>
		                      <i class="fa fa-caret-up" aria-hidden="true"></i>
		                    </div>
		                    <div class="margin-top-8">
		                      <i class="fa fa-caret-down" aria-hidden="true"></i>
		                    </div>
		                  </div>
		                </th>
		                <th class="width6">
		                   Action
		                </th>
		              </tr>
		            </thead>
		            <tbody>
		            	<tr>
		            		<td>
		            			<input type="checkbox"/>
		            		</td>
		            		<td>-</td>
		            		<td>-</td>
		            		<td>-</td>
		            		<td>-</td>
		            		<td>-</td>
		            		<td>-</td>
		            		<td>-</td>
		            		<td class="cursor-pointer">
								<div class="col-lg-2 col-md-2 col-sm-3">
									<a title="Print">
										<i class="fa fa-print" aria-hidden="true"></i>
									</a>
								</div>
								<div class="col-lg-2 col-md-2 col-sm-3">
									<a title="Edit">
										<i class="fa fa-pencil" aria-hidden="true"></i>
									</a>
								</div>
								<div class="col-lg-2 col-md-2 col-sm-3">
									<a title="Cancel">
										<i class="fa fa-times-circle-o" aria-hidden="true"></i>
									</a>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 padding-left-right-set4">
									<a href="#/detailsConsignmentInward">Details</a>
								</div>
							</td>
		            	</tr>
		            </tbody>
	          </table>
          </div>
        </div>
	</div>
</div>
<script src="resources/assets/js/common/page-height.js"></script>
<script type="text/javascript">
	$(document).ready(function() {

		$(".selectedPageName").text("Consignment Inward");
		$(".sidebar-nav li").each(function() {
			$(this).find("a").parents("li").removeClass("active");
		});
		$('a[href$="consignmentInward"]').parents("li").addClass("active");
	});
</script>