
        <!-- Page Content -->
        <div id="page-content-wrapper" class="">
            <div class="container-fluid his-style">
            	<div class="row margin-top4">
					<div class="col-md-3 col-sm-3 col-lg-3 padding-left-right-set4 float_right ">
						<div>
							<input type="text" class="text-search-box" placeholder="Search" style="margin-top:0px">
							<i class="fa fa-search common-search-text-icon" aria-hidden="true"></i>
						</div>
					</div>
				</div>
				<div class="row margin-top10">
					<div class="col-lg-12 col-md-12 col-sm-12 padding-left-right-set4">
						<table class="table table-bordered ">
							<tr>
								<th class="UHID-width">
									UHID
									<div class="float_right">
										<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
										<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
									</div>
								</th>
								<th class="patient-doc-details-width">
									Mother Details
									<div class="float_right">
										<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
										<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
									</div>
								</th>
								<th class="patient-doc-details-width">
									Doctor Details									
									<div class="float_right">
										<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
										<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
									</div>
								</th>
								<th class="patient-doc-details-width">
									Location									
									<div class="float_right">
										<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
										<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
									</div>
								</th>
								<th class="width3">
									Action
									<div class="float_right">
										<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i></div>
									</div>
								</th>
							</tr>
							<tr>
								<td>UH2371452147896</td>
								<td>
									<div>Soniya Rao 26/F </div>
								</td>
								<td>
									<div> Dr Brick Wall, Anesthesiologist</div>
								</td>
								<td>
									<div>Ward-1 BM1234567896456</div>
								</td>
								<td>
									<div class="text-center">
										<a href="" data-toggle="modal" data-target="#cradleBedDetails">Cradle Bed</a>
									</div>
								</td>
							</tr>
							<tr>
								<td>UH2371603147852</td>
								<td>
									<div>Emma Ennis 32/F </div>
								</td>
								<td>
									<div> Dr. James Hawkins, Surgeon</div>
								</td>
								<td>
									<div>Ward-1 BM1234560000</div>
								</td>
								<td>
									<div class="text-center">
										<a href="" data-toggle="modal" data-target="#cradleBedDetails">Cradle Bed</a>
									</div>
								</td>
							</tr>
						</table>
					</div>
				</div>
  			</div>
		</div>
	
	   
   <div id="cradleBedDetails" class="modal fade ng-scope in common-popup-header-content common-large-popup" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<div class="modal-title patient-details-row">
					Cradle Bed Details
					<button type="button" class="close" data-dismiss="modal">x</button>
				</div>
			</div>
			<div class="modal-body">
				<div class="row patient-details-row ">
					<div class="col-md-11 col-sm-11 col-xs-11 ">
						<span class="profile_pic margin-left10"> 
							<img alt="" src="resources/assets/images/tempImages/m.jpg" class="img-circle" style="width:30px">
						</span> 
						<span class="margin-left10">Soniya Rao 26/F </span>
						<span class="margin-left10"><b class="padding-right5 ">UHID	:</b> Pune-769</span>
						<span class="margin-left10"><b class="padding-right10 ">Priority :</b> Normal</span>
						<span class="margin-left10">Dr. Suresh Pathak </span>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 fix-height-scroll450 margin-top4 padding-left-right-set4">
						<table class="table table-bordered ">
							<tr class="">
								<th class="patient-doc-details-width">
									Baby Name
									<div class="float_right">
										<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
										<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
									</div>
								</th>
								<th class="UHID-width">
									DOB
									<div class="float_right">
										<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
										<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
									</div>
								</th>
								<th class="UHID-width">
									Time Of Birth							
									<div class="float_right">
										<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
										<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
									</div>
								</th>
								<th class="status">
									Sex								
									<div class="float_right">
										<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
										<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
									</div>
								</th>
								<th class="status">
									Weight							
									<div class="float_right">
										<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
										<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
									</div>
								</th>
								<th class="status">
									Head Circumference 
									<div class="float_right">
										<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
										<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
									</div>
								</th>
								<th class="status">
									Height
									<div class="float_right">
										<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
										<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
									</div>
								</th>
								<th class="UHID-width">
									Cradle Bed No.
									<div class="float_right">
										<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
										<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
									</div>
								</th>
								<th class="width3">
									Action
									<div class="float_right">
										<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
										<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
									</div>
								</th>
							</tr>
							<tr>
								<td>
									<div>Noah Deo</div>
								</td>
								<td>
									<div>20/02/2017</div>
								</td>
								<td>
									<div>12:10pm</div>
								</td>
								<td>
									<div>
										Male
									</div>
								</td>
								<td>
									<div>5 pound</div>
								</td>
								<td>
									<div>
										10.20
									</div>
								</td>
								<td>
									<div>54.5 cm</div>
								</td>
								
								<td>
									<div>108596320</div>
								</td>
								<td>
									<div class="text-center">
										<a href=""><button type="button" class="btn btn-primary">Save</button></a>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div>Jared Ennis </div>
								</td>
								<td>
									<div>20/02/2017</div>
								</td>
								<td>
									<div>05:10am</div>
								</td>
								<td>
									<div>
										Male
									</div>
								</td>
								<td>
									<div>5 pound</div>
								</td>
								<td>
									<div>
										4.5
									</div>
								</td>
								<td>
									<div>60.20 cm</div>
								</td>
								
								<td>
									<div>108596320</div>
								</td>
								<td>
									<div class="text-center">
										<a href=""><button type="button" class="btn btn-primary">Save</button></a>
									</div>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	
	
	<script type="text/javascript">
	$( document ).ready(function() {
	
		var documentHeight= $(window).height();
	    var sideBarHeight = documentHeight - 55;
	 	$("#page-content-wrapper").css("height", sideBarHeight + "px" );
		
		$('.deposit-matrix-bed-reservation').hide();
		$(".selectedPageName").text("Cradle Bed Allocation");
		$(".sidebar-nav li").each(function() {
			$(this).find("a").parents("li").removeClass("active");
		});
		$('a[href$="pendingAdmissionDischarge"]').parents("li").addClass("active");
		$('.clockpicker').clockpicker();
	});
	

	
	
</script>
</body>
</html>