<!-- Page Content -->
<div id="page-content-wrapper">
	<div class="container-fluid his-style">
            	
        <div class="row margin-top10 padding-left-right-set4">
			
			<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set0 float_right">
				<input type="text" class="text-search-box" placeholder="Search" style="margin-top: 0px"> <i class="fa fa-search common-search-text-icon" aria-hidden="true"></i>
			</div>
		</div>
            	
		<div class="row padding-left-right-set4 padding-top10">
			<div class="col-md-12 col-sm-12 padding-top5">
				<table class="table table-bordered ">
					<tr class="">
						<th class="UHID-width">
							UHID
							<div class="float_right">
								<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
								<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
							</div>
						</th>
						<th class="patient-doc-details-width">
							Patient Details
							<div class="float_right">
								<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
								<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
							</div>
						</th>
						<th class="patient-doc-details-width">
							Doctor Details
							<div class="float_right">
								<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
								<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
							</div>
						</th>
						<th class="UHID-width">
							Location
							<div class="float_right">
								<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
								<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
							</div>
						</th>
						<th class="patient-doc-details-width">
							Reason For Discharge
							<div class="float_right">
								<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
								<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
							</div>
						</th>
						<th class="status">
							Status
							<div class="float_right">
								<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
								<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
							</div>
						</th>
						<th class="status">
							Action
							<div class="float_right">
								<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
								<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
							</div>
						</th>
					</tr>
					<tr ng-repeat="info in listOfAdmittedPatientList">
						<td>
							<div>{{info.uhidnumber}}</div>
						</td>
							<td ng-init='age=getAge(info.dob)'>
									<div ng-if="info.patientId > 0">{{info.pFirstName+' '+age+'/'+info.genderCode}}</div>
									<div  ng-if="info.tPatientId > 0">{{info.pFirstName+' '+info.dob+'/'+info.genderCode}}</div>
								</td>
						<td>
							<div ng-if="info.specialityName != null">Dr. {{info.dFirstName+', '+info.specialityName}}</div>
							<div ng-if="info.specialityName == null">Dr. {{info.dFirstName}}</div>
						</td>
						<td>
								<div ng-if="info.bedNumber != null">{{info.floorName+', '+info.bedNumber}}</div>
							    <div ng-if="info.bedNumber == null">{{info.erBedTypeAllocationDesc}}</div>
						</td>
						<td>
							<div>{{info.dischargeTypeName}}</div>
						</td>
						<td>
							<div>{{info.dischargeDesc}} </div>
						</td>
						<td>
							<input type="button" value="Vacate Bed" ng-disabled="{{info.dischargeStatusId == 3 ? false:true}}" ng-click="vocateBedAgainstPatient(info)" class="btn btn-primary btn-save-box-shadow">
						</td>
					</tr>
				
					
				</table>
			</div>
		</div>
	</div>
	<footer class="col-lg-12 col-md-12 col-sm-12 padding-left-right15">
				<div class="row padding-left-right15">
					<div class="col-lg-11 col-md-11 col-sm-10"></div>
						<div class="col-lg-1 col-md-1 col-sm-2 padding-left-right-set float_right text-width-auto">
							<div class=" ">
								<a href="#/bedManagement" class="btn btn-primary btn-save-box-shadow" title="Back">Back</a>
							</div>
						</div>
					</div>
			</footer>
</div>
	<script type="text/javascript">

	$( document ).ready(function() {
		
		var documentHeight= $(window).height();
	    var sideBarHeight = documentHeight - 55;
	 	$("#page-content-wrapper").css("height", sideBarHeight + "px" );
	 	
		
		$(".selectedPageName").text("Final Discharge");
		$(".sidebar-nav li").each(function() {
			$(this).find("a").parents("li").removeClass("active");
		});
		$('a[href$="readyForBilling"]').parents("li").addClass("active");
	});
	</script>
