







<!-- ADD SERVICE POPUP -->
<div id="nextOfKinDetailsInList" class="common-large-popup modal fade ng-scope in his-style" role="dialog">
		<div class="modal-dialog"> <!-- width: 25% !important;margin: 200px 0 0 510px !important; -->
			<div class="modal-content">
				<div class="modal-header">
					<div class="modal-title patient-details-row">
						Next Of Kin Details
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
				</div>
				<div class="modal-body">
					<div class="col-md-12" style="background-color: white">
						<fieldset class="normalRegistration sub-fieldset ">
						<div class="row">
							<div class="col-md-12 col-lg-12 fix-height-scroll450">
								<table class="table table-bordered">
									<tr>
										<th class="width15">
											<span class="">Name</span>
										</th>
										<th class="width5">
											Sex
										</th>
										<th class="width15">
											Mobile Number
										</th>
										<th class="date-column">
											Birth Date
										</th>
										<th class="date-column">
											Age
										</th>
										<th class="date-column">
											Action
										</th>
									</tr>
									<tr>
										<td>
											-
										</td>
										<td>
											-
										</td>
										<td>
											-
										</td>
										<td>
											-
										</td>
										<td>
											-
										</td>
										<td>
											<a href=""><i class="fa fa-pencil" aria-hidden="true"></i></a>
											<a href="" class="margin-left10"><i class="fa fa-times" aria-hidden="true"></i></a>
										</td>
									</tr>
									<tr>
										<td>
											-
										</td>
										<td>
											-
										</td>
										<td>
											-
										</td>
										<td>
											-
										</td>
										<td>
											-
										</td>
										<td>
											<a href=""><i class="fa fa-pencil" aria-hidden="true"></i></a>
											<a href="" class="margin-left10"><i class="fa fa-times" aria-hidden="true"></i></a>
										</td>
									</tr>
								</table>
							</div>
						</div>
				</fieldset>
					</div>
				</div>
			</div>
		</div>
</div>




