<!-- Page Content -->
<div id="page-content-wrapper" class="">
	<div class="container-fluid his-style">
		<fieldset class="main-fieldset">
			<!-- <legend class="heading-div">Material Issue</legend> -->
			<!-- Store  -->
			<div class="row margin-top10">
				<div
					class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4 padding-top10">
					<div class="row input-container">
						<div class="col-lg-2 col-md-2 col-sm-2 polymer-icon">
							<i class="fa fa-tasks" aria-hidden="true"></i>
						</div>
						<div class="col-lg-10 col-sm-10 col-md-10">
							<div class="">
								<select class="text-input floating-label dirty">
									<option>Main Store</option>
								</select> <label for="code">From Store</label>
							</div>
						</div>
					</div>
				</div>
				<div
					class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4 padding-top10">
					<div class="row input-container">
						<div class="col-lg-2 col-md-2 col-sm-2 polymer-icon">
							<i class="fa fa-tasks" aria-hidden="true"></i>
						</div>
						<div class="col-lg-10 col-sm-10 col-md-10">
							<div class="">
								<select class="text-input floating-label dirty">
									<option>Pharmacy Store</option>
								</select> <label for="code">To Store</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set padding-top10 text-center">
					<div class="checkbox">
						<label class="common-lable-color-set"><input type="checkbox" value="">Is Consignment</label>
					</div>
				</div>
				<div class="col-md-3 padding-left-right-set1 padding-top10">
					<label class="cursor-pointer radio-inline padding-top10"><input type="radio" name="optradio" class="radioAcceptedHold4" data-toggle="modal" data-target="#getIndentModal" checked>With Indent</label> 
					<label class="cursor-pointer radio-inline padding-top10"><input type="radio" name="optradio" class="radioRejected4" data-toggle="modal" data-target="#addNewItemWasteStore">Without Indent</label>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-3 padding-left-right-set0 float_right">
					<input type="text" class="text-search-box" placeholder="Search" style="margin-top: 0px"> 
					<i class="fa fa-search common-search-text-icon" aria-hidden="true"></i>
				</div>
			</div>
		</fieldset>
		<!-- <div class="row margin-top10 padding-left-right-set4">
			<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set0 float_right">
				<input type="text" class="text-search-box" placeholder="Search" style="margin-top: 0px"> <i class="fa fa-search common-search-text-icon" aria-hidden="true"></i>
			</div>
		</div> -->
		<div class="row padding-left-right-set4 padding-top10">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<table class="table table-bordered first-checkBox-padding">
					<!-- mainServiceTable -->
					<thead class="mainServiceTableCommon">
						<tr>
							<th class="width1 text-center"><input type="checkbox" /></th>
							<th class="width7 vertical-middle">Item Code
								<div class="float_right">
									<div>
										<i class="fa fa-caret-up" aria-hidden="true"></i>
									</div>
									<div class="margin-top-8">
										<i class="fa fa-caret-down" aria-hidden="true"></i>
									</div>
								</div>
							</th>
							<th class="width8 vertical-middle">Item Name
								<div class="float_right">
									<div>
										<i class="fa fa-caret-up" aria-hidden="true"></i>
									</div>
									<div class="margin-top-8">
										<i class="fa fa-caret-down" aria-hidden="true"></i>
									</div>
								</div>
							</th>
							<th class="width8 vertical-middle">Generic Name
								<div class="float_right">
									<div>
										<i class="fa fa-caret-up" aria-hidden="true"></i>
									</div>
									<div class="margin-top-8">
										<i class="fa fa-caret-down" aria-hidden="true"></i>
									</div>
								</div>
							</th>
							<th class="width6 vertical-middle">UOM
								<div class="float_right">
									<div>
										<i class="fa fa-caret-up" aria-hidden="true"></i>
									</div>
									<div class="margin-top-8">
										<i class="fa fa-caret-down" aria-hidden="true"></i>
									</div>
								</div>
							</th>
							<th class="width8 vertical-middle">UOM Unit
								<div class="float_right">
									<div>
										<i class="fa fa-caret-up" aria-hidden="true"></i>
									</div>
									<div class="margin-top-8">
										<i class="fa fa-caret-down" aria-hidden="true"></i>
									</div>
								</div>
							</th>
							<th class="width8 vertical-middle">Indent Qty
								<div class="float_right">
									<div>
										<i class="fa fa-caret-up" aria-hidden="true"></i>
									</div>
									<div class="margin-top-8">
										<i class="fa fa-caret-down" aria-hidden="true"></i>
									</div>
								</div>
							</th>
							<th class="width12 vertical-middle">Pending Indent Qty
								<div class="float_right">
									<div>
										<i class="fa fa-caret-up" aria-hidden="true"></i>
									</div>
									<div class="margin-top-8">
										<i class="fa fa-caret-down" aria-hidden="true"></i>
									</div>
								</div>
							</th>
							<th class="width8 vertical-middle">Batch No.
								<div class="float_right">
									<div>
										<i class="fa fa-caret-up" aria-hidden="true"></i>
									</div>
									<div class="margin-top-8">
										<i class="fa fa-caret-down" aria-hidden="true"></i>
									</div>
								</div>
							</th>
							<th class="width8 vertical-middle">Expiry Date
								<div class="float_right">
									<div>
										<i class="fa fa-caret-up" aria-hidden="true"></i>
									</div>
									<div class="margin-top-8">
										<i class="fa fa-caret-down" aria-hidden="true"></i>
									</div>
								</div>
							</th>
							<th class="width8 vertical-middle">Stock Available
								<div class="float_right">
									<div>
										<i class="fa fa-caret-up" aria-hidden="true"></i>
									</div>
									<div class="margin-top-8">
										<i class="fa fa-caret-down" aria-hidden="true"></i>
									</div>
								</div>
							</th>
							<th class="width6 vertical-middle">Issue Qty
								<div class="float_right">
									<div>
										<i class="fa fa-caret-up" aria-hidden="true"></i>
									</div>
									<div class="margin-top-8">
										<i class="fa fa-caret-down" aria-hidden="true"></i>
									</div>
								</div>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="text-center vertical-middle"><input type="checkbox" class=""></td>
							<td>IM-121</td>
							<td>I.V.SET</td>
							<td>-</td>
							<td>SUOM</td>
							<td>Box</td>
							<td>10</td>
							<td>0</td>
							<td class=" cursor-pointer" data-toggle="modal" data-target="#getBatchModal">BT-672</td>
							<td>25/02/2019</td>
							<td>150</td>
							<td>
								<input type="number" placeholder="" class="w-100" value="10">
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
		<footer class="col-lg-12 col-md-12 col-sm-12 padding-left-right-set4 padding-right20">
			<div class="row his-style padding-right20">
				<div class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4">
						<div class="row input-container">
							<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon">
								<i class="fa fa-caret-square-o-right " aria-hidden="true"></i>
							</div>
							<div class="col-lg-11 col-sm-11 col-md-11">
								<div class="">
									<select class="text-input floating-label dirty">
										<option value="">Saeed G</option>
									</select> <label for="code">Carrier</label>
								</div>
							</div>
						</div>
					</div>
				<div class="col-md-1 text-right">
					<label>Remark:</label>
				</div>
				<div class="col-md-7 padding-left-right8">
					<textarea row="1" class="form-control">-</textarea>
				</div>
				<div class="col-md-1 padding-left0px-right6px">
					<div class="">
						<!-- common-save-button -->
						<input type="button" value="Save"
							class="btn btn-primary btn-save-box-shadow">
					</div>
				</div>
				<div class="col-md-1 padding-left0px-right6px">
						<div class="">
							<a href="#/materialIssue"> <input type="button" value="Back"
								class="btn btn-primary btn-save-box-shadow">
							</a>
						</div>
					</div>
			</div>
		</footer>
	</div>
</div>
<!-- Get Indent modal -->
<div id="getIndentModal" class="modal fade ng-scope in common-large-popup" role="dialog">
	<div class="modal-dialog">
		<!-- width: 25% !important;margin: 200px 0 0 510px !important; -->
		<div class="modal-content">
			<div class="modal-header">
				<div class="modal-title patient-details-row">
					Material With Indent
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
			</div>
			<div class="modal-body">
				<fieldset class="get-request-row">
					<div class="row margin-top10">
						<div
							class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4 padding-top10">
							<div class="row input-container">
								<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon">
									<i class="fa fa-tasks" aria-hidden="true"></i>
								</div>
								<div class="col-lg-11 col-sm-11 col-md-11">
									<div class="">
										<select class="text-input floating-label">
											<option value=""></option>
											<option value="Type 1">Type 1</option>
											<option value="Type 2">Type 2</option>
										</select> <label for="code">From Store</label>
									</div>
								</div>
							</div>
						</div>
						<div
							class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4 padding-top10">
							<div class="row input-container">
								<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon">
									<i class="fa fa-tasks" aria-hidden="true"></i>
								</div>
								<div class="col-lg-11 col-sm-11 col-md-11">
									<div class="">
										<select class="text-input floating-label">
											<option value=""></option>
											<option value="Type 1">Type 1</option>
											<option value="Type 2">Type 2</option>
										</select> <label for="code">To Store</label>
									</div>
								</div>
							</div>
						</div>
						<div
							class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4 padding-top10">
							<div class="row input-container">
								<div class="col-lg-2 col-sm-2 col-md-2 polymer-icon">
									<i class="fa fa-calendar" aria-hidden="true"></i>
								</div>
								<div class="col-lg-10 col-sm-10 col-md-10">
									<div class="">
										<input type="text" name="code" id=""
											class="text-input floating-label"> <label for="code">Date</label>
									</div>
								</div>
							</div>
						</div>
						<div
							class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4 padding-top10">
							<div class="row input-container">
								<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon">
									<i class="fa fa-dot-circle-o" aria-hidden="true"></i>
								</div>
								<div class="col-lg-11 col-sm-11 col-md-11">
									<div class="">
										<select class="text-input floating-label">
											<option value=""></option>
											<option value="Type2"></option>
										</select> <label for="code">Priority</label>
									</div>
								</div>
							</div>
						</div>
						<div
							class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 padding-top10">
							<div class="row input-container">
								<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon">
									<i class="fa fa-search" aria-hidden="true"></i>
								</div>
								<div class="col-lg-11 col-sm-11 col-md-11">
									<div class="">
										<input type="text" name="code" id=""
											class="text-input floating-label"> <label for="code">Search</label>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-1 col-md-2 col-sm-2 padding-left0px-right6px pull-right text-right padding-top4">
							<div class="common-save-button">
								<a href="" class="btn btn-primary btn-save-box-shadow" style="width: 36%;" ng-click="patientSearchByMultipleCriteria()">
									<i class="fa fa-search" aria-hidden="true"></i>
								</a>
							</div>
						</div>
					</div>
					<div class="row padding-top10">
						<div class="col-lg-12 col-md-12 col-sm-12">
							<table class="table table-bordered">
								<thead>
									<tr class="">
										<th colspan="7" class="font-weight700">Details</th>
									</tr>
								</thead>
								<tbody>
									<tr class="table-th-bg indent-details cursor-pointer">
										<td class="text-center"><input type="checkbox"></td>
										<td>
											<div class="col-md-4 font-weight700">Indent No.:</div>
											<div class="col-md-4  text-left">1245144</div>
											<div class="col-md-4 font-weight700 text-right">
												Indent Date:</div>
										</td>
										<td>
											<div class="col-md-3  text-left">17/11/17</div>
											<div class="col-md-4 font-weight700 text-right">From Store:</div>
											<div class="col-md-4  padding-left-right-10">-</div>
										</td>
										<td colspan="2">
											<div class="col-md-4 font-weight700 text-left"
												title="Requested By">To Store:</div>
											<div class="col-md-4  text-left">-</div>
											<div class="col-md-4 font-weight700 text-right">
												Priority:</div>
										</td>
										<td>
											<div class="col-md-5   text-left">-</div>
											<div class="col-md-3 font-weight700 text-right">Type:</div>
											<div class="col-md-3  text-left padding-left-right-10">-</div>
										</td>
									</tr>
									<tr>
										<td colspan="6">
											<div class="selectedServicesList" style="display: none;">
												<table class="table table-bordered ">
													<tbody>
														<tr>
															<th class="width1"></th>
															<th class="width10">Item Code
																<div class="float_right">
																	<div>
																		<i class="fa fa-caret-up" aria-hidden="true"></i>
																	</div>
																	<div class="margin-top-8">
																		<i class="fa fa-caret-down" aria-hidden="true"></i>
																	</div>
																</div>
															</th>
															<th class="width10">Item Name
																<div class="float_right">
																	<div>
																		<i class="fa fa-caret-up" aria-hidden="true"></i>
																	</div>
																	<div class="margin-top-8">
																		<i class="fa fa-caret-down" aria-hidden="true"></i>
																	</div>
																</div>
															</th>
															<th class="width10">Generic Name
																<div class="float_right">
																	<div>
																		<i class="fa fa-caret-up" aria-hidden="true"></i>
																	</div>
																	<div class="margin-top-8">
																		<i class="fa fa-caret-down" aria-hidden="true"></i>
																	</div>
																</div>
															</th>
															<th class="width8">UOM Unit
																<div class="float_right">
																	<div>
																		<i class="fa fa-caret-up" aria-hidden="true"></i>
																	</div>
																	<div class="margin-top-8">
																		<i class="fa fa-caret-down" aria-hidden="true"></i>
																	</div>
																</div>
															</th>
															<th class="width8">Indent Qty
																<div class="float_right">
																	<div>
																		<i class="fa fa-caret-up" aria-hidden="true"></i>
																	</div>
																	<div class="margin-top-8">
																		<i class="fa fa-caret-down" aria-hidden="true"></i>
																	</div>
																</div>
															</th>
															<th class="width8">Pending Qty
																<div class="float_right">
																	<div>
																		<i class="fa fa-caret-up" aria-hidden="true"></i>
																	</div>
																	<div class="margin-top-8">
																		<i class="fa fa-caret-down" aria-hidden="true"></i>
																	</div>
																</div>
															</th>
														</tr>
														<tr>
															<td class=" text-center"><input
																type="checkbox"></td>
															<td class="">-</td>
															<td class="">-</td>
															<td class="">-</td>
															<td class="">-</td>
															<td class="">-</td>
															<td class="">-</td>
														</tr>
													</tbody>
												</table>
											</div>
										</td>
									</tr>
									<tr class="table-th-bg indent-details cursor-pointer">
										<td class="text-center"><input type="checkbox"></td>
										<td>
											<div class="col-md-4 font-weight700">Indent No.:</div>
											<div class="col-md-4  text-left">1245144</div>
											<div class="col-md-4 font-weight700 text-right">
												Indent Date:</div>
										</td>
										<td>
											<div class="col-md-3  text-left">17/11/17</div>
											<div class="col-md-4 font-weight700 text-right">From Store:</div>
											<div class="col-md-4  padding-left-right-10">-</div>
										</td>
										<td colspan="2">
											<div class="col-md-4 font-weight700 text-left"
												title="Requested By">To Store:</div>
											<div class="col-md-4  text-left">-</div>
											<div class="col-md-4 font-weight700 text-right">
												Priority:</div>
										</td>
										<td>
											<div class="col-md-5   text-left">-</div>
											<div class="col-md-3 font-weight700 text-right">Type:</div>
											<div class="col-md-3  text-left padding-left-right-10">-</div>
										</td>
									</tr>
									<tr>
										<td colspan="6">
											<div class="selectedServicesList" style="display: none;">
												<table class="table table-bordered">
													<tbody>
														<tr>
															<th class="width1"></th>
															<th class="width10">Item Code
																<div class="float_right">
																	<div>
																		<i class="fa fa-caret-up" aria-hidden="true"></i>
																	</div>
																	<div class="margin-top-8">
																		<i class="fa fa-caret-down" aria-hidden="true"></i>
																	</div>
																</div>
															</th>
															<th class="width10">Item Name
																<div class="float_right">
																	<div>
																		<i class="fa fa-caret-up" aria-hidden="true"></i>
																	</div>
																	<div class="margin-top-8">
																		<i class="fa fa-caret-down" aria-hidden="true"></i>
																	</div>
																</div>
															</th>
															<th class="width10">Generic Name
																<div class="float_right">
																	<div>
																		<i class="fa fa-caret-up" aria-hidden="true"></i>
																	</div>
																	<div class="margin-top-8">
																		<i class="fa fa-caret-down" aria-hidden="true"></i>
																	</div>
																</div>
															</th>
															<th class="width8">UOM Unit
																<div class="float_right">
																	<div>
																		<i class="fa fa-caret-up" aria-hidden="true"></i>
																	</div>
																	<div class="margin-top-8">
																		<i class="fa fa-caret-down" aria-hidden="true"></i>
																	</div>
																</div>
															</th>
															<th class="width8">Indent Qty
																<div class="float_right">
																	<div>
																		<i class="fa fa-caret-up" aria-hidden="true"></i>
																	</div>
																	<div class="margin-top-8">
																		<i class="fa fa-caret-down" aria-hidden="true"></i>
																	</div>
																</div>
															</th>
															<th class="width8">Pending Qty
																<div class="float_right">
																	<div>
																		<i class="fa fa-caret-up" aria-hidden="true"></i>
																	</div>
																	<div class="margin-top-8">
																		<i class="fa fa-caret-down" aria-hidden="true"></i>
																	</div>
																</div>
															</th>
														</tr>
														<tr>
															<td class=" text-center"><input
																type="checkbox"></td>
															<td class="">-</td>
															<td class="">-</td>
															<td class="">-</td>
															<td class="">-</td>
															<td class="">-</td>
															<td class="">-</td>
														</tr>
													</tbody>
												</table>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</fieldset>
			</div>
			<div class="modal-footer">
				<div class="row his-style">
					<div class="col-md-11"></div>
					<div class="col-md-1 padding-left0px-right6px">
						<div class="common-save-button">
							<input type="button" value="Add" class="btn btn-primary btn-save-box-shadow" data-dismiss="modal">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Get Index modal -->

<script type="text/javascript">
$(".selectedPageName").text("Add New Item Material Issue");
$(".sidebar-nav li").each(function() {
	$(this).find("a").parents("li").removeClass("active");
});
$('a[href$="materialIssue"]').parents("li").addClass("active");
$(document).ready(function(){
	$(".selectedServicesList").hide();
});

$(".indent-details").click(function(){
	$(this).next().find(".selectedServicesList").toggle();
});
</script>
<script src="resources/assets/js/common/page-height.js"></script>