<!-- Page Content -->
<div id="page-content-wrapper" class="">
	<div class="container-fluid his-style">
		<div class=" ng-scope" ng-include="'./views/common/patient-demography.html'"></div>
		<div class="row">
			<div
				class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 padding-top10">
				<span class=""><b class="padding-right10 ">Crash Cart
						No.&nbsp;:</b> <label>-</label></span>
			</div>
			<div
				class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 padding-top10">
				<span class="margin-left10"><b class="padding-right10 ">Crash Cart
						Date &nbsp;:</b><label>-</label> </span>
			</div>
			<div
				class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 padding-top10">
				<span class="margin-left10"><b class="padding-right10 ">From
						Store &nbsp;:</b><label>-</label> </span>
			</div>
			<div
				class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 padding-top10">
				<span class="margin-left10"><b class="padding-right10 ">Visit
						Type &nbsp;:</b> <label>-</label></span>
			</div>
		</div>
		<div class="row">
			<div
				class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 padding-top10">
				<span class=""><b class="padding-right10 ">UHID
						&nbsp;:</b> <label>-</label></span>
			</div>
			<div
				class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 padding-top10">
				<span class="margin-left10"><b class="padding-right10 ">Patient
						Details &nbsp;:</b><label>-</label> </span>
			</div>
			<div
				class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 padding-top10">
				<span class="margin-left10"><b class="padding-right10 ">Visit
						No. &nbsp;:</b><label>-</label> </span>
			</div>
			<div
				class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 padding-top10">
				<span class="margin-left10"><b class="padding-right10 ">Ward &nbsp;:</b>
					<label>-</label></span>
			</div>
		</div>
		<div class="row">
			<div
				class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 padding-top10">
				<span class=""><b class="padding-right10 ">Bed
						No. :</b> <label>-</label></span>
			</div>
		</div>
		<div class="row padding-left-right-set4 padding-top4 padding-top10">
			<div class="col-md-12">
				<table class="table table-bordered">
					<thead>
						<tr class="">
							<th class="width10 vertical-top">
								Item Code
							</th>
							<th class="width10 vertical-top">
								Item Name
							</th>
							<th class="width12 vertical-top">
								Generic Name
							</th>
							<th class="width8 vertical-top">
								UOM
							</th>
							<th class="width8 vertical-top">
								UOM Unit
							</th>
							<th class="width7 vertical-top">
								Required Qty
							</th>
							<th class="width7 vertical-top">
								Approved Qty
							</th>
							<th class="width8 vertical-top">
								Batch No.
							</th>
							<th class="width8 vertical-top">
								Expiry Date
							</th>
							<th class="width8 vertical-top">
								Consumed Qty
							</th>
							<th class="width5 vertical-top">
								Action
							</th>
							
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<div>-</div>
							</td>
							<td>
								<div>-</div>
							</td>
							<td>
								<div>-</div>
							</td>
							<td>
								<div>-</div>
							</td>
							<td>
								<div>-</div>
							</td>
							<td>
								<div>-</div>
							</td>
							<td>
								<div>-</div>
							</td>
							<td>
								<select class="w-100">
									<option></option>
								</select>
							</td>
							<td>
								<div>-</div>
							</td>
							<td>
								<input type="text" class="w-100">
							</td>
							<td>
								<input type="button" class="btn btn-info add-dynamic-row" value="+" style="padding: 0 2px !important;">&nbsp;&nbsp;
								<input type="button" class="btn btn-info add-dynamic-row" value="-" style="padding: 0 2px !important;">
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<footer
			class="col-lg-12 col-md-12 col-sm-12 padding-left-right-set4 padding-right20">
			<div class="row his-style margin-top10 padding-right20">
				<div class="col-md-11 text-right"></div>
				<div class="col-lg-1 col-md-1 padding-left-right-set4">
					<a href="#/crashCartRequestApproval"> <input type="button"
						value="Back" class="btn btn-primary btn-save-box-shadow">
					</a>
				</div>
			</div>
		</footer>
	</div>
</div>
