<!-- *****************************************************************************************************************************
								                    Expired Return Acceptance
****************************************************************************************************************************** -->
<!-- Page Content start-->
<div id="page-content-wrapper"  class=" ">
	<div class="container-fluid his-style">
		<div class="row">
       		<div class="col-md-8"></div>
			<div class="col-md-4 col-sm-4">
				<div class="col-lg-10 col-md-9 col-sm-9">
					<input type="text" class="text-search-box" placeholder="Search">
					<i class="fa fa-search common-search-text-icon" aria-hidden="true"></i>
				</div>
				<div class="col-md-1 col-sm-2 padding-leftright15 float_right">
					<div class="width-div-for-patient-reg ">
						<a href="" class="btn btn-primary btn-save-box-shadow"
							title="Save" data-toggle="modal" data-target="#confirmLogout"><i
							class="fa fa-floppy-o" style="font-size: 21px" aria-hidden="true"></i></a>
					</div>
					
				</div>
			</div>
		</div>
		<div class="row padding-left-right-10">
			<div class="col-md-12">
				<table class="table table-bordered">
					<tr class="">
						<th class="note-width">
							Store
							<div class="float_right">
								<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
								<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
							</div>
						</th>
						<th class="width8">
							Return ID
							<div class="float_right">
								<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
								<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
							</div>
						</th>
						<th class="width8">
							Return Date
							<div class="float_right">
								<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
								<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
							</div>
						</th>
						<th class="width8">
							Status
							<div class="float_right">
								<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
								<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
							</div>
						</th>
						<th class="width5">
							Action
							<div class="float_right">
								<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
								<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
							</div>
						</th>
					</tr>
					<tr>
						<td>
							<div>-</div>
						</td>
						<td>
							<div>-</div>
						</td>
						<td >
							<div>-</div>
						</td>
						<td>
							<div>-</div>
						</td>
						<td>
							<input type="button" value="Details"  class="btn btn-primary btn-save-box-shadow details-btn" data-toggle="modal" data-target="#detailsModal">
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
<!-- Page Content start-->

<!--************************* details modal start *************************-->
<div id="detailsModal" class="modal fade ng-scope in" role="dialog">
	<div class="modal-dialog"> 
		<div class="modal-content">
			<div class="modal-header">
				<div class="modal-title patient-details-row">
					Expired Return Acceptance Details
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-lg-12 col-md-12 common-popup-height-350 padding-top10" id="pharmacologyDetailsTableId"><!-- id for the table td fix height -->
						<table class="table table-bordered table-striped">
							<tr class="table-th-bg">
								<th class="width1 text-center padding-btntop10">
								</th>
								<th class="width10">
									Store
									<div class="float_right">
										<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
										<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
									</div>
								</th>
								<th class="width8">
									Return Date
									<div class="float_right">
										<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
										<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
									</div>
								</th>
								<th class="width15">
									Item Name
									<div class="float_right">
										<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
										<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
									</div>
								</th>
								<th class="width12">
									Generic Name
									<div class="float_right">
										<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
										<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
									</div>
								</th>
								<th class="width6">
									Qty Returned
									<div class="float_right">
										<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
										<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
									</div>
								</th>
								<th class="width8">
									Batch No.
									<div class="float_right">
										<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
										<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
									</div>
								</th>
								<th class="width8">
									Expiry Date
									<div class="float_right">
										<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
										<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
									</div>
								</th>
								<th class="width15">
									Action
									<div class="float_right">
										<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
										<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
									</div>
								</th>
							</tr>
							<tr>
								<td class=" text-center padding-btntop10">
									<input type="checkbox"/>
								</td>
								<td>
									<div>-</div>
								</td>
								<td>
									<div>-</div>
								</td>
								<td>
									<div>-</div>
								</td>
								<td>
									<div>-</div>
								</td>
								<td>
									<div>-</div>
								</td>
								<td>
									<div>-</div>
								</td>
								<td>
									<div>-</div>
								</td>
								<td>
									<div class="row">
										<p>
											<input type="radio" name="radioBtnAcceptReject" class="radioAccepted"><span>Accept</span>
											<input type="radio" name="radioBtnAcceptReject" class="radioRejected"><span>Reject</span>
										</p>
									</div>
									<div class="row rejection-details-row margin-top4">
										<table id="rejectContent">
											<tr>
												<td class="width18"><input type="text" placeholder="Qty" class="qty-textbox-fixed text-center"/></td>
												<td class="width50 padding-top4">
													<select class="margin-left-right-set5 width94 select-box">
														<option>Select Reason</option>
														<option>Reason 1</option>
														<option>Reason 2</option>
													</select>
												</td>
												<td class="width40 text-left"><input type="button" name="" id="addr" value="+" onclick="addRow()" class="btn btn-info add-dynamic-row margin-left-right-set5" style="padding: 2px 4px; margin-left:8px !important;"></td>
											</tr>
										</table>	
									</div>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<div class="modal-footer" style="border:none;">
				<div class="pull-left">
					<!-- <button class="btn btn-primary text-width-auto">Active Medication</button> -->
				</div>
				<div class="pull-right">
					<button type="button" data-dismiss="modal" class="btn btn-primary" id="">Save</button>
					<!-- <button type="button" data-dismiss="modal" class="btn btn-primary">Cancel</button> -->
				</div>
			</div>
		</div>
	</div>
</div>
<!--************************* details modal end *************************-->
<script type="text/javascript">
$(document).ready(function() {
	$(".selectedPageName").text("Expired Return Acceptance");
	$(".sidebar-nav li").each(function() {
		$(this).find("a").parents("li").removeClass("active");
	});
	$('a[href$="returnAcceptance"]').parents("li").addClass("active");
	
	$(".rejection-details-row").hide();
	$( ".radioRejected" ).change(function() {
		if ($(this).is(":checked"))
		{
			$(this).closest(".row").siblings(".rejection-details-row").show();
		}
	});
	$( ".radioAccepted" ).change(function() {
		if ($(this).is(":checked"))
		{
			$(this).closest(".row").siblings(".rejection-details-row").hide();
		}
	});
	
});
/*************************** add button function start*********************************/
function addRow() {
	//alert();
	var n = document.getElementById("rejectContent").rows.length;
	var id = Number(n);
	//alert(id);
	var test =

			'<tr>'
			+'<td class="width18"><input type="text" placeholder="Qty" class="qty-textbox-fixed text-center"/></td>'
			+'<td class="width50 padding-top4"><select class=" width94 margin-left-right-set5 select-box">'
			+'<option>Select Reason</option>'
			+'<option>Reason 1</option>'
			+'<option>Reason 2</option>'
			+'</select>'
			+'</td>'
			+'<td class="width40 text-right">'
			+'<input type="button" name="" id="addr" value="+" onclick="addRow()" class="btn btn-info add-dynamic-row" style="padding: 2px 4px;">'
			+'<input type="button" name="" id="addr" value="-" onclick="delRow(this)" class="btn btn-info add-dynamic-row margin-left3" style="padding: 2px 6px;">'
			+'</td>'
			+'</tr>';

	$("#rejectContent").append(test);

}

function delRow(r) {
	var o = r.parentNode.parentNode.rowIndex;
	document.getElementById("rejectContent").deleteRow(o);
}
/*************************** add button function end*********************************/
</script>