<!-- Page Content -->
<div id="page-content-wrapper" class="">
	<div class="container-fluid his-style">
		<fieldset>
			<!-- Store  -->
			<div class="row margin-top10">
				<div class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4 padding-top10">
					<div class="row input-container">
						<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon">
							<i class="fa fa-tasks" aria-hidden="true"></i>
						</div>
						<div class="col-lg-11 col-sm-11 col-md-11">
							<div class="">
								<select name="fromStore" id="fromStore" class="text-input floating-label dirty" ng-model="vm.model.fromStore" data-ng-options="fromStore.store for fromStore in vm.model.fromStores">
								</select>
								<label for="code">From Store</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4 padding-top10">
					<div class="row input-container">
						<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon">
							<i class="fa fa-tasks" aria-hidden="true"></i>
						</div>
						<div class="col-lg-11 col-sm-11 col-md-11">
							<div class="">
								<select name="toStore" id="toStore" class="text-input floating-label dirty" ng-model="vm.model.toStore" data-ng-options="toStore.store for toStore in vm.model.toStores">
								</select>

								<label for="code">To Store</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4 padding-top10">
					<div class="row input-container">
						<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon">
							<i class="fa fa-bullseye" aria-hidden="true"></i>
						</div>
						<div class="col-lg-11 col-sm-11 col-md-11">
							<div class="">
								<input type="text" name="code" id="" class="text-input floating-label" ng-model="vm.model.returnNumber">
								<label for="code">Return No.</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-1 padding-left-right-set4 padding-top10">
					<div class="row input-container">
						<div class="col-lg-2 col-sm-2 col-md-2 polymer-icon ">
							<i class="fa fa-dot-circle-o" aria-hidden="true"></i>
						</div>
						<div class="col-lg-10 col-sm-10 col-md-10">
							<div class="">

								<select name="status" id="status" class="text-input floating-label dirty" ng-model="vm.model.status" data-ng-options="status.status for status in vm.model.statuses">
								</select>
								<label for="description" class="LISDynamicLabel">Status</label>

							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-1 col-md-1 col-sm-1 padding-left-right-set1">
					<div class="padding-top10">
						<a class="btn btn-primary btn-save-box-shadow width30" ng-click="vm.model.MaterialRejectAcceptanceData()">
							<i class="fa fa-search" aria-hidden="true"></i>
						</a>
					</div>
				</div>
			</div>
		</fieldset>
		<div class="row margin-top8">
			<div class="col-md-12 col-lg-12 col-sm-8 padding-left-right-set4" id="nonBillableTableHt">
				<fieldset>
					<div class="row">
						<div class="container-fluid his-style">
							<div class="table-container padding-left-right-set4 padding-top5">
								<div class="table-container-header">
									<table class="table table-striped table-hover table-condensed table-bordered">
										<thead class="mainServiceTableCommon">
											<tr>
												
												<th class="width4">Return No.
													<div class="float_right">
														<div>
															<i class="fa fa-caret-up" aria-hidden="true"></i>
														</div>
														<div class="margin-top-8">
															<i class="fa fa-caret-down" aria-hidden="true"></i>
														</div>
													</div>
												</th>
												<th class="width5">Return Date
													<div class="float_right">
														<div>
															<i class="fa fa-caret-up" aria-hidden="true"></i>
														</div>
														<div class="margin-top-8">
															<i class="fa fa-caret-down" aria-hidden="true"></i>
														</div>
													</div>
												</th>
												<th class="width6">From Store
													<div class="float_right">
														<div>
															<i class="fa fa-caret-up" aria-hidden="true"></i>
														</div>
														<div class="margin-top-8">
															<i class="fa fa-caret-down" aria-hidden="true"></i>
														</div>
													</div>
												</th>
												<th class="width6">To Store
													<div class="float_right">
														<div>
															<i class="fa fa-caret-up" aria-hidden="true"></i>
														</div>
														<div class="margin-top-8">
															<i class="fa fa-caret-down" aria-hidden="true"></i>
														</div>
													</div>
												</th>
												<th class="width8">Rejected By
													<div class="float_right">
														<div>
															<i class="fa fa-caret-up" aria-hidden="true"></i>
														</div>
														<div class="margin-top-8">
															<i class="fa fa-caret-down" aria-hidden="true"></i>
														</div>
													</div>
												</th>
												<th class="width6">
													Is Consignment
													<div class="float_right">
														<div>
															<i class="fa fa-caret-up" aria-hidden="true"></i>
														</div>
														<div class="margin-top-8">
															<i class="fa fa-caret-down" aria-hidden="true"></i>
														</div>
													</div>
												</th>
												<th class="width6">Remarks
													<div class="float_right">
														<div>
															<i class="fa fa-caret-up" aria-hidden="true"></i>
														</div>
														<div class="margin-top-8">
															<i class="fa fa-caret-down" aria-hidden="true"></i>
														</div>
													</div>
												</th>
												<th class="width5">Action
													<div class="float_right">
														<div>
															<i class="fa fa-caret-up" aria-hidden="true"></i>
														</div>
														<div class="margin-top-8">
															<i class="fa fa-caret-down" aria-hidden="true"></i>
														</div>
													</div>
												</th>
											</tr>
										</thead>
									</table>
								</div>
								<div class="table-container-body" style="height:400px; overflow-y: scroll;">
									<table class="table table-striped table-hover table-condensed table-bordered">
										<tbody>
											<tr ng-repeat="datum in vm.model.searchMaterialRejectData | orderBy:sortType:sortReverse">
												
												<td class="width4">{{datum.returnNo}}</td>
												<td class="width5">{{datum.returnDate | date:'dd/MM/yyyy'}}</td>
												<td class="width6">{{datum.fromStore}}</td>
												<td class="width6">{{datum.toStore}}</td>
												<td class="width8">{{datum.returnBy}}</td>
												<td class="width6">{{datum.isConsignment}}</td>
												<td class="width6">{{datum.remark}}</td>
												<td style="width: 4.8% !important;">
													<span>
														<a title="Print">
															<i class="fa fa-print" aria-hidden="true"></i>
														</a>
													</span>
													<a href="#/detailsRejectedMaterialAcceptance" ng-click="vm.model.materialRejectAcceptanceDetails(datum)">Details</a>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
			</div>
			</fieldset>
		</div>
	</div>
</div>
</div>
<script type="text/javascript">
	$(".selectedPageName").text("Rejected Material Acceptance");
	$(".sidebar-nav li").each(function () {
		$(this).find("a").parents("li").removeClass("active");
	});
	$('a[href$="rejectedMaterialAcceptance"]').parents("li").addClass("active");
</script>