<!-- *****************************************************************************************************************************
												
****************************************************************************************************************************** -->
 <!-- Page Content -->
<div id="page-content-wrapper" class="">
  	<div class="container-fluid his-style">
  		<fieldset class="">	
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-4 padding-left-right-set4 padding-top10">
					<span class="margin-left10">
						<b class="padding-right10 ">Patient Name :</b>
						<label>Robert Roberts</label>
					</span>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-4 padding-left-right-set4 padding-top10 text-width-auto">
					<span class="margin-left10">
						<b class="padding-right10 ">UHID:</b>
						<label>Pune-769</label>
					</span>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-4 padding-left-right-set4 padding-top10">
					<span class="margin-left10">
						<b class="padding-right10 ">Doctor Name :</b>
						<label>Dr.Suresh Pathak</label>
					</span>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6 padding-left-right-set4 padding-top10 text-width-auto">
					<span class="margin-left10"><b class="padding-right10 ">Ward NO	:</b> W124303 </span>
					<span class="margin-left10"><b class="padding-right10 ">BED NO	:</b> BM129091</span>
					<span class="margin-left10"><b class="padding-right10 ">Status :</b>Pending </span>
				</div>
			</div>
			<div class="row padding-left-right-set4 margin-top4 common-popup-height-500">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<table class="table table-bordered">
						<tr class="">
							<th class="UHID-width">
								UHID
								<div class="float_right">
									<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
									<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
								</div>
							</th>
							<th class="width15">
								Patient Details
								<div class="float_right">
									<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
									<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
								</div>
							</th>
							<th class="width15">
								Doctor Details
								<div class="float_right">
									<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
									<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
								</div>
							</th>
							<th  class="bed-no-width">
								Ward No
								<div class="float_right">
									<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
									<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
								</div>
							</th>
							<th class="bed-no-width">
								Bed No
								<div class="float_right">
									<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
									<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
								</div>
							</th>
							<th class="width8">
								Status
								<div class="float_right">
									<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
									<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
								</div>
							</th>
							<th class="width6 text-center">
								 Action
								<div class="float_right">
									<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
									<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
								</div>
							</th>
						</tr>
						<tr>
							<td>TC890</td>
							<td >
								<div>John Deo 26/M </div>
							</td>
							<td>
								<div>Dr. Andy Qnyty, Homotology</div>
							</td>
							<td>
								<div>Ward No.-1</div>
							</td>
							<td>
								<div>BM678905</div>
							</td>
							<td>
								<div>Pending</div>
							</td>
							<td>
								<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 ">
									<a title="Edit">
										<i class="fa fa-pencil" aria-hidden="true"></i>
									</a>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 ">
									<a title="View">
										<i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#topUpOrderListModal"></i>
									</a>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 ">
									<a title="Cancel">
										<i class="fa fa-times-circle-o" aria-hidden="true" data-toggle="modal" data-target="#confirmCancel"></i>
									</a>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 ">
									<a title="Print">
										<i class="fa fa-print" aria-hidden="true"></i>
									</a>
								</div>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</fieldset>
		<footer class="col-lg-12 col-md-12 col-sm-12 padding-left-right-set4 padding-right20">
			<div class="row his-style margin-top10 padding-right20">
				<div class="col-lg-10 col-md-10 col-sm-10"></div>
				<div class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4">
					<a href="#/patientIndent">
						<input type="button" value="Back" class="btn btn-primary btn-save-box-shadow">
					</a>
				</div>
			</div>			
		</footer>
	</div>
</div>
<!--  To up order details list  modal start -->
<div id="topUpOrderListModal" class="modal fade ng-scope in padding-left0" role="dialog">
	<div class="modal-dialog"> 
		<div class="modal-content">
			<div class="modal-header">
				<div class="modal-title patient-details-row">
					Top Up Order List View
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
			</div>
			<div class="modal-body">
				<div class="row patient-details-row">
					<div class="col-md-11 col-sm-11 col-xs-11 ">
						<span class="profile_pic margin-left10"> 
							<img alt="" src="resources/assets/images/tempImages/m.jpg" class="img-circle" style="width:30px">
							</span> 
							<span class="margin-left10">John Deo 26/M </span>
							<span class="margin-left10"><b class="padding-right5 ">UHID	:</b> Pune-769</span>
							<span class="margin-left10"><b class="padding-right10 ">Ward NO	:</b> W124303 </span>
							<span class="margin-left10"><b class="padding-right10 ">BED NO	:</b> BM129091</span>
							<span class="margin-left10">Dr. Suresh Pathak</span>
						</div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-12 common-popup-height-350 padding-top10 padding-left-right-set4">
						<table class="table table-bordered table-striped">
							<thead>
								<tr class="table-th-bg">
									<th class="width15">
										Medication Name
										<div class="float_right">
											<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
											<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
										</div>
									</th>
									<th class="width12">
										Generic Name
										<div class="float_right">
											<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
											<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
										</div>
									</th>
									<th class="width8">
										Frequency 
										<div class="float_right">
											<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
											<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
										</div>
									</th>
									<th class="width8">
										Start Date
										<div class="float_right">
											<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
											<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
										</div>
									</th>
									<th class="width8">
										Stop Date
										<div class="float_right">
											<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
											<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
										</div>
									</th>
									<th class="width8">
										Top up Qty
										<div class="float_right">
											<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
											<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
										</div>
									</th>
									
								</tr>
							</thead>
							<tbody>
								<tr>
									
									<td>
										<div>-</div>
									</td>
										<td>
										<div>-</div>
									</td>
										<td>
										<div>-</div>
									</td>
									<td>
										<div>-</div>
									</td>
									<td>
										<div>-</div>
									</td>
									<td>
										<div>-</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!-- <div class="modal-footer" style="border:none;">
				 <button type="button" data-dismiss="modal" class="btn btn-primary" id="">Save</button>
			</div> -->
		</div>
	</div>
</div>
<!-- To up order details list modal end -->
<script src="resources/assets/js/common/page-height.js"></script>
<script type="text/javascript">
$( document ).ready(function() {
	$(".selectedPageName").text("Top Up Order List");
	$(".sidebar-nav li").each(function() {
		$(this).find("a").parents("li").removeClass("active");
	});
});
</script>