<!-- /********************************************************************************************************************************************
Procurement - purchase - Item Creation Pending List main page
Created by - Pranita Patil
Created Date - 05-Dec-2017 
/********************************************************************************************************************************************/ -->
<!-- Page Content -->
<div id="page-content-wrapper" class="">
	<div class="container-fluid his-style">
		<fieldset>
			<!-- <legend class="heading-div">Item Creation Pending List</legend> -->
			<div class="row margin-top10">
				<div class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4 padding-top10">
					<div class="row input-container">
						<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon">
							<i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
						</div>
						<div class="col-lg-11 col-sm-11 col-md-11">
							<div class="">
                <input type="text" class="text-input floating-label dirty" name="fromDate" id="fromDate" uib-datepicker-popup="dd/MM/yyyy" placeholder="DD/MM/YYYY" ng-model="vm.model.fromDate" model-view-value="true" is-open="vm.model.fromDateOpened" datepicker-options="vm.model.fromDateOptions" show-button-bar="false" ng-click="vm.model.OpenFromDate()">
                <label for="fromDate">From Date</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4 padding-top10">
					<div class="row input-container">
						<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon ">
							<i class="fa fa-calendar-minus-o" aria-hidden="true"></i>
						</div>
						<div class="col-lg-11 col-sm-11 col-md-11 ">
							<div class="">
                <input type="text" class="text-input floating-label dirty" name="toDate" id="toDate" uib-datepicker-popup="dd/MM/yyyy" placeholder="DD/MM/YYYY" ng-model="vm.model.toDate" model-view-value="true" is-open="vm.model.toDateOpened" datepicker-options="vm.model.toDateOptions" show-button-bar="false" ng-click="vm.model.OpenToDate()">
                <label for="toDate" class="LISDynamicLabel">To Date</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4 padding-top10">
					<div class="row input-container">
						<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon ">
							<i class="fa fa-dot-circle-o" aria-hidden="true"></i>
						</div>
						<div class="col-lg-11 col-sm-11 col-md-11 ">
							<div class="">
                <select name="status" id="status" class="text-input floating-label dirty" ng-model="vm.model.status" data-ng-options="status.status for status in vm.model.statuses">
                </select>
                <label for="status" class="LISDynamicLabel">Status</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-1 col-md-1 col-sm-1 padding-left-right-set4">
					<div class="common-save-button">
            <a href="" ng-click="vm.model.GetItemRequests()" class="btn btn-primary btn-save-box-shadow text-width-auto"> 
							<i class="fa fa-search" aria-hidden="true"></i>
						</a>
					</div>
				</div>
			</div>
        </fieldset>
    <div class="row padding-left-right-set4" style="padding-top: 10px !important">
			<div class="col-md-12 col-lg-12 col-sm-8 padding-left-right-set0" id="nonBillableTableHt">
				<fieldset>
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 height500-table-with-scroll">
					<table class="table table-bordered first-checkBox-padding">
						<thead class="mainServiceTableCommon">
							<tr>
								<th class="width8">
									Request Date
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th>
                <th class="width10">
                  Request Number
                  <div class="float_right">
                    <div>
                      <i class="fa fa-caret-up" aria-hidden="true"></i>
                    </div>
                    <div class="margin-top-8">
                      <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </div>
                  </div>
                </th>
								<th class="width10">
									Request Type
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th>
								<th class="width10">
									Added By
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th>
								<th class="width5">
									Status
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th>
                <th class="width5">
                  Approval Status
                  <div class="float_right">
                    <div>
                      <i class="fa fa-caret-up" aria-hidden="true"></i>
                    </div>
                    <div class="margin-top-8">
                      <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </div>
                  </div>
                </th>
								<th class="width6">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in vm.model.itemRequests">
								<td title="{{item.requestDate | date:'dd/MM/yyyy' : 'UTC'}}">{{item.requestDate | date:'dd/MM/yyyy' : 'UTC'}}</td>
								<td title="{{item.requestNo}}">{{item.requestNo}}</td>
								<td title="{{item.assetType}}">{{item.assetType}}</td>
								<td title="{{item.aadedBy}}">{{item.aadedBy}}</td>
								<td title="{{item.status}}">{{item.status}}</td>
                <td title="{{item.approvalStatus}}">{{item.approvalStatus}}</td>
								<td>
									<div class="col-lg-2 col-md-2 padding-left-right-set4 ">
										<a title="Print"><i class="fa fa-print" aria-hidden="true"></i></a>
									</div>
									<div class="col-lg-6 col-md-6 padding-left-right-set4 text-right">
										<a class="cursor-pointer" ng-click="vm.model.NavigateToDetails(item)">Details</a>
									</div>
								</td>
							</tr>
              <tr ng-if="!vm.model.itemRequests || vm.model.itemRequests == false">
                <td class="text-center" colspan="11">
                  <p>No Record Found</p>
                </td>
              </tr>
						</tbody>
					</table>
					</div>
				</div>
				</fieldset>
			</div>
		</div>
    </div>
</div>
<script type="text/javascript">
$( document ).ready(function() {
	$(".selectedPageName").text("Item Creation Pending List");
	$(".sidebar-nav li").each(function() {
		$(this).find("a").parents("li").removeClass("active");
	});
});

</script>
