<fieldset>
	<legend class="heading-div">Package</legend>
				<div class="row margin-top10">
					<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4">
						<div class="row input-container">
							<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon"> 
								<i class="fa fa-file-text" aria-hidden="true"></i>
							</div>
							<div class="col-lg-11 col-sm-11 col-md-11 ">
								<div class="">
									<input type="text" name="code" id="" class="text-input floating-label">
									<label for="code">Package Name</label>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4">
						<div class="row input-container">
							<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon"> 
								<i class="fa fa-file-text" aria-hidden="true"></i>
							</div>
							<div class="col-lg-11 col-sm-11 col-md-11 ">
								<div class="">
									<input type="text" name="code" id="" class="text-input floating-label">
									<label for="code">Package GL Code</label>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-3 padding-left-right-set4">
						<div class="row input-container">
							<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon"> 
								<i class="fa fa-plus-square" aria-hidden="true"></i>
							</div>
							<div class="col-lg-11 col-sm-11 col-md-11 ">
								<div class="">
									<select class="text-input floating-label">
										<option></option>
										<option>1</option>
										<option>2</option>
										<option>3</option>
									</select>
									<label for="code">Visit Type </label>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-3 padding-left-right-set4">
						<div class="row input-container">
							<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon"> 
								<i class="fa fa-venus-mars" aria-hidden="true"></i>
							</div>
							<div class="col-lg-11 col-sm-11 col-md-11 ">
								<div class="">
									<select class="text-input floating-label">
										<option></option>
										<option>1</option>
										<option>2</option>
										<option>3</option>
									</select>
									<label for="code">Sex </label>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-3 padding-left-right-set">
						<div class="row input-container">
							<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon"> 
								<i class="fa fa-gavel" aria-hidden="true"></i>
							</div>
							<div class="col-lg-11 col-sm-11 col-md-11 ">
								<div class="">
									<select class="text-input floating-label">
										<option></option>
										<option>1</option>
										<option>2</option>
										<option>3</option>
									</select>
									<label for="code">Payment Entitlement</label>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row margin-top10">
					<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 margin-top10">
						<div class="row input-container">
							<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon"> 
								<i class="fa fa-file-text" aria-hidden="true"></i>
							</div>
							<div class="col-lg-11 col-sm-11 col-md-11 ">
								<div class="">
									<select class="text-input floating-label">
										<option></option>
										<option>1</option>
										<option>2</option>
										<option>3</option>
									</select>
									<label for="code">Patient Type</label>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 margin-top10">
						<div class="col-lg-6 col-md-6 col-sm-6 padding-left-right-set4">
							<div class="row input-container test-master-sample">
								<div class="col-lg-2 col-md-2 col-sm-2 polymer-icon"> 
									<i class="fa fa-file-text" aria-hidden="true"></i>
								</div>
								<div class="col-lg-10 col-md-10 col-sm-10">
									<div class="">
										<select class="text-input floating-label">
											<option></option>
											<option>OP</option>
											<option>IP</option>
											<option>Daycare</option>
										</select>
										<label for="code">Package Type</label>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 padding-left-right-set4">
							<div class="row input-container test-master-sample">
								<div class="col-lg-2 col-sm-1 col-md-1 polymer-icon"> 
									<i class="fa fa-bed" aria-hidden="true"></i>
								</div>
								<div class="col-lg-10 col-sm-11 col-md-11 ">
									<div class="">
										<select class="text-input floating-label">
											<option></option>
											<option>Duplex</option>
											<option>Super Duplex</option>
										</select>
										<label for="code">Bed Category</label>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-3 padding-left-right-set4 margin-top10">
						<div class="row input-container">
							<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon"> 
								<i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
							</div>
							<div class="col-lg-11 col-sm-11 col-md-11 ">
								<div class="">
									<input type="text" class="text-input floating-label dirty" name="datepicker" id="datepicker" uib-datepicker-popup="dd/MM/yyyy" ui-mask="99/99/9999" placeholder="DD/MM/YYYY" ng-model="datepicker"
										   model-view-value="true" is-open="datepicker.opened" datepicker-options="dateOptions" show-button-bar="false" ng-click="openDatePicker()"> 
									<label for="code"> From Date</label><!-- Package Validity Period -->
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-3 padding-left-right-set4 margin-top10">
						<div class="row input-container">
							<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon"> 
								<i class="fa fa-calendar-minus-o" aria-hidden="true"></i>
							</div>
							<div class="col-lg-11 col-sm-11 col-md-11 ">
								<div class="">
									<input type="text" class="text-input floating-label dirty" name="toDatepicker" id="toDatepicker" uib-datepicker-popup="dd/MM/yyyy" ui-mask="99/99/9999" placeholder="DD/MM/YYYY" ng-model="toDatepicker"
										   model-view-value="true" is-open="toDatepicker.opened" datepicker-options="toDateOptions" show-button-bar="false" ng-click="openToDatePicker()"> 
									<label for="code">To Date</label>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-3 padding-left-right-set">
						<div class="padding-left-right-set">
							<span style="display:flex;">
								<label class="" style="font-size:12px;">Status</label>
							</span>
							<span>
								<label class="switch">
									<input type="checkbox">
										<div class="slider round"></div>
								</label>
							</span>
						</div>
					</div>
				</div>
</fieldset>