        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid his-style">
            	<!-- <div class="row">
            		<div class="col-md-8"></div>
					<div class="col-md-3">
						<div>
							<input type="text" class="text-search-box" placeholder="Search">
							<i class="fa fa-search common-search-text-icon" aria-hidden="true"></i>
						</div>
					</div>
					<div class="col-md-1 padding-left0px-right6px">
						<div class="width-div-for-patient-reg ">
							<a href="" data-toggle="modal" data-target="#confirmLogout" class="btn btn-primary btn-save-box-shadow" title="Save"><i class="fa fa-floppy-o" style="font-size:21px" aria-hidden="true"></i></a>	
						</div>
					</div>
				</div> -->
				<div class="row margin-top10 padding-left-right-1">
					<div class="col-lg-1 col-md-1 col-sm-2 padding-left-right-set4 float_right text-width-auto">
						<div class=" ">
							<a href="" class="btn btn-primary btn-save-box-shadow" title="Save" data-toggle="modal" data-target="#confirmLogout"><i class="fa fa-floppy-o" style="font-size: 21px" aria-hidden="true"></i></a>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set0 float_right">
						<input type="text" class="text-search-box" placeholder="Search" style="margin-top: 0px"> <i class="fa fa-search common-search-text-icon" aria-hidden="true"></i>
					</div>
				</div>
				<div class="row padding-left-right-set4 margin-top4">
					<div class="col-md-12">
						<table class="table table-bordered ">
							<tr class="">
								<th class="width3"><input type="checkbox"></th>
								<th class="UHID-width">
									UHID
									<div class="float_right">
										<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
										<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
									</div>
								</th>
								<th class="patient-doc-details-width">
									Patient Details
									<div class="float_right">
										<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
										<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
									</div>
								</th>
								<th class="width12">
									Nursing Station
									<div class="float_right">
										<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
										<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
									</div>
								</th>
								<th class="bed-no-width">
									Bed No.
									<div class="float_right">
										<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
										<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
									</div>
								</th>
							
								<th class="patient-doc-details-width">
									Doctor Details
									<div class="float_right">
										<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
										<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
									</div>
								</th>
								<th>
									Reason
									<div class="float_right">
										<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
										<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
									</div>
								</th>
								<th class="table-note-width">
									Note
									<div class="float_right">
										<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
										<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
									</div>
								</th>
								<th class="table-action-width">
									Action
									<div class="float_right">
										<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
										<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
									</div>
								</th>
							</tr>
							<tr>
								<td class="width3"><input type="checkbox"></td>
								<td> Pune-769 </td>
								<td> Christopher Bowman 26/M </td>
								<td> First Nursing </td>
								<td> BM120901 </td>
								<td> Dr. Soni Raut, Hemotology</td>
								<td> Reason-1 </td>
								<td class="text-center"><i class="fa fa-commenting font-size20" aria-hidden="true" data-toggle="modal" data-target="#notesForall"></i></td>
								<td>
								<div class="row">
									<div class="col-md-4 col-sm-4">
										<input type="radio" name="pendingInterRadio" class="">
										<span>Accept</span>
									</div>
									<div class="col-md-4 col-sm-4">
										<input type="radio" name="pendingInterRadio" class="" data-toggle="modal" data-target="#rejectConfirm">
										<span>Reject</span>
									</div>
								</div>
								</td>
							</tr>
							<tr>
								<td class="width3"><input type="checkbox"></td>
								<td> Pune-770 </td>
								<td> Andrew Baranowski 31/M </td>
								<td> Second Nursing </td>
								<td> BM120902 </td>
								<td> Dr. Andy Roxyny, Cardiology</td>
								<td> Reason-2 </td>
								<td class="text-center"><i class="fa fa-commenting font-size20" aria-hidden="true" data-toggle="modal" data-target="#notesForall"></i></td>
								<td>
								<div class="row">
									<div class="col-md-4 col-sm-4">
										<input type="radio" name="pendingInterRadio" class="">
										<span>Accept</span>
									</div>
									<div class="col-md-4 col-sm-4">
										<input type="radio" name="pendingInterRadio" class="" data-toggle="modal" data-target="#rejectConfirm">
										<span>Reject</span>
									</div>
								</div>
								</td>
							</tr>
						</table>
					</div>
				</div>
  			</div>
  			<footer class="col-lg-12 col-md-12 col-sm-12 padding-left-right15">
				<div class="row padding-left-right15">
					<div class="col-lg-11 col-md-11 col-sm-10"></div>
						<div class="col-lg-1 col-md-1 col-sm-2 padding-left-right-set float_right text-width-auto">
							<div class=" ">
								<a href="#/bedManagement" class="btn btn-primary btn-save-box-shadow" title="Back">Back</a>
							</div>
						</div>
					</div>
			</footer>
		</div>
	<script type="text/javascript">
	$(document).ready(function(){
		var documentHeight= $(window).height();
	    var sideBarHeight = documentHeight - 55;
	 	$("#page-content-wrapper").css("height", sideBarHeight + "px" );
	$(".selectedPageName").text("Pending Inter Consult");
	$(".sidebar-nav li").each(function() {
		$(this).find("a").parents("li").removeClass("active");
	});
	$('a[href$="pendingInterConsult"]').parents("li").addClass("active");
	
	});

</script>
