<table datatable="ng" class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                          <th>Name</th>
                          <th>Price</th>
                </tr>

              </thead>
              <tbody>

                <!-- <tr ng-repeat = "info in scotches">

                  <td>{{info.name}}</td>
                  <td>{{info.price}}</td>
                  </tr> -->
                 <!--  <td>{{info.created_at}}</td>
                   <td class="text-center">
                    <a ng-href = "#/update-product/{{info.product_id}}">
                      <i class="icon-pencil7"></i>
                    </a>
                  </td>
 -->
                

                <!-- <img id="mySpinner" src="/images/Loading_icon.gif" style="heigth:70px;width:70px;" ng-show="true" /> -->
             

              </tbody>

            </table>