
        <!-- Page Content -->
        <div id="page-content-wrapper" class="padding10">
            <div class="container-fluid his-style">
            	<div class="row">
		          	<div class="col-md-6"></div>
					<div class="col-md-3 col-lg-3 padding-left0px-right6px">
						<div>
							<input type="text" class="text-search-box" placeholder="Search" style="margin-top: 0;">
							<i class="fa fa-search common-search-text-icon" aria-hidden="true"></i>
						</div>
					</div>
					<div class="col-md-2 col-lg-2 padding-left0px-right6px">
						<div class="">
							<select class="select-box border-radius4 dropdown-style">
								<option>Select Storage Location</option>
								<option>-</option>
							</select>
						</div>
					</div>
					<div class="col-md-1 col-lg-1 padding-left0px-right6px">
						<div class="">
							<input type="button" value="Accept"  class="btn btn-primary btn-save-box-shadow" >
						</div>
					</div>
				</div>
				<div class="row margin-top8">
					<div class="col-md-12 col-lg-12 col-sm-12">
						<table class="table table-striped table-bordered " id="tableDetails">
							<tbody >
								<tr>
									<td colspan="2">
										<span class="profile_pic margin-left10"> 
											<img alt="" src="resources/assets/images/tempImages/m.jpg" class="img-circle" style="width:30px">
										</span> 
										<span class="margin-left10">Soniya Rao 26/F </span>
										<span class="margin-left10"><b class="padding-right5 ">UHID	:</b> Pune-769</span>
										<span class="margin-left10"><b class="padding-right10 ">Priority :</b> Normal</span>
										<span class="margin-left10">Dr. Suresh Pathak </span>
										<span class="margin-left10"><b class="padding-right5 ">Encounter ID :</b> 12347852096</span>
										<span class="margin-left10"><b class="padding-right5 ">Histopathology No. :</b> HN12347852096</span>
									</td>
								</tr>
								<tr>
									<th class="table-th-bg" colspan="2">Gross No- A-HN12345671</th>
								</tr>
								<tr>
									<th class="width3"><input type="checkbox"></th>
									<th class="test-name-width">Block No- A1-HN12345671</th>
								</tr>
								<tr>
									<td class="width3"><input type="checkbox"></td>
									<td class="test-name-width">A1-A101-HN12345671</td>
								</tr>
								<tr>
									<td class="width3"><input type="checkbox"></td>
									<td class="test-name-width">A1-A102-HN12345671</td>
								</tr>
								<tr>
									<th class="width3"><input type="checkbox"></th>
									<th class="test-name-width">Block No- A2-HN12345671</th>
									
								</tr>
								<tr>
									<td class="width3"><input type="checkbox"></td>
									<td class="test-name-width">A2-A201-HN12345671</td>
									
								</tr>
								<tr>
									<td class="width3"><input type="checkbox"></td>
									<td class="test-name-width">A2-A202-HN12345671</td>
									
								</tr>
								<tr>
									<th class="table-th-bg" colspan="2">Gross No- B-HN12345671</th>
								</tr>
								<tr>
									<th class="width3"><input type="checkbox"></th>
									<th class="test-name-width">Block No- B1-HN12345671</th>
									
								</tr>
								<tr>
									<td class="width3"><input type="checkbox"></td>
									<td class="test-name-width">B1-B101-HN12345671</td>
									
								</tr>
								<tr>
									<td class="width3"><input type="checkbox"></td>
									<td class="test-name-width">B1-B102-HN12345671</td>
									
								</tr>
								<tr>
									<th class="width3"><input type="checkbox"></th>
									<th class="test-name-width">Block No- B2-HN12345671</th>
									
								</tr>
								<tr>
									<td class="width3"><input type="checkbox"></td>
									<td class="test-name-width">B2-B201-HN12345671</td>
									
								</tr>
								<tr>
									<td class="width3"><input type="checkbox"></td>
									<td class="test-name-width">B2-B202-HN12345671</td>
								</tr>
								
								
								
								
								
								
								<tr>
									<td colspan="2">
										<span class="profile_pic margin-left10"> 
											<img alt="" src="resources/assets/images/tempImages/m.jpg" class="img-circle" style="width:30px">
										</span> 
										<span class="margin-left10">Soniya Rao 26/F </span>
										<span class="margin-left10"><b class="padding-right5 ">UHID	:</b> Pune-769</span>
										<span class="margin-left10"><b class="padding-right10 ">Priority :</b> Normal</span>
										<span class="margin-left10">Dr. Suresh Pathak </span>
										<span class="margin-left10"><b class="padding-right5 ">Encounter ID :</b> 12347852096</span>
										<span class="margin-left10"><b class="padding-right5 ">Histopathology No. :</b> HN12347852096</span>
									</td>
								</tr>
								<tr>
									<th class="table-th-bg" colspan="2">Gross No- A-HN12345671</th>
								</tr>
								<tr>
									<th class="width3"><input type="checkbox"></th>
									<th class="test-name-width">Block No- A1-HN12345671</th>
								</tr>
								<tr>
									<td class="width3"><input type="checkbox"></td>
									<td class="test-name-width">A1-A101-HN12345671</td>
								</tr>
								<tr>
									<td class="width3"><input type="checkbox"></td>
									<td class="test-name-width">A1-A102-HN12345671</td>
								</tr>
								<tr>
									<th class="table-th-bg" colspan="2">Gross No- B-HN12345671</th>
								</tr>
								<tr>
									<th class="width3"><input type="checkbox"></th>
									<th class="test-name-width">Block No- B1-HN12345671</th>
									
								</tr>
								<tr>
									<td class="width3"><input type="checkbox"></td>
									<td class="test-name-width">B1-B101-HN12345671</td>
									
								</tr>
								<tr>
									<td class="width3"><input type="checkbox"></td>
									<td class="test-name-width">B1-B102-HN12345671</td>
									
								</tr>
								<tr>
									<th class="width3"><input type="checkbox"></th>
									<th class="test-name-width">Block No- B2-HN12345671</th>
									
								</tr>
								<tr>
									<td class="width3"><input type="checkbox"></td>
									<td class="test-name-width">B2-B201-HN12345671</td>
									
								</tr>
								<tr>
									<td class="width3"><input type="checkbox"></td>
									<td class="test-name-width">B2-B202-HN12345671</td>
								</tr>
								
							</tbody>
						</table>
					</div>
				</div>
  			</div>
		</div>

	
	<script type="text/javascript">
	$( document ).ready(function() {
	
		var documentHeight= $(window).height();
	    var sideBarHeight = documentHeight - 55;
	 	$("#page-content-wrapper").css("height", sideBarHeight + "px" );
		
		
		$(".selectedPageName").text("Acceptance For Storage");
		$(".sidebar-nav li").each(function() {
			$(this).find("a").parents("li").removeClass("active");
		});
		$('a[href$="acceptanceForStorage"]').parents("li").addClass("active");
	});
	

	
	
</script>
</body>
</html>