        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid his-style">
            	<div class="row margin-top4">
            		<div class="col-md-8"></div>
					<div class="col-md-4 col-sm-4">
				<div class="col-lg-10 col-md-9 col-sm-9">
					<input type="text" class="text-search-box" placeholder="Search" style="margin-top:0px">
					<i class="fa fa-search common-search-text-icon" aria-hidden="true"></i>
				</div>
					<div class="col-md-1 col-sm-2 padding-leftright15 float_right">
						<div class="width-div-for-patient-reg ">
							<a href="" class="btn btn-primary btn-save-box-shadow"
								title="Save" data-toggle="modal" data-target="#confirmLogout"><i
								class="fa fa-floppy-o" style="font-size: 21px" aria-hidden="true"></i></a>
						</div>
					</div>
				</div>
            	</div>
            	<div class="row padding-left-right-10 margin-top10" id="tableOne">
					<div class="col-md-12">
						<!-- table one for report entry -->
						<table class="table table-bordered">
							<tr class="">
								<th class="UHID-width">
									UHID
									<div class="float_right">
										<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
										<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
									</div>
								</th>
								<th class="patient-doc-details-width">
									Patient Details
									<div class="float_right">
										<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
										<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
									</div>
								</th>
								<th class="patient-doc-details-width">
									Doctor Details
									<div class="float_right">
										<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
										<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
									</div>
								</th>
								<th class="priority-width">
									Specimen Name
									<div class="float_right">
										<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
										<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
									</div>
								</th>
								<th class="patient-doc-details-width">
									Histopathalogy No.
									<div class="float_right">
										<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
										<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
									</div>
								</th>
								<th class="note-width">
									Examination
									<div class="float_right">
										<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
										<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
									</div>
								</th>
								<th class="status">
									Action
									<div class="float_right">
										<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
										<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
									</div>
								</th>
							</tr>
							<tr>
								<td>UH123456</td>
								<td>
									<div>John Deo 26/M </div>
								</td>
								<td>
									<div>Dr. Andy Qnyty, Homotology</div>
								</td>
								<td><div>-</div></td>
								<td><div>13072017</div></td>
								<td>
									<div class="examination">
										<input type="text">
									</div>
								</td>
								<td>
									<input type="button" value="Create Gross"  class="btn btn-primary btn-save-box-shadow details-btn" data-toggle="modal" data-target="#details">
								</td>
							</tr>
							<tr>
								
								<td>UH123457</td>
								<td>
									<div>Soni Raut 20/F </div>
								</td>
								<td>
									<div>Dr. Andy Qnyty, Homotology</div>
								</td>
								<td><div>-</div></td>
								<td><div>13072017</div></td>
								<td>
									<div class="examination">
										<input type="text">
									</div>
								</td>
								<td>
									<input type="button" value="Create Gross"  class="btn btn-primary btn-save-box-shadow details-btn" data-toggle="modal" data-target="#details">
								</td>
							</tr>
							<tr>
								
								<td>UH123458</td>
								<td>
									<div>Soni Raut 20/F </div>
								</td>
								<td>
									<div>Dr. Andy Qnyty, Homotology</div>
								</td>
								<td><div>-</div></td>
								<td><div>13072017</div></td>
								<td>
									<div class="examination">
										<input type="text">
									</div>
								</td>
								<td>
									<input type="button" value="Create Gross"  class="btn btn-primary btn-save-box-shadow details-btn" data-toggle="modal" data-target="#details">
								</td>
							</tr>
						</table>
						<!--// table one for report entry -->
					</div>
				</div>
            </div>
        </div>
        <!--// Page Content -->
    
    
    
   <div id="details" class="modal fade ng-scope in" role="dialog">
	<div class="modal-dialog"> <!-- width: 25% !important;margin: 200px 0 0 510px !important; -->
		<div class="modal-content">
			<div class="modal-header">
				<div class="modal-title patient-details-row">
					Create Gross 
					<button type="button" class="close" data-dismiss="modal">×</button>
				</div>
			</div>
			<div class="modal-body">
				<div class="row patient-details-row">
					<div class="col-md-11 col-sm-11 col-xs-11 ">
						<span class="profile_pic margin-left10"> 
							<img alt="" src="resources/assets/images/tempImages/m.jpg" class="img-circle" style="width:30px">
						</span> 
						<span class="margin-left10">John Deo 26/M </span>
						<span class="margin-left10"><b class="padding-right5 ">UHID	:</b> Pune-769</span>
						<span class="margin-left10"><b class="padding-right10 ">Priority :</b> Normal</span>
						<span class="margin-left10">Dr. Suresh Pathak </span>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-12 height-table-with-scroll">
						<table class="table table-striped table-bordered" id="gross">
							<thead>
								<tr>
									<th class="UHID-width">Histopathlogy No.</th>
									<th class="test-name-width">Sub Specimen No.</th>
									<th class="test-name-width">Sub Specimen Discription</th>
									<th class="width15">Capture Note</th>
									<th class="status">Action</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<div>
											13072017
										</div>
									</td>
									<td>
										<div>
											<input type="text"  id="" class="text-box-for-ICU">
										</div>
									</td>
									<td>
										<div>
											<input type="text"  id="" class="text-box-for-ICU">
										</div>
									</td>
									<td>
										<div>
											<input type="text"  id="" class="text-box-for-ICU">
										</div>
									</td>
									<td>
										<div class="" style="margin-top: -2px;">
											<input type="button" name="" id="addr" value="+" onclick="addRowForMainTable()" class="btn btn-info">&nbsp;&nbsp;
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="modal-footer" style="border:none;">
				<div class="row">
            		<div class="col-md-6"></div>
					
					<div class="col-md-3 ">
					</div>
					<div class="col-md-1 ">
					</div>
					<div class="col-md-2">
						<div class="">
							<input type="button" value="Submit"  class="btn btn-primary btn-save-box-shadow">
						</div>
					</div>
            	</div>
			</div>
		</div>
	</div>
</div>
    
    
    
    
<script type="text/javascript">
$('.clockpicker').clockpicker();

$( document ).ready(function() {
	
	var documentHeight= $(window).height();
    var sideBarHeight = documentHeight - 55;
 	$("#page-content-wrapper").css("height", sideBarHeight + "px" );
 	
	$(".selectedPageName").text("Macroscopic Examination");
	$(".sidebar-nav li").each(function() {
		$(this).find("a").parents("li").removeClass("active");
	});
});
	
	function addRowForMainTable() {
		//alert();
		var n = document.getElementById("gross").rows.length;
		var id = Number(n);
		//alert(id);
		var test =

		'<tr>'
				+'<td>'
				+'<div>'
				+'13072017'
				+'</div>'
		        +'</td>'
		        + '<td>'
				+ '<div>'
				+ '<input type="text"  id="" class="text-box-for-ICU">'
				+ '</div>'
				+ '</td>'
				+ '<td>'
				+ '<div>'
				+ '<input type="text"  id="" class="text-box-for-ICU">'
				+ '</div>'
				+ '</td>'
				+ '<td>'
				+ '<div>'
				+ '<input type="text"  id="" class="text-box-for-ICU">'
				+ '</div>'
				+ '</td>'
				+ '<td>'
				+ '<input type="button" name="" id="addr" value="+" onclick="addRowForMainTable()" class="btn btn-info" style="margin-top: -2px;">&nbsp;&nbsp;'
				+ '<input type="button" name="" id="delr" value="-" onclick="delRowForMainTable(this)" class="btn btn-info" style="margin-top: -2px;">'
				+ '</td>' + '</tr>';

		$("#gross").append(test);

	}

	function delRowForMainTable(r) {
		var i = r.parentNode.parentNode.rowIndex;
		document.getElementById("gross").deleteRow(i);
	}

</script>
