<!-- Page Content start-->
<div id="page-content-wrapper" >
	<div class="container-fluid his-style">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 padding-left-right-set4 padding-top10">
				<span class=""><b class="padding-right10 ">Store
						:</b> <label> </label></span>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 padding-top10">
				<span class=""><b class="padding-right10 ">Start Date
						 :</b> <label> </label></span>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 padding-top10">
				<span class="margin-left10"><b class="padding-right10 ">Start Time
						 :</b> <label> </label></span>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 padding-top10">
				<span class="margin-left10"><b class="padding-right10 ">Stop Date
						 :</b> <label> </label></span>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 padding-top10">
				<span class="margin-left10"><b class="padding-right10 ">Stop Time
						 :</b> <label> </label></span>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 padding-top10">
				<span class=""><b class="padding-right10 ">Uploaded By
						 :</b> <label> </label></span>
			</div>
		</div>
		<div class="row padding-top10 padding-left-right-set4">
			<div id="table-scroll" class="table-scroll">
			  <div class="table-wrap">
			    <table class="main-table">
			      <thead>
			        <tr>
			          <th class="fixed-side width5 th-bg" scope="col">Product Category</th>
			          <th class="fixed-side width10 th-bg" scope="col">Item Code</th>
			          <th scope="col" class="th-bg">Item Name</th>
			          <th scope="col" class="th-bg">UOM</th>
			          <th scope="col" class="th-bg">UOM Unit</th>
			          <th scope="col" class="th-bg">Batch No.</th>
			          <th scope="col" class="th-bg">Expiry Date</th>
			          <th scope="col" class="th-bg">COP</th>
			          <th scope="col" class="th-bg">MRP</th>
			          <th scope="col" class="th-bg">Qty</th>
			          <th scope="col" class="th-bg">Uploaded Qty</th>
			          <th scope="col" class="th-bg">New Expiry Date</th>
			          <th scope="col" class="th-bg">New MRP</th>
			          <th scope="col" class="th-bg">Difference</th>
			          <th scope="col" class="th-bg">Variance at COP</th>
			          <th scope="col" class="th-bg">Variance at Price</th>
			          <th scope="col" class="th-bg">Remarks</th>
			          <th scope="col" class="th-bg">Aproval Qty</th>
			          <th scope="col" class="th-bg">Reject Qty</th>
			          <th scope="col" class="th-bg">Reject</th>
			        </tr>
			      </thead>
			      <tbody>
			        <tr>
			          <td class="fixed-side td-bg"></td>
			          <td class="fixed-side td-bg"></td>
			          <td class="td-bg"></td>
			          <td class="td-bg"></td>
			          <td class="td-bg"></td>
			          <td class="td-bg"></td>
			          <td class="td-bg"></td>
			          <td class="td-bg"></td>
			          <td class="td-bg"></td>
			          <td class="td-bg"></td>
			          <td class="td-bg"></td>
			          <td class="td-bg"></td>
			          <td class="td-bg"></td>
			          <td class="td-bg"></td>
			          <td class="td-bg"></td>
			          <td class="td-bg"></td>
			          <td class="td-bg"></td>
			          <td class="td-bg"></td>
			          <td class="td-bg"></td>
			          <td class="td-bg">
			          <div class="checkbox">
			          	<label><input type="checkbox" value="" data-toggle="modal" data-target="#qtyaccepatReject">Reject</label>
			          </div>
			          </td>
			        </tr>
			      </tbody>
			      <!-- <tfoot>
			        <tr>
			          <td class="fixed-side">8121111</td>
			          <td class="fixed-side">121212</td>
			          <td>Footer 2</td>
			          <td>Footer 3</td>
			          <td>Footer 4</td>
			          <td>Footer 5</td>
			          <td>Footer 6</td>
			          <td>Footer 7</td>
			          <td>Footer 8</td>
			          <td>Footer 2</td>
			          <td>Footer 3</td>
			          <td>Footer 4</td>
			          <td>Footer 5</td>
			          <td>Footer 6</td>
			          <td>Footer 7</td>
			          <td>Footer 8</td>
			        </tr>
			      </tfoot> -->
			    </table>
			  </div>
			</div>
		</div>
		<footer class="col-lg-12 col-md-12 col-sm-12 padding-left-right15">
				<div class="row padding-left-right15">
					<div class="col-lg-11 col-md-11 col-sm-10"></div>
						<div class="col-lg-1 col-md-1 col-sm-2 padding-left-right-set float_right text-width-auto">
							<div class=" ">
								<a href="#/computeStock" class="btn btn-primary btn-save-box-shadow" title="Back">Back</a>
							</div>
						</div>
					</div>
			</footer>
	</div>
</div>
<div ng-include='"./views/common/qty-accept-reject.html"'></div>