<fieldset class="margin-top4 padding-left-right-set4">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 height500-table-with-scroll">
			<table class="table table-bordered first-checkBox-padding">
				<!-- mainServiceTable -->
				<thead class="mainServiceTableCommon">
					<tr>
						<th class="width7">
							Asset Category
							<div class="float_right">
								<div>
									<i class="fa fa-caret-up" aria-hidden="true"></i>
								</div>
								<div class="margin-top-8">
									<i class="fa fa-caret-down" aria-hidden="true"></i>
								</div>
							</div>
						</th>
						<th class="width7">
							Product Category
							<div class="float_right">
								<div>
									<i class="fa fa-caret-up" aria-hidden="true"></i>
								</div>
								<div class="margin-top-8">
									<i class="fa fa-caret-down" aria-hidden="true"></i>
								</div>
							</div>
						</th>
						<th class="width7">
							Item Code
							<div class="float_right">
								<div>
									<i class="fa fa-caret-up" aria-hidden="true"></i>
								</div>
								<div class="margin-top-8">
									<i class="fa fa-caret-down" aria-hidden="true"></i>
								</div>
							</div>
						</th>
						<th class="width7">
							Item Name
							<div class="float_right">
								<div>
									<i class="fa fa-caret-up" aria-hidden="true"></i>
								</div>
								<div class="margin-top-8">
									<i class="fa fa-caret-down" aria-hidden="true"></i>
								</div>
							</div>
						</th>
						<th class="width1 text-center vertical-middle">
							Action
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td class="text-center vertical-middle">
							<a>
								<i class="fa fa-times" aria-hidden="true"></i>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</fieldset>
<script>
	$(".addsavebtn").show();
</script>