.table-scroll {
	position:relative;
	max-width:110%;
	margin:auto;
	overflow:hidden;
	border:1px solid #ddd;
}
.table-wrap {
	width:100%;
	overflow:auto;
}
.table-scroll table {
	width:100%;
	margin:auto;
	border-collapse:collapse;
	border-spacing:0;
}
.table-scroll th, .table-scroll td {
	padding:5px 8px;
	border:1px solid #ddd;
	background:#fff;
	white-space:nowrap;
	vertical-align:top;
}
/* .main-table>tbody>tr>th, .main-table>thead>tr>th, .main-table>tfoot>tr>td, .main-table>tfoot>tr>th
	{
	background-color: #F5F5A6 !important; 
	}
	.main-table>tbody>tr>td
	{
		background-color: #FFFFCE; 
	} */
.th-bg{background-color: #F5F5A6 !important;}
.td-bg{background-color: #FFFFCE !important;}
.clone {
	position:absolute;
	top:0;
	left:0;
	pointer-events:none;
	background-color: transparent !important;
}
.clone th, .clone td {
	visibility:hidden
}
.clone td, .clone th {
	border-color:transparent
}
.clone tbody th {
	visibility:visible;
}
.clone .fixed-side {
	border:1px solid #ddd;
	visibility:visible;
}
.clone thead, .clone tfoot{background:transparent;}