<fieldset>
			<legend class="heading-div">Insurance</legend>
				<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 padding-top10">
							<div class="row input-container">
								<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon">
									<i class="fa fa-stop-circle-o" aria-hidden="true"></i>
								</div>
								<div class="col-lg-11 col-sm-11 col-md-11">
									<div class="">
										<select class="text-input floating-label">
											<option></option>
											<option>-</option>
										</select> <label for="code">Select Company Name</label>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 padding-top10">
							<div class="row input-container">
								<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon ">
									<i class="fa fa-stop-circle-o" aria-hidden="true"></i>
								</div>
								<div class="col-lg-11 col-sm-11 col-md-11 ">
									<div class="">
										<select class="text-input floating-label">
											<option></option>
											<option>-</option>
										</select> <label for="code">Select Tariff </label>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 padding-top10">
							<div class="row input-container">
								<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon ">
									<i class="fa fa-stop-circle-o" aria-hidden="true"></i>
								</div>
								<div class="col-lg-11 col-sm-11 col-md-11 ">
									<div class="">
										<select class="text-input floating-label">
											<option></option>
											<option>-</option>
										</select> <label for="code">Associate Company Name</label>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 padding-top10">
							<div class="row input-container">
								<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon ">
									<i class="fa fa-stop-circle-o" aria-hidden="true"></i>
								</div>
								<div class="col-lg-11 col-sm-11 col-md-11 ">
									<div class="">
										<select class="text-input floating-label">
											<option></option>
											<option>-</option>
										</select> <label for="code">Plan</label>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 padding-top10">
							<div class="row input-container">
								<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon ">
									<i class="fa fa-stop-circle-o" aria-hidden="true"></i>
								</div>
								<div class="col-lg-11 col-sm-11 col-md-11 ">
									<div class="">
										<select class="text-input floating-label">
											<option></option>
											<option>-</option>
										</select> <label for="code">Insurance Number</label>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 padding-top10">
							<div class="row input-container">
								<div class="col-lg-11 col-sm-11 col-md-11 ">
									<div class="">
										<input type="text" name="description" id="" class="text-input floating-label"> <label for="description" class="">Start Date</label>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 padding-top10">
							<div class="row input-container">
								<div class="col-lg-11 col-sm-11 col-md-11 ">
									<div class="">
										<input type="text" name="description" id="" class="text-input floating-label"> <label for="description" class="">End Date</label>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-1 col-lg-1 margin-top10 float_right">
							<input type="button" value="+" class=" btn btn-primary btn-save-box-shadow ">
						</div>
					</div>
				
				<fieldset>
					<legend class="heading-div">Policy Documents</legend>
					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-4 padding-left-right-set4 padding-top10">
							<div class="row input-container">
								<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon">
									<i class="fa fa-stop-circle-o" aria-hidden="true"></i>
								</div>
								<div class="col-lg-11 col-sm-11 col-md-11">
									<div class="">
										<select class="text-input floating-label">
											<option></option>
											<option>-</option>
										</select> <label for="code">Select Company Name</label>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-1 col-lg-1 margin-top10 float_right">
							<input type="button" value="+" class=" btn btn-primary btn-save-box-shadow ">
						</div>
					</div>
				</fieldset>
				
				<div class="row">
					<div class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4 padding-top10">
						<div class="row input-container">
							<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon">
								<i class="fa fa-stop-circle-o" aria-hidden="true"></i>
							</div>
							<div class="col-lg-11 col-sm-11 col-md-11">
								<div class="">
									<input type="text" name="registrationNumber" id="" class="text-input floating-label">
									<label for="description" class="LISDynamicLabel">Document Date</label>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4 padding-top10">
						<div class="row input-container">
							<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon ">
								<i class="fa fa-stop-circle-o" aria-hidden="true"></i>
							</div>
							<div class="col-lg-11 col-sm-11 col-md-11 ">
								<div class="">
									<select class="text-input floating-label">
										<option></option>
										<option>-</option>
									</select> <label for="code">Select Type </label>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4 padding-top10">
						<div class="row input-container">
								<div class="">
									<input type="file" name="description" id="" class="text-input floating-label"> 
								</div>
						</div>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4 padding-top10">
						<div class="row input-container">
							<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon ">
								<i class="fa fa-stop-circle-o" aria-hidden="true"></i>
							</div>
							<div class="col-lg-11 col-sm-11 col-md-11 ">
								<div class="">
									<input type="text" name="description" id="" class="text-input floating-label"> <label for="description" class="">Document Name</label>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-1 col-lg-1 margin-top10 float_right">
						<input type="button" value="+" class=" btn btn-primary btn-save-box-shadow ">
					</div>
				</div>
	</fieldset>