<div id="detailsAddModal" class="modal fade ng-scope in" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<div class="modal-title patient-details-row">
					Address Details
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-lg-12 col-md-12 common-table-height-250 padding-top10" id="">pharmacologyDetailsTableId id for the table td fix height
						<table class="table">
							<tr class="">
								<td class="width10">
									<label><b>Address :</b></label>
								</td>
								<td  class="width20">
									<label>Address 1</label>
								</td>
							</tr>
							<tr>
								<td class="width10">
									<label><b>Country :</b></label>
								</td>
								<td class="width10">
									<label>India</label>
								</td>
							</tr>
							<tr>
								<td class="width10">
									<label><b>State :</b></label>
								</td>
								<td class="width18">
									<label>Maharashtra</label>
								</td>
							</tr>
							<tr>
								<td class="width10">
									<label><b>City :</b></label>
								</td>
								<td class="width18">
									<label>Kolhapur</label>
								</td>
							</tr>
							<tr>
								<td class="width10">
									<label><b>Area :</b></label>
								</td>
								<td class="width18">
									<label>Tarabai Park</label>
								</td>
							</tr>
							<tr>
								<td class="width10">
									<label><b>ZIP Code :</b></label>
								</td>
								<td class="width18">
									<label>416012</label>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- <div id="detailsAddModal" class="fade ng-scope in">
    <div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<div class="modal-title patient-details-row">
					Address Details
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-lg-12 col-md-12 common-table-height-250 padding-top10" id="">pharmacologyDetailsTableId id for the table td fix height
						<table class="table">
							<tr class="">
								<td class="width10">
									<label><b>Address :</b></label>
								</td>
								<td  class="width20">
									<label>Address 1</label>
								</td>
							</tr>
							<tr>
								<td class="width10">
									<label><b>Country :</b></label>
								</td>
								<td class="width10">
									<label>India</label>
								</td>
							</tr>
							<tr>
								<td class="width10">
									<label><b>State :</b></label>
								</td>
								<td class="width18">
									<label>Maharashtra</label>
								</td>
							</tr>
							<tr>
								<td class="width10">
									<label><b>City :</b></label>
								</td>
								<td class="width18">
									<label>Kolhapur</label>
								</td>
							</tr>
							<tr>
								<td class="width10">
									<label><b>Area :</b></label>
								</td>
								<td class="width18">
									<label>Tarabai Park</label>
								</td>
							</tr>
							<tr>
								<td class="width10">
									<label><b>ZIP Code :</b></label>
								</td>
								<td class="width18">
									<label>416012</label>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div> -->
 
