<div id="page-content-wrapper" class="ng-scope">
  <div class="container-fluid his-style">
  <fieldset class="main-fieldset">
    <!-- <legend class="heading-div">Add New Store Indent</legend> -->
    <div class="row margin-top10">
      <div class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4 padding-top10">
        <div class="row input-container">
          <div class="col-lg-1 col-sm-1 col-md-2 polymer-icon">
            <i class="fa fa-tasks" aria-hidden="true"></i>
          </div>
          <div class="col-lg-11 col-sm-11 col-md-10">
            <div class="">
              <select class="dirty text-input floating-label ng-pristine ng-untouched ng-valid ng-empty" ng-model="vm.model.fromStore">
                <option value="">Linen Main Store</option>
                <!-- ngRepeat: datum in vm.model.storeList -->
              </select>
              <label for="code">From Store</label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4 padding-top10">
        <div class="row input-container">
          <div class="col-lg-1 col-sm-1 col-md-2 polymer-icon">
            <i class="fa fa-tasks" aria-hidden="true"></i>
          </div>
          <div class="col-lg-11 col-sm-11 col-md-10">
            <div class="">
              <select class="dirty text-input floating-label ng-pristine ng-untouched ng-valid ng-empty" ng-model="vm.model.toStore">
                <option value="">Condemnation Store</option>
                <!-- ngRepeat: datum in vm.model.storeList -->
              </select>
              <label for="code">To Store</label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set padding-top10">
        <div class="row input-container">
          <div class="col-lg-1 col-sm-1 col-md-1 polymer-icon">
             <i class="fa fa-tasks" aria-hidden="true"></i>
          </div>
          <div class="col-lg-5 col-sm-3 col-md-4">
            <div class="">
              <select class="dirty text-input floating-label ng-pristine ng-untouched ng-valid ng-empty" ng-model="vm.model.prioritySelect">
                <option value="">Normal</option>
                <!-- ngRepeat: datum in vm.model.priorityDataList -->
              </select>
              <label for="code">Priority</label>
            </div>
          </div>
            <!--  <div class="col-lg-6 col-md-7 col-sm-2 padding-left-right-set">
            <div class="checkbox">
              <label class="common-lable-color-set"><input type="checkbox" value="" ng-model="vm.model.isConsignment" class="ng-valid ng-dirty ng-valid-parse ng-touched ng-empty" style="">Is Consignment</label>
            </div>
          </div> -->
        </div>
      </div>
      <!-- <div class="col-lg-2 col-md-2 padding-left-right-set4 text-width-auto padding-top10">
			<div class="checkbox">
				<label class="common-lable-color-set">
				<input type="checkbox" value="" data-target="#addNewItemWasteStore" data-toggle="modal">Get Item List</label>
			</div>
		</div> -->
      <div class="col-lg-2 col-md-1 padding-left-right-set4 text-width-auto padding-top10">
    <div class="checkbox">
          <label class="common-lable-color-set">
          <input type="checkbox" class="getNameList">Get Item List
          </label>
        </div>
        <!-- <a>
          <input type="button" value="Get Item List" class="btn btn-primary btn-save-box-shadow text-width-auto" data-target="#addNewItemWasteStore" data-toggle="modal">
        </a> -->
      </div>
      <div class="col-lg-3 col-md-2 col-sm-3 padding-left-right-set4 padding-top10 pull-right">
        <div class="row input-container">
          <div class="col-lg-1 col-sm-1 col-md-1 polymer-icon">
            <i class="fa fa-search" aria-hidden="true"></i>
          </div>
          <div class="col-lg-11 col-sm-11 col-md-11">
            <div class="">
              <input type="text" name="code" id="" ng-model="searchStoreIndent" class="text-input floating-label ng-pristine ng-valid ng-empty ng-touched" style="">
              <label for="code">Search Item</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--  fixed asset table start -->
    <div class="row" id="fixeAssetRowId">
      <div class="col-lg-12 col-md-12 padding-top10">
        <table class="table table-bordered">
          <thead>
           
            <tr>
             <th class="width1">
              </th>
              <th class="width8">Linen Code
                <div class="float_right">
                  <div>
                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                  </div>
                  <div class="margin-top-8">
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                  </div>
                </div>
              </th>
              <th class="width8">Linen Name
                <div class="float_right">
                  <div>
                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                  </div>
                  <div class="margin-top-8">
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                  </div>
                </div>
              </th>
              <th class="width8">Qty
                <div class="float_right">
                  <div>
                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                  </div>
                  <div class="margin-top-8">
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                  </div>
                </div>
              </th>
              <th class="width10">Asset No.
                <div class="float_right">
                  <div>
                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                  </div>
                  <div class="margin-top-8">
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                  </div>
                </div>
              </th>
              <th class="width3">Action
                <div class="float_right">
                  <div>
                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                  </div>
                  <div class="margin-top-8">
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                  </div>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
	          <tr>
	          	<td><input type="checkbox"></td>
	          	<td>LN1420</td>
	          	<td>Bedsheet</td>
	          	<td>5</td>
	          	<td><a data-target="#assetNoPopup" data-toggle="modal">Asset No.</a></td>
	          	<td><a><i class="fa fa-times"></i></a></td>
	          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- fixed asset table end -->
  </fieldset>
  
  <footer class="col-lg-12 col-md-12 col-sm-12 padding-left-right-set4 padding-right20">
    <div class="row his-style margin-top10 padding-right20">
      <div class="col-md-1 text-right">
        <label>Remark:</label>
      </div>
      <div class="col-md-9 padding-left-right8">
        <textarea row="1" class="form-control"></textarea>
      </div>
      <div class="col-md-1 padding-left0px-right6px">
        <div class=""><!-- common-save-button -->
          <input type="button" value="Save" class="btn btn-primary btn-save-box-shadow">
        </div>
      </div>
      <div class="col-lg-1 col-md-1 padding-left-right-set4">
          <a href="#/sendToCondemnation">
            <input type="button" value="Back" class="btn btn-primary btn-save-box-shadow">
          </a>
        </div>
    </div>      
  </footer>
  </div>
  </div>
  
  <div ng-include="'./views/common/asset-no-popup.html'"></div>
    <div ng-include="'./views/common/get-asset-list.html'"></div>
  
  <script type="text/javascript">
$( document ).ready(function() {
	var documentHeight= $(window).height();
    var sideBarHeight = documentHeight - 55;
 	$("#page-content-wrapper").css("height", sideBarHeight + "px" );
	
	$('.clockpicker').clockpicker();
	$(".medication-text-box").hide();
	$( ".radioRejected" ).change(function() {
		if ($(this).is(":checked"))
		{
			$("#accepatReject").modal();
		}
	});
	
	$(".getNameList").click(function()
	{
		$("#getAssetSearch").modal().show();
	});
	
	
	/* $(".selectedPageName").text("Add New Linen Indent");
	$(".sidebar-nav li").each(function() {
		$(this).find("a").parents("li").removeClass("active");
	});
	$('a[href$="addNewLinenIndent"]').parents("li").addClass("active"); */
	
});

</script>
  