

<!-- Page Content -->
<div id="page-content-wrapper" class="">
	<div class="container-fluid his-style">
		<fieldset>
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 padding-top10">
					<span class="margin-left10"><b class="padding-right10 ">Request
							No. :</b> <lable>RQ-1002</lable></span>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 padding-top10">
					<span class="margin-left10"><b class="padding-right10 ">Request
							Date:</b><lable>20/04/2018</lable> </span>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 padding-top10">
					<span class="margin-left10"><b class="padding-right10 ">From
							Store :</b><lable>Nurse Store</lable> </span>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 padding-top10">
					<span class="margin-left10"><b class="padding-right10 ">To
							Store:</b><lable>Linen Main Store<lable> </lable></lable></span>
				</div>
			</div>
			
			<!--  Table start -->
			<div class="row" id="">
				<div
					class="col-lg-12 col-md-12 height420-table-with-scroll padding-top10 padding-left-right-set4"> <!-- table-x-scroll -->
					<table class="table table-bordered">
						<thead>
							<tr>
								<th class="width1 vertical-middle"><input type="checkbox" class=""></th>
								<th class="width6">Linen Code
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th>
								<th class="width10">Linen Name
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th>
								<th class="width6">Asset No
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th>
								<th class="width6">Received Qty
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th>
								<th class="width6">Accept Qty
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th>
								<th class="width6">Reject Qty
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th>
								<th class="width6">Action
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="vertical-middle"><input type="checkbox"></td>
								<td>LN1426</td>
								<td>Nurse Dress</td>
								<td>AS4564</td>
								<td>30</td>
								<td>25</td>
								<td>5</td>
								<td class=" vertical-middle">
									<div class="checkbox">
									  <label><input type="checkbox" value="" data-toggle="modal" data-target="#qtyaccepatReject">Reject</label>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!-- Table end -->
			
			
			<footer class="col-lg-12 col-md-12 col-sm-12 padding-left-right-set4 padding-right20">
			<div class="row his-style padding-right20">
				<div class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4">
					<!-- <div class="row input-container">
						<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon">
							<i class="fa fa-caret-square-o-right " aria-hidden="true"></i>
						</div>
						<div class="col-lg-11 col-sm-11 col-md-11">
							<div class="">
								<select class="text-input floating-label dirty">
									<option value="">Saeed G</option>
								</select> <label for="code">Carrier</label>
							</div>
						</div>
					</div> -->
				</div>
				<div class="col-md-1 text-right">
					<b><label>Remark:</label></b>
				</div>
				<div class="col-md-7 padding-left-right8">
					<textarea row="1" class="form-control" readonly>-</textarea>
				</div>
				
				<div class="col-md-1 padding-left0px-right6px float-right">
						<div class="">
							<a href="#/acceptanceWashingRequest">
								<input type="button" value="Back" class="btn btn-primary btn-save-box-shadow">
							</a>
						</div>
					</div>
			</div>
		</footer>
		</fieldset>
	</div>
</div>

<div ng-include="'./views/common/qty-accept-reject.html'"></div>
<div ng-include="'./views/common/note-save.html'"></div>

<script type="text/javascript">
$( document ).ready(function() {
	$(".selectedPageName").text("Details Acceptance Washing Request");
})
</script>