<!-- Page Content -->
<div id="page-content-wrapper" class="">
	<div class="container-fluid his-style">
		<fieldset class="main-fieldset">
			<div class="row margin-top10">
				<div
					class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 padding-top10">
					<span class="margin-left10"><b class="padding-right10 ">Request No. :</b><label>RQ-1002</label> </span>
				</div>
				<div
					class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 padding-top10">
					<span class="margin-left10"><b class="padding-right10 ">Request
							Date:</b><label>20/04/2018</label> </span>
				</div>
				<div
					class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 padding-top10">
					<span class="margin-left10"><b class="padding-right10 ">From
							Store :</b><label>Nurse Store</label> </span>
				</div>
				<div
					class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 padding-top10">
					<span class="margin-left10"><b class="padding-right10 ">To
							Store:</b> <label>Linen Main Store</label></span>
				</div>
			</div>
			<!--  fixed asset table start -->
			<div class="row" id="fixeAssetRowId">
				<div class="col-lg-12 col-md-12 padding-top10 fix-height-scroll500 "><!-- fix-height-scroll500 -->
					<table class="table table-bordered">
			          <thead>
			            <tr class="table-th-bg">
			              <th colspan="13" class="font-weight700">Linen Details</th>
			            </tr>
			            <tr>
			              <th class="width8">Linen Code
			                <div class="float_right">
			                  <div>
			                    <i class="fa fa-caret-up" aria-hidden="true"></i>
			                  </div>
			                  <div class="margin-top-8">
			                    <i class="fa fa-caret-down" aria-hidden="true"></i>
			                  </div>
			                </div>
			              </th>
			              <th class="width8">Linen Name
			                <div class="float_right">
			                  <div>
			                    <i class="fa fa-caret-up" aria-hidden="true"></i>
			                  </div>
			                  <div class="margin-top-8">
			                    <i class="fa fa-caret-down" aria-hidden="true"></i>
			                  </div>
			                </div>
			              </th>
			              <th class="width10">Asset No
			                <div class="float_right">
			                  <div>
			                    <i class="fa fa-caret-up" aria-hidden="true"></i>
			                  </div>
			                  <div class="margin-top-8">
			                    <i class="fa fa-caret-down" aria-hidden="true"></i>
			                  </div>
			                </div>
			              </th>
			              <th class="width5">Dirt Linen Qty
			                <div class="float_right">
			                  <div>
			                    <i class="fa fa-caret-up" aria-hidden="true"></i>
			                  </div>
			                  <div class="margin-top-8">
			                    <i class="fa fa-caret-down" aria-hidden="true"></i>
			                  </div>
			                </div>
			              </th>
			              <th class="width7">Contaminated Linen Qty
			                <div class="float_right">
			                  <div>
			                    <i class="fa fa-caret-up" aria-hidden="true"></i>
			                  </div>
			                  <div class="margin-top-8">
			                    <i class="fa fa-caret-down" aria-hidden="true"></i>
			                  </div>
			                </div>
			              </th>
			              <th class="width7">Total Qty
			                <div class="float_right">
			                  <div>
			                    <i class="fa fa-caret-up" aria-hidden="true"></i>
			                  </div>
			                  <div class="margin-top-8">
			                    <i class="fa fa-caret-down" aria-hidden="true"></i>
			                  </div>
			                </div>
			              </th>
			            </tr>
			          </thead>
			          <tbody>
			            <tr >
			              <td>LN1426</td>
			              <td>Nurse Dress</td>
			              <td>AS4564</td>
			              <td>50</td>
			              <td>20</td>
			              <td>30</td>
			            </tr>
			          </tbody>
		        	</table>
				</div>
			</div>
			<!-- fixed asset table end -->
		</fieldset>
		
		<footer class="col-lg-12 col-md-12 col-sm-12 padding-left-right-set4 padding-right20">
			<div class="row his-style padding-right20">
				<div class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4 padding-top10">
					<span class="margin-left10"><b class="padding-right10 ">Carrier
							 :</b> <lable></lable></span>
				</div>
				<div class="col-md-1 text-right">
					<label>Remark:</label>
				</div>
				<div class="col-md-8 padding-left-right8">
					<textarea row="1" class="form-control" readonly>-</textarea>
				</div>
				<div class="col-md-1 padding-left0px-right6px">
					<div class="">
						<a href="#/washingRequest">
							<input type="button" value="Back" class="btn btn-primary btn-save-box-shadow">
						</a>
					</div>
				</div>
			</div>
		</footer>
	</div>
</div>
<script type="text/javascript">
$( document ).ready(function() {
	$(".selectedPageName").text("Details Washing Request");
})
</script>