<!-- Page Content -->
<div id="page-content-wrapper" class="">
	<div class="container-fluid his-style">
		<fieldset>
			<div class="row margin-top10">
				<div
					class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 padding-top10">
					<span class="margin-left10"><b class="padding-right10 ">From
							Store :</b> Main Store </span>
				</div>
				<div
					class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 padding-top10">
					<span class="margin-left10"><b class="padding-right10 ">To
							Store:</b>ICU Store</span>
				</div>
				
				<div
					class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 padding-top10">
					<span class="margin-left10"><b class="padding-right10 ">Issue No.:</b>IS9120 </span>
				</div>
				<div
					class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 padding-top10">
					<span class="margin-left10"><b class="padding-right10 ">Issue Date:</b>22/04/2018 </span>
				</div>
			</div>
			<div class="row margin-top10">
				<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 padding-top10">
					<span class="margin-left10"><b class="padding-right10 ">Indent No.:</b>IND-1001 </span>
				</div>
				
			</div>
			<!--  Table start -->
			<div class="row" id="">
				<div
					class="col-lg-12 col-md-12 height420-table-with-scroll padding-top10 padding-left-right-set4"> <!-- table-x-scroll -->
					<table class="table table-bordered">
						<thead>
							<tr>
							<th class="width1 vertical-middle"><input type="checkbox" class=""></th>
								<th class="width4 vertical-middle">Linen Code</th>
								<th class="width5 vertical-middle">Linen Name</th>
								<th class="width5 vertical-middle">Dirt Linen Qty</th>
								<th class="width4 vertical-middle">Contaminated Linen Qty</th>
								<th class="width5 vertical-middle">Indent Qty</th>
								<th class="width4 vertical-middle">Accept Qty</th>
								<th class="width4 vertical-middle">Asset No</th>
								<th class="width3 vertical-middle">Action</th>
								<th class="width4 vertical-middle">Indent No.</th>			<!-- on select reject radiobtn show input for reject qty  -->
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="vertical-middle"><input type="checkbox"></td>
								<td class="vertical-middle">LN1420</td>
								<td class="vertical-middle">Bedsheet</td>
								<td class="vertical-middle">6</td>
								<td class="vertical-middle">4</td>
								<td class="vertical-middle">10</td>
								<td class="vertical-middle">10</td>
								<td class="vertical-middle"><a data-target="#assetNoPopup" data-toggle="modal">Asset No.</a></td>
								<td class=" vertical-middle">
									<div class="checkbox">
									  <label><input type="checkbox" value="" data-toggle="modal" data-target="#qtyaccepatReject">Reject</label>
									</div>
								</td>
								<td class="vertical-middle">IND-1001</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!-- Table end -->
			
			<footer class="col-lg-12 col-md-12 padding-left-right-set4 padding-right20">
				<div class="row padding-top5 margin-top10 padding-right20">
					<div class="col-lg-1 col-md-2 padding-left-right-set4 float-right">
						<a href="#/acceptanceOfDirtyLinen">
							<input type="button" value="Back" class="btn btn-primary btn-save-box-shadow">
						</a>
					</div>
				</div>
			</footer>
		</fieldset>
	</div>
</div>

<div ng-include="'./views/common/asset-no-popup.html'"></div>
<div ng-include="'./views/common/qty-accept-reject.html'"></div>
<div ng-include="'./views/common/note-save.html'"></div>
<!-- <script type="text/javascript">

$(".rejection-details-row4").hide();
/* ************** radioRejected4 ********** */

$( ".radioRejected4" ).change(function() {
	if ($(this).is(":checked"))
	{
		$(this).closest(".row").siblings(".rejection-details-row4").show();
	}
});
$( ".radioAcceptedHold4" ).change(function() {
	if ($(this).is(":checked"))
	{
		$(this).closest(".row").siblings(".rejection-details-row4").hide();
	}
});
</script> -->