<div id="page-content-wrapper" class="ng-scope">
	<div class="container-fluid his-style">
		<fieldset class="main-fieldset">
			<!-- <legend class="heading-div">Material Issue Details</legend> -->
			<div class="row margin-top10">
				<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 padding-top10">
					<span class="margin-left10"><b class="padding-right10 ">Issue No.
							 :</b><lable>IS9120</lable></span>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 padding-top10">
					<span class="margin-left10"><b class="padding-right10 ">Issue
							Date :</b><lable>22/04/2018</lable> </span>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 padding-top10">
					<span class="margin-left10"><b class="padding-right10 ">From
							Store :</b><lable>Main Store</lable> </span>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 padding-top10">
					<span class="margin-left10"><b class="padding-right10 ">To
							Store :</b><lable>ICU Store<lable> </lable></lable></span>
				</div>
			</div>
			<div class="row margin-top10">
				<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 padding-top10">
					<span class="margin-left10"><b class="padding-right10 ">Indent No.
							:</b><lable>IND-1001</lable></span>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 padding-top10">
					<span class="margin-left10"><b class="padding-right10 ">Priority
							:</b><lable>Urgent</lable></span>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 padding-top10">
					<span class="margin-left10"><b class="padding-right10 ">Type :<lable>Bed Linen</lable></b>
					</span>
				</div>
			</div>
			<div class="row" id="fixeAssetRowId">
				<div class="col-lg-12 col-md-12 fix-height-scroll500 padding-top10 padding-left-right-set4">
					<table class="table table-bordered">
						<thead>
							
							<tr>
								<th class="width8">Linen Code
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th>
								<th class="width8">Linen Name
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th>
								
								<th class="width10">Indent Qty
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th>
								<th class="width10">Pending Indent Qty
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th>
								<th class="width10">Stock Available
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th>
								<th class="width7">Issue Qty
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th> 
								<th class="width5">Asset No.
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th> 
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="vertical-middle">LN1420</td>
								<td class="vertical-middle">Bedsheet</td>
								<td>10</td>
								<td>5</td>
								<td>0</td>
								<td>5</td>
								<td><a data-target="#assetNoPopup" data-toggle="modal">Asset No.</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</fieldset>
		<footer class="col-lg-12 col-md-12 col-sm-12 padding-left-right-set4 padding-right20">
			<div class="row his-style padding-right20">
				<div class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4 padding-top10">
					<span class="margin-left10"><b class="padding-right10 ">Carrier
							 :</b> <lable></lable></span>
				</div>
				<div class="col-lg-8 col-md-8 col-sm-8 padding-left-right-set4 padding-top10">
					<span class="margin-left10"><b class="padding-right10 ">Remark
							 :</b> <lable></lable></span>
				</div>
				<div class="col-md-1 padding-left0px-right6px">
						<div class="">
							<a href="#/linenIssue"> <input type="button" value="Back" class="btn btn-primary btn-save-box-shadow">
							</a>
						</div>
					</div>
			</div>
		</footer>
	</div>
</div>
<div ng-include="'./views/common/asset-no-popup.html'"></div>

<script type="text/javascript">
$(".selectedPageName").text("Linen Issue");
$(".sidebar-nav li").each(function() {
	$(this).find("a").parents("li").removeClass("active");
});
$('a[href$="materialIssue"]').parents("li").addClass("active");
$(document).ready(function(){
	$(".selectedServicesList").hide();
});

$(".table-th-bg").click(function(){
	$(this).next().find(".selectedServicesList").toggle();
});
</script>
<script src="resources/assets/js/common/page-height.js"></script>