<!-- Page Content -->
<div id="page-content-wrapper" class="">
	<div class="container-fluid his-style">
		<fieldset class="main-fieldset">
			<!-- <legend class="heading-div">Material Return</legend> -->
			<div class="row margin-top10">
				<div class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4 padding-top10">
					<div class="row input-container">
						<div class="col-lg-2 col-md-2 col-sm-2 polymer-icon">
							<i class="fa fa-tasks" aria-hidden="true"></i>
						</div>
						<div class="col-lg-10 col-sm-10 col-md-10">
							<div class="">
								<select class="text-input floating-label">
									<option></option>
									<option>Store 1</option>
									<option>Store 2</option>
								</select>
								<label for="code">From Store</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4 padding-top10">
					<div class="row input-container">
						<div class="col-lg-2 col-md-2 col-sm-2 polymer-icon">
							<i class="fa fa-tasks" aria-hidden="true"></i>
						</div>
						<div class="col-lg-10 col-sm-10 col-md-10">
							<div class="">
								<select class="text-input floating-label">
									<option></option>
									<option>Store 1</option>
									<option>Store 2</option>
								</select>
								<label for="code">To Store</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4 padding-top10">
					<div class="row input-container">
						<div class="col-lg-2 col-md-2 col-sm-2 polymer-icon">
							<i class="fa fa-bullseye" aria-hidden="true"></i>
						</div>
						<div class="col-lg-10 col-sm-10 col-md-10">
							<div class="">
								<input type="text" name="code" id="" class="text-input floating-label">
								<label for="code">Return No.</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4 padding-top10">
					<div class="row input-container">
						<div class="col-lg-2 col-md-2 col-sm-2 polymer-icon ">
							<i class="fa fa-dot-circle-o" aria-hidden="true"></i>
						</div>
						<div class="col-lg-10 col-sm-10 col-md-10">
							<div class="">
								<select class="text-input floating-label">
									<option></option>
								</select>
								<label for="description" class="LISDynamicLabel">Status</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-1 col-md-1 col-sm-2 padding-left-right-set1">
					<div class="common-save-button"> 
						 <a href="" class="btn btn-primary btn-save-box-shadow" style="width: auto;"> 
						 	<i class="fa fa-search" aria-hidden="true"></i> 
						 </a> 
					</div> 
				</div>
				<div class="col-lg-1 col-md-1 col-sm-2 padding-left-right-set4 float_right text-width-auto">
					<div class="padding-top4 ">
						<a href="" class="btn btn-primary btn-save-box-shadow" title="Save" data-toggle="modal" data-target="#confirmLogout">
							<i class="fa fa-floppy-o" style="font-size: 21px" aria-hidden="true"></i>
						</a>
					</div>
				</div>
			   <div class="col-md-2 col-sm-2 padding-left-right-set4 float_right text-width-auto">
					<div class="padding-top4 ">
						<a href="#/addNewLinenReturn">
							<input type="button" value="Add New" class="btn btn-primary btn-save-box-shadow">
						</a>
					</div>
				</div>
			</div>
		</fieldset>
		  	
		<div class="row padding-left-right-set0 padding-top4">
			<div class="col-md-12 col-lg-12 col-sm-8 padding-left-right-set4"  id="nonBillableTableHt">
				<fieldset>
					<!-- <legend class="heading-div">Table</legend> -->
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 height500-table-with-scroll">
							<table class="table table-bordered first-checkBox-padding"><!-- mainServiceTable -->
								<thead class="mainServiceTableCommon">
									<tr>
										<th class="width1 text-center">
											<input type="checkbox"/>
										</th>
										<th class="width7">
											Return No.
											<div class="float_right">
												<div>
													<i class="fa fa-caret-up" aria-hidden="true"></i>
												</div>
												<div class="margin-top-8">
													<i class="fa fa-caret-down" aria-hidden="true"></i>
												</div>
											</div>
										</th>
										<th class="width7">
											Return Date
											<div class="float_right">
												<div>
													<i class="fa fa-caret-up" aria-hidden="true"></i>
												</div>
												<div class="margin-top-8">
													<i class="fa fa-caret-down" aria-hidden="true"></i>
												</div>
											</div>
										</th>
										<th class="width7">
											From Store
											<div class="float_right">
												<div>
													<i class="fa fa-caret-up" aria-hidden="true"></i>
												</div>
												<div class="margin-top-8">
													<i class="fa fa-caret-down" aria-hidden="true"></i>
												</div>
											</div>
										</th>
										<th class="width7">
											To Store
											<div class="float_right">
												<div>
													<i class="fa fa-caret-up" aria-hidden="true"></i>
												</div>
												<div class="margin-top-8">
													<i class="fa fa-caret-down" aria-hidden="true"></i>
												</div>
											</div>
										</th>
										<th class="width7">
											Type
											<div class="float_right">
												<div>
													<i class="fa fa-caret-up" aria-hidden="true"></i>
												</div>
												<div class="margin-top-8">
													<i class="fa fa-caret-down" aria-hidden="true"></i>
												</div>
											</div>
										</th>
										<th class="width7">
											Return By
											<div class="float_right">
												<div>
													<i class="fa fa-caret-up" aria-hidden="true"></i>
												</div>
												<div class="margin-top-8">
													<i class="fa fa-caret-down" aria-hidden="true"></i>
												</div>
											</div>
										</th>
										<th class="width10">
											Remarks
											<div class="float_right">
												<div>
													<i class="fa fa-caret-up" aria-hidden="true"></i>
												</div>
												<div class="margin-top-8">
													<i class="fa fa-caret-down" aria-hidden="true"></i>
												</div>
											</div>
										</th>
										<th class="width5">
											Status
											<div class="float_right">
												<div>
													<i class="fa fa-caret-up" aria-hidden="true"></i>
												</div>
												<div class="margin-top-8">
													<i class="fa fa-caret-down" aria-hidden="true"></i>
												</div>
											</div>
										</th>
										<th class="width6">
											Action
											<div class="float_right">
												<div>
													<i class="fa fa-caret-up" aria-hidden="true"></i>
												</div>
												<div class="margin-top-8">
													<i class="fa fa-caret-down" aria-hidden="true"></i>
												</div>
											</div>
										</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="text-center vertical-middle">
											<input type="checkbox"/>
										</td>
										<td>RT-921</td>
										<td>23/04/2018</td>
										<td>ICU Store</td>
										<td>Main Store</td>
										<td>Bed Linen</td>
										<td>Peter Brown</td>
										<td>-</td>
										<td>Pending</td>
										<td>
											<div class="col-lg-2 col-md-4 padding-left-right-set4 ">
												<a title="Edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
											</div>
											<div class="col-lg-2 col-md-4 padding-left-right-set4 ">
												<a title="Print"><i class="fa fa-print" aria-hidden="true"></i></a>
											</div>
											<div class="col-lg-2 col-md-4 padding-left-right-set4 ">
												<a title="Cancel"><i class="fa fa-times-circle-o" aria-hidden="true" data-toggle="modal" data-target="#CanellationModal"></i></a>
											</div>
											<div class="col-lg-6 col-md-6 padding-left-right-set4 text-right">
												<a href="#/linenReturnDetails">Details</a>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</fieldset>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(".selectedPageName").text("Linen Return");
	$(".sidebar-nav li").each(function() {
		$(this).find("a").parents("li").removeClass("active");
	});
$('a[href$="materialReturn"]').parents("li").addClass("active");
</script>