<!-- /********************************************************************************************************************************************
Procurement - Work Order - Work Order request main page
Created by - Pranita Patil
Created Date - 07-Dec-2017 
/********************************************************************************************************************************************/ -->
<!-- Page Content -->
<div id="page-content-wrapper" class="">
	<div class="container-fluid his-style">
		<fieldset class="main-fieldset">
			<!-- <legend class="heading-div">Work Order Quotation Entry</legend> -->
			<div class="row margin-top10 padding-left-right-set4">
				<div class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4 padding-top10">
					<div class="row input-container">
						<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon">
							<i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
						</div>
						<div class="col-lg-11 col-sm-11 col-md-11">
							<div class="">
								<input type="text" name="code" id="" class="text-input floating-label">
								<label for="code">From Date</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4 padding-top10">
					<div class="row input-container">
						<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon ">
							<i class="fa fa-calendar-minus-o" aria-hidden="true"></i>
						</div>
						<div class="col-lg-11 col-sm-11 col-md-11 ">
							<div class="">
								<input type="text" name="code" id="" class="text-input floating-label">
								<label for="description" class="LISDynamicLabel">To Date</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4 padding-top10">
					<div class="row input-container">
						<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon ">
							<i class="fa fa-dot-circle-o" aria-hidden="true"></i>
						</div>
						<div class="col-lg-11 col-sm-11 col-md-11 ">
							<div class="">
								<select class="text-input floating-label">
									<option></option>
									<option>Store 1</option>
									<option>Store 2</option>
									<option>Store 3</option>
									<option>Store 4</option>
								</select>
								<label for="" class="LISDynamicLabel">Store</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4 padding-top10">
					<div class="row input-container">
						<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon ">
							<i class="fa fa-dot-circle-o" aria-hidden="true"></i>
						</div>
						<div class="col-lg-11 col-sm-11 col-md-11 ">
							<div class="">
								<select class="text-input floating-label">
									<option></option>
									<option>All</option>
									<option>Rejected</option>
									<option>Completed</option>
									<option>Cancel</option>
								</select>
								<label for="description" class="LISDynamicLabel">Status</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4 padding-top10">
					<div class="row input-container">
						<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon">
							<i class="fa fa-search" aria-hidden="true"></i>
						</div>
						<div class="col-lg-11 col-sm-11 col-md-11">
							<div class="">
								<input type="text" name="code" id="" class="text-input floating-label">
								<label for="code">Search Item</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-1 col-md-1 col-sm-1 padding-left-right-set4">
					<div class="common-save-button"> 
						 <a href="" class="btn btn-primary btn-save-box-shadow" style="width: auto;"> 
						 	<i class="fa fa-search" aria-hidden="true"></i> 
						 </a> 
					</div>
				</div>
			</div>
        </fieldset>	
		<div class="row margin-top4">
			<div class="col-lg-1 col-md-1 col-sm-2 padding-left-right-set4 float_right text-width-auto">
				<div class=" ">
					<a href="" class="btn btn-primary btn-save-box-shadow" title="Save" data-toggle="modal" data-target="#confirmLogout">
						<i class="fa fa-floppy-o" style="font-size: 21px" aria-hidden="true"></i>
					</a>
				</div>
			</div>
		   <div class="col-md-2 col-sm-2 padding-left-right-set4 float_right text-width-auto">
				<div class=" ">
					<a href="#/addItemWorkorderQEntry">
						<input type="button" value="Add New" class="btn btn-primary btn-save-box-shadow">
					</a>
				</div>
			</div>
		</div>
        <div class="row margin-top10">
			<div class="col-md-12 col-lg-12 col-sm-8 padding-left-right-set4"  id="nonBillableTableHt">
				<fieldset>
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 height500-table-with-scroll">
					<table class="table table-bordered first-checkBox-padding"><!-- mainServiceTable -->
						<thead class="mainServiceTableCommon">
							<tr>
								<th class="width10">
									WR Quotation Request No
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th>
								<th class="width10">
									WR Quotation Request Date
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th>
								<th class="width10">
									Store
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th>
								<th class="width10">
									Vendor
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th>
								<!-- <th class="width10">
									Added On
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th>
								<th class="width10">
									Added By
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th> -->
								<th class="width5">
									Status
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th>
								<th class="width7">
								  	Action
									<div class="float_right">
										<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
										<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
									</div>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>WA-991</td>
								<td>02/01/2018</td>
								<td>Main Store</td>
								<td>Hamamatsu Photonics UK Ltd</td>
								<td>Pending</td>
								<!-- <td>
									<input type="button" value="Details"  class="btn btn-primary btn-save-box-shadow details-btn" data-toggle="modal" data-target="#wasteStoreDetailsModal">
								</td> -->
								<td>
									<div class="col-lg-2 col-md-4 padding-left-right-set4 ">
										<a title="Edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
									</div>
									<div class="col-lg-2 col-md-4 padding-left-right-set4 ">
										<a title="Print" ><i class="fa fa-print" aria-hidden="true" ></i></a>
									</div>
									<div class="col-lg-2 col-md-4 padding-left-right-set4 ">
										<a title="Cancel"><i class="fa fa-times-circle-o" aria-hidden="true" data-toggle="modal" data-target="#confirmCancel"></i></a>
									</div>
									<div class="col-lg-6 col-md-6 padding-left-right-set4 text-right">
										<a class="cursor-pointer" data-toggle="modal" data-target="#wasteStoreDetailsModal">Details</a>
									</div>
								</td>	
							</tr>
							<tr>
								<td>WA-991</td>
								<td>02/01/2018</td>
								<td>Main Store</td>
								<td>Scanna MSC Ltd</td>
								<td>Completed</td>
								<td>
									<div class="col-lg-2 col-md-4 padding-left-right-set4 ">
										<a title="Edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
									</div>
									<div class="col-lg-2 col-md-4 padding-left-right-set4 ">
										<a title="Print" ><i class="fa fa-print" aria-hidden="true" ></i></a>
									</div>
									<div class="col-lg-2 col-md-4 padding-left-right-set4 ">
										<a title="Cancel"><i class="fa fa-times-circle-o" aria-hidden="true" data-toggle="modal" data-target="#confirmCancel"></i></a>
									</div>
									<div class="col-lg-6 col-md-6 padding-left-right-set4 text-right">
										<a class="cursor-pointer" data-toggle="modal" data-target="#wasteStoreDetailsModal">Details</a>
									</div>
								</td>	
							</tr>
						</tbody>
					</table>
					</div>
				</div>
				</fieldset>
			</div>
		</div>
    </div>
</div>

<!-- details modal start -->
<div id="wasteStoreDetailsModal" class="modal fade ng-scope in common-large-popup" role="dialog">
	<div class="modal-dialog"> <!-- width: 25% !important;margin: 200px 0 0 510px !important; -->
		<div class="modal-content">
			<div class="modal-header">
				<div class="modal-title patient-details-row">
					 Details
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-lg-12 col-md-12 common-popup-height-350 padding-top10 padding-left-right-set4">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th class="width8">Item Code
										<div class="float_right">
											<div>
												<i class="fa fa-caret-up" aria-hidden="true"></i>
											</div>
											<div class="margin-top-8">
												<i class="fa fa-caret-down" aria-hidden="true"></i>
											</div>
										</div>
									</th>
									<th class="width10">Item Name
										<div class="float_right">
											<div>
												<i class="fa fa-caret-up" aria-hidden="true"></i>
											</div>
											<div class="margin-top-8">
												<i class="fa fa-caret-down" aria-hidden="true"></i>
											</div>
										</div>
									</th>
									<th class="width6">COP
										<div class="float_right">
											<div>
												<i class="fa fa-caret-up" aria-hidden="true"></i>
											</div>
											<div class="margin-top-8">
												<i class="fa fa-caret-down" aria-hidden="true"></i>
											</div>
										</div>
									</th>
									<th class="width8">Contract Type 
										<div class="float_right">
											<div>
												<i class="fa fa-caret-up" aria-hidden="true"></i>
											</div>
											<div class="margin-top-8">
												<i class="fa fa-caret-down" aria-hidden="true"></i>
											</div>
										</div>
									</th>
									<th class="width8">PM Schedule
										<div class="float_right">
											<div>
												<i class="fa fa-caret-up" aria-hidden="true"></i>
											</div>
											<div class="margin-top-8">
												<i class="fa fa-caret-down" aria-hidden="true"></i>
											</div>
										</div>
									</th>
									<th class="width15">Inclusion
										<div class="float_right">
											<div>
												<i class="fa fa-caret-up" aria-hidden="true"></i>
											</div>
											<div class="margin-top-8">
												<i class="fa fa-caret-down" aria-hidden="true"></i>
											</div>
										</div>
									</th>
									<th class="width10">Exclusion
										<div class="float_right">
											<div>
												<i class="fa fa-caret-up" aria-hidden="true"></i>
											</div>
											<div class="margin-top-8">
												<i class="fa fa-caret-down" aria-hidden="true"></i>
											</div>
										</div>
									</th>
									<th class="width15">Remark
										<div class="float_right">
											<div>
												<i class="fa fa-caret-up" aria-hidden="true"></i>
											</div>
											<div class="margin-top-8">
												<i class="fa fa-caret-down" aria-hidden="true"></i>
											</div>
										</div>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>MR-001</td>
									<td>X-Ray Maintaince</td>
									<td>3150</td>
									<td>Labout only</td>
									<td>Quarterly</td>
									<td>Aerospace, Automotive, Electronics, Medical, Pharmaceutical, Military and Defense</td>
									<td>-</td>
									<td>-</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- details modal end -->
<script type="text/javascript">
$( document ).ready(function() {
	$(".selectedPageName").text("Work Order Quotation Entry");
	$(".sidebar-nav li").each(function() {
		$(this).find("a").parents("li").removeClass("active");
	});
	/*************************** rejection radio button function*********************************/
	$(".add-new-item-row").hide();
	$(".get-request-row").hide();
	 $( ".addNewItemRadioBtnClass" ).change(function() {
			if ($(this).is(":checked"))
			{
				$(".add-new-item-row").show('slow');
				$(".get-request-row").hide('slow');
			}
		}); 
	$( ".getRequestListBtnClass" ).change(function() {
		if ($(this).is(":checked"))
		{
			$(".add-new-item-row").hide('slow');
			$(".get-request-row").show('slow');
		}
	}); 

});
/*************************** add button function start*********************************/
$(".table-th-bg").click(function(){
	/* alert(); */
	$(this).next().find(".selectedServicesList").toggle();
});

</script>
<script src="resources/assets/js/common/page-height.js"></script>