<!-- /********************************************************************************************************************************************
Procurement - Work Order - Work Order request main page
Created by - Pranita Patil
Created Date - 07-Dec-2017 
/********************************************************************************************************************************************/ -->
<!-- Page Content -->
<div id="page-content-wrapper" class="">
	<div class="container-fluid his-style">
		<fieldset class="main-fieldset">
			<!-- <legend class="heading-div">Work Order Approval Worklist</legend> -->
			<div class="row margin-top10">
				<div class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4 padding-top10">
					<div class="row input-container">
						<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon">
							<i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
						</div>
						<div class="col-lg-11 col-sm-11 col-md-11">
							<div class="">
								<input type="text" name="code" id="" class="text-input floating-label">
								<label for="code">From Date</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4 padding-top10">
					<div class="row input-container">
						<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon ">
							<i class="fa fa-calendar-minus-o" aria-hidden="true"></i>
						</div>
						<div class="col-lg-11 col-sm-11 col-md-11 ">
							<div class="">
								<input type="text" name="code" id="" class="text-input floating-label">
								<label for="description" class="LISDynamicLabel">To Date</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4 padding-top10">
					<div class="row input-container">
						<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon ">
							<i class="fa fa-dot-circle-o" aria-hidden="true"></i>
						</div>
						<div class="col-lg-11 col-sm-11 col-md-11 ">
							<div class="">
								<input type="text" name="code" id="" class="text-input floating-label">
								<label for="description" class="LISDynamicLabel">WR Request No</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4 padding-top10">
					<div class="row input-container">
						<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon ">
							<i class="fa fa-dot-circle-o" aria-hidden="true"></i>
						</div>
						<div class="col-lg-11 col-sm-11 col-md-11 ">
							<div class="">
								<input type="text" name="code" id="" class="text-input floating-label">
								<label for="description" class="LISDynamicLabel">Store</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-1 col-md-1 col-sm-1 padding-left-right-set4">
					<div class="common-save-button"> 
						 <a href="" class="btn btn-primary btn-save-box-shadow" style="width: auto;"> 
						 	<i class="fa fa-search" aria-hidden="true"></i> 
						 </a> 
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-2 padding-left-right-set4 text-right">
					<div class="common-save-button"> 
						 <a href="" class="btn btn-primary btn-save-box-shadow" style="width: auto;"> 
						 	<i class="fa fa-floppy-o" aria-hidden="true"></i> 
						 </a> 
					</div>
				</div>
			</div>
        </fieldset>	
        <!-- <div class="row">
          	<div class="col-md-11"></div>
			<div class="col-md-1 padding-left-right-set1">
				<div class="common-save-button">
					<input type="button" value="Submit"  class="btn btn-primary btn-save-box-shadow" data-toggle="modal" data-target="#confirmLogout">
				</div>
			</div>
		</div> -->
        <div class="row padding-left-right-set0 margin-top10">
			<div class="col-md-12 col-lg-12 col-sm-8 padding-left-right-set4"  id="nonBillableTableHt">
				<fieldset>
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 height500-table-with-scroll">
					<table class="table table-bordered first-checkBox-padding"><!-- mainServiceTable -->
						<thead class="mainServiceTableCommon">
							<tr>
								<th class="width8">
									Request Number
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th>
								<th class="width8">
									Request Date
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th>
								<th class="width10">
									Vendor Name
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th>
								<th class="width15">
									Remark
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th>
								<th class="width10">
									Added By
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th>
								<th class="width10">
									Added On
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th>
								<th class="width5">
									Status
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th>
								<th class="width3">
									Action
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td>
									<a class="cursor-pointer" data-toggle="modal" data-target="#GRNAgaintPODetails_Modal">Details</a>
								</td>
							</tr>
						</tbody>
					</table>
					</div>
				</div>
				</fieldset>
			</div>
		</div>
    </div>
</div>
<!-- details modal start -->
<div id="GRNAgaintPODetails_Modal" class="modal fade ng-scope in common-large-popup" role="dialog">
	<div class="modal-dialog"> <!-- width: 25% !important;margin: 200px 0 0 510px !important; -->
		<div class="modal-content">
			<div class="modal-header">
				<div class="modal-title patient-details-row">
					Details
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-lg-12 col-md-12 common-popup-height-350 padding-top10">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th class="width10">Item Code
										<div class="float_right">
											<div>
												<i class="fa fa-caret-up" aria-hidden="true"></i>
											</div>
											<div class="margin-top-8">
												<i class="fa fa-caret-down" aria-hidden="true"></i>
											</div>
										</div>
									</th>
									<th class="width10">Item Name
										<div class="float_right">
											<div>
												<i class="fa fa-caret-up" aria-hidden="true"></i>
											</div>
											<div class="margin-top-8">
												<i class="fa fa-caret-down" aria-hidden="true"></i>
											</div>
										</div>
									</th>
									<th class="width12">Maintenace Contract Type
										<div class="float_right">
											<div>
												<i class="fa fa-caret-up" aria-hidden="true"></i>
											</div>
											<div class="margin-top-8">
												<i class="fa fa-caret-down" aria-hidden="true"></i>
											</div>
										</div>
									</th>
									<th class="width15">Remark
										<div class="float_right">
											<div>
												<i class="fa fa-caret-up" aria-hidden="true"></i>
											</div>
											<div class="margin-top-8">
												<i class="fa fa-caret-down" aria-hidden="true"></i>
											</div>
										</div>
									</th>
									<th class="width12">Action</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td>
										<div class="row">
											<label class="radio-inline"><input type="radio" name="optradio1" class="radioAcceptedHold1">Accept</label> 
											<label class="radio-inline"><input type="radio" name="optradio1" class="radioRejected1">Reject</label>
										</div>
										<div class="row rejection-details-row1 margin-top4">
											<input type="text" class="w-100">
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="row his-style">
					<div class="col-md-11"></div>
					<div class="col-md-1 padding-left0px-right6px">
						<div class="common-save-button">
							<input type="button" value="Save" class="btn btn-primary btn-save-box-shadow" data-dismiss="modal">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- details modal end -->

<script type="text/javascript">
$( document ).ready(function() {
	$(".selectedPageName").text("Work Order Approval Worklist");
	$(".sidebar-nav li").each(function() {
		$(this).find("a").parents("li").removeClass("active");
	});
	/*************************** rejection radio button function*********************************/
	$(".add-new-item-row").hide();
	$(".rejection-details-row1").hide();
	$(".get-request-row").hide();
	 $( ".addNewItemRadioBtnClass" ).change(function() {
			if ($(this).is(":checked"))
			{
				$(".add-new-item-row").show('slow');
				$(".get-request-row").hide('slow');
			}
		}); 
	$( ".getRequestListBtnClass" ).change(function() {
		if ($(this).is(":checked"))
		{
			$(".add-new-item-row").hide('slow');
			$(".get-request-row").show('slow');
		}
	}); 

});
/*************************** add button function start*********************************/
$( ".radioRejected1" ).change(function() {
		if ($(this).is(":checked"))
		{
			$(this).closest(".row").siblings(".rejection-details-row1").show();
		}
	});
	$( ".radioAcceptedHold1" ).change(function() {
		if ($(this).is(":checked"))
		{
			$(this).closest(".row").siblings(".rejection-details-row1").hide();
		}
	});
	
</script>
<script src="resources/assets/js/common/page-height.js"></script>