<fieldset>
	<legend class="heading-div">History</legend>
	<div class="row">
		<div class="col-lg-12 col-md-12 padding-top10 padding-left-right15">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th class="width10">
							<label>Date</label>
						</th>
						<th class="width10">
							<label>Time</label>
						</th>
						<th class="width10">
							<label>GCS</label>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>12/11/2017</td>
						<td></td>
						<td>GCS 1</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</fieldset>

		