<fieldset>
	<legend class="heading-div">Add</legend>
		<div class="row height420">
	<div class="row margin-top4">
		<div class="col-lg-12 col-md-12 col-sm-12">
		<table class="table table-bordered" id=""><!-- table-striped -->
      		<tbody class="label-color-grey">
      			<tr>
      				<td>
      					<label> Systolic Blood Pressure</label>
      				</td>
      				<td>
      					<select class="custom-dropdown select-box width50">
							<option value="">Choose</option>
							<option value="0"> <= 70 mmHg  &nbsp; &nbsp; &nbsp; +3</span></option><!--  -->
							<option value="1"> 71-80 mmHg  &nbsp; &nbsp; &nbsp; +2 </option><!-- +2 -->
							<option value="2"> 81-100 mmHg  &nbsp; &nbsp; &nbsp; +1</option><!-- +1 -->
							<option value="3"> 101-199 mmHg  &nbsp; &nbsp; &nbsp; 0</option><!-- 0 -->
							<option value="4">  >=200 mmHg   &nbsp; &nbsp; &nbsp; +2</option><!-- +2 -->
						</select>
      				</td>
      			</tr>
      			<tr>
      				<td>
      					<label>Heart Rate</label>
      				</td>
      				<td>
      					<select class="custom-dropdown select-box width50">
							<option value="">Choose</option>
							<option value="0"> <40 bpm  &nbsp; &nbsp; &nbsp; +2 </option><!-- +2 -->
							<option value="1"> 41-50 bpm   &nbsp; &nbsp; &nbsp; +1</option><!-- +1 -->
							<option value="2"> 51-100 bpm   &nbsp; &nbsp; &nbsp; 0</option><!-- 0 -->
							<option value="3"> 101-129 bpm   &nbsp; &nbsp; &nbsp; +1</option><!-- +1 -->
							<option value="4"> 111-129 bpm   &nbsp; &nbsp; &nbsp; +2</option><!-- +1 -->
							<option value="5"> >=130 bpm   &nbsp; &nbsp; &nbsp; +3</option>
						</select>
      				</td>
      			</tr>
      			<tr>	
      				<td>
      					<label>Respiratory Rate</label>
      				</td>
      				<td>
      					<select class="custom-dropdown select-box width50">
							<option value="">Choose</option>
							<option value="0"> <9 bpm  &nbsp; &nbsp; &nbsp; +2 </option><!-- +2 -->
							<option value="1"> 9=14 bpm  &nbsp; &nbsp; &nbsp; +1</option><!-- 0 -->
							<option value="2"> 15-20 bpm  &nbsp; &nbsp; &nbsp; 0</option><!-- +1 -->
							<option value="3"> 21-29 bpm &nbsp; &nbsp; &nbsp; +2</option><!-- +2 -->
						</select>
      				</td>
      			</tr>
      			<tr>
      				<td>
      					<label>Temperature</label>
      				</td>
      				<td>
      					<select class="custom-dropdown select-box width50">
							<option value="">Choose</option>
							<option value="0"> <35 C/95 F &nbsp; &nbsp; &nbsp; +2</option><!-- +2 -->
							<option value="1"> 35-38.4 C/95-101.1 F &nbsp; &nbsp; &nbsp; 0</option><!-- 0-->
							<option value="2"> >=38.5 C/101.3F &nbsp; &nbsp; &nbsp; +2</option><!-- +2 -->
						</select>
      				</td>
      			</tr>
      			<tr>
      				<td>
      					<label>AVPU Score</label>
      				</td>
      				<td>
      					<select class="custom-dropdown select-box width50">
							<option value="">Choose</option>
							<option value="0"> Alert &nbsp; &nbsp; &nbsp; 0</option>
							<option value="1"> Reacts to Voice &nbsp; &nbsp; &nbsp;+1 </option>
							<option value="2"> Reacts to Pain &nbsp; &nbsp; &nbsp; +2</option>
							<option value="3"> Unresponsive &nbsp; &nbsp; &nbsp; +3</option>
						</select>
      				</td>
      			</tr>
      		</tbody>
      		<tfoot>
      			<tr class="header-tr-color" colspan="2">
      				<th><span style="font-weight: 700">Total Score</span></th>
      				<th><span style="font-weight: 700">0</span></th>
      			</tr>
      		</tfoot>
      	</table>
      </div>
	</div>
	<div class="row">
		<div class="col-lg-11 col-md-10 col-sm-10 margin-top10"></div>
   		<div class="col-lg-1 col-md-2 col-sm-2 padding-left0px-right6px margin-top10 text-right">
			<div class="common-save-button">
				<button class="btn btn-primary btn-save-box-shadow text-width-auto" data-dismiss="modal">Save</button>
			</div>
		</div>
	</div>
	</div>
</fieldset>
		
<script type="text/javascript">

</script>
		