<fieldset>
	<legend class="heading-div">History</legend>
	<div class="row margin-top4">
		<div class="col-lg-12 col-md-12 padding-top10 height420">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th class="width10">
							<label>Date</label>
						</th>
						<th class="width10">
							<label>Time</label>
						</th>
						<th class="width10">
							<label>MEWS</label>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>11/01/2018</td>
						<td></td>
						<td>MEWS 1</td>
					</tr>
					<tr>
						<td>10/01/2018</td>
						<td></td>
						<td>MEWS 2</td>
					</tr>
					<tr>
						<td>09/01/2018</td>
						<td></td>
						<td>MEWS 3</td>
					</tr>
					<tr>
						<td>08/01/2018</td>
						<td></td>
						<td>MEWS 4</td>
					</tr>
					<tr>
						<td>07/01/2018</td>
						<td></td>
						<td>MEWS 5</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</fieldset>
		
<script type="text/javascript">

</script>
		