<!-- Page Content -->
<div id="page-content-wrapper" class="">
	<div class="container-fluid his-style">
        <fieldset class="main-fieldset">
			<div class="row margin-top10">
				<div class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4">
					<div class="row input-container">
						<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon ">
							<i class="fa fa-dot-circle-o" aria-hidden="true"></i>
						</div>
						<div class="col-lg-11 col-sm-11 col-md-11 ">
							<div class="">
								<select class="text-input floating-label">
									<option></option>
									<option>Nursing</option>
									<option>RMO</option>
								</select>
								<label for="description" class="LISDynamicLabel">Type</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4">
					<div class="row input-container">
						<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon ">
							<i class="fa fa-dot-circle-o" aria-hidden="true"></i>
						</div>
						<div class="col-lg-11 col-sm-11 col-md-11 ">
							<div class="">
								<select class="text-input floating-label">
									<option></option>
								</select>
								<label for="description" class="LISDynamicLabel">Ward</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4">
					<div class="row input-container">
						<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon ">
							<i class="fa fa-dot-circle-o" aria-hidden="true"></i>
						</div>
						<div class="col-lg-11 col-sm-11 col-md-11 ">
							<div class="">
								<select class="text-input floating-label">
									<option></option>
								</select>
								<label for="description" class="LISDynamicLabel">Nursing Station</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-1 col-md-1 col-sm-2 padding-left-right-set4 float_right text-width-auto">
					<div class=" ">
						<a href="" class="btn btn-primary btn-save-box-shadow" title="Save" ng-click="">
						<i class="fa fa-floppy-o" style="font-size: 21px" aria-hidden="true"></i></a>
					</div>
				</div>
				<div class="col-lg-1 col-md-2 col-sm-2 padding-left-right-set4 float_right text-width-auto">
					<div class=" ">
						<a href="#/rotaCreation" class="btn btn-primary btn-save-box-shadow btn-padding">Back</a>
					</div>
				</div>
			</div>
		</fieldset>
		<!-- <div class="row margin-top10 padding-left-right-10">
			<div class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set0 float_right">
				<div class="row input-container">
						<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon ">
							<i class="fa fa-calendar" aria-hidden="true"></i>
						</div>
						<div class="col-lg-11 col-sm-11 col-md-11 ">
								<div class="">
									<input type="text" name="description" id="" class="text-input floating-label">
									<label for="description" class="">End Date</label>
								</div>
							</div>
					</div>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4 float_right text-width-auto">
				<div class="row input-container">
						<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon ">
							<i class="fa fa-calendar" aria-hidden="true"></i>
						</div>
						<div class="col-lg-11 col-sm-11 col-md-11 ">
								<div class="">
									<input type="text" name="description" id="" class="text-input floating-label">
									<label for="description" class="">Start Date</label>
								</div>
							</div>
					</div>
			</div>
		</div> -->
		<div class="row padding-left-right-set4 padding-top10">
			<div class="col-md-12">
				<table class="table table-bordered" id="AddDish">
					<tbody><tr>
						<th class="th-border-none width10"></th>
						<th scope="col" class="text-uppercase text-center width12 vertical-middle">
						Monday
						</th>
						<th scope="col" class="text-uppercase text-center width12 vertical-middle">
						Tuesday
						</th>
						<th scope="col" class="text-uppercase text-center width12 vertical-middle">
						Wednesday
						</th>
						<th scope="col" class="text-uppercase text-center width12 vertical-middle">
						Thursday
						</th>
						<th scope="col" class="text-uppercase text-center width12 vertical-middle">
						Friday
						</th>
						<th scope="col" class="text-uppercase text-center width12 vertical-middle">
						Saturday
						</th>
						<th scope="col" class="text-uppercase text-center width12 vertical-middle">
						Sunday
						</th>
					</tr>
					<tr>
						<th scope="row" class="text-uppercase text-center">Nurse 1</th>
						<td class="text-center padding-zero">
							<div class="">
									<select class="border-dropdow">
										<option>Please Select Shift</option>
										<option></option>
									</select>
							</div>
						</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row" class="text-uppercase text-center">Nurse 2</th>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row" class="text-uppercase text-center">Nurse 3</th>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row" class="text-uppercase text-center">Nurse 4</th>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row" class="text-uppercase text-center">Nurse 5</th>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					</tbody>
					<!-- <tfoot>
						<tr class="table-th-bg ">
							<th class="text-uppercase text-center">Total Nutrition</th>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tfoot> -->
				</table>
			</div>
		</div>
	</div>
</div>

