 <div id="page-content-wrapper" >
	<div class="container-fluid his-style">
		<fieldset class="" style="margin-top:-5px !important">
		
			 	<div ng-include="'./views/common/common-patient-search-opd-without-counter.html'"></div>
			 	<div class="padding-left-right-set4" ng-include="'./views/common/patient-demography.html'"></div>
			 	
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 padding-left-right-set0">
						<fieldset class="normalRegistration sub-fieldset">
								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-6 padding-left-right-10 padding-top10">
										<div class="row">
											<div class="col-lg-2 col-md-1 col-sm-1 padding-left-right-set4 padding-top10 text-width-auto">
												<label class="switch"> 
													<input type="checkbox" >
													<div class="slider round"></div>
												</label>
											</div>
											<div class="col-lg-4 col-md-4 col-sm-4 padding-left-right-set4 padding-top10">
												No Known Allergies
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-4 col-md-4 col-sm-4 padding-left-right-set4 padding-top10">
										<div class="row input-container">
											<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon">
												<i class="fa fa-stop-circle-o" aria-hidden="true"></i>
											</div>
											<div class="col-lg-11 col-sm-11 col-md-11">
												<div class="">
													<select class="text-input floating-label">
														<option></option>
														<option>-</option>
													</select> <label for="code">Allergy Type</label>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-4 padding-left-right-set4 padding-top10">
										<div class="row input-container">
											<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon ">
												<i class="fa fa-stop-circle-o" aria-hidden="true"></i>
											</div>
											<div class="col-lg-11 col-sm-11 col-md-11 ">
												<div class="">
													<input type="text" name="description" id="" class="text-input floating-label"> 
													<label for="description" class="LISDynamicLabel">Allergies</label>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-4 padding-left-right-set4 padding-top10">
										<div class="row input-container">
											<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon">
												<i class="fa fa-stop-circle-o" aria-hidden="true"></i>
											</div>
											<div class="col-lg-11 col-sm-11 col-md-11">
												<div class="">
													<input type="text" name="description" id="" class="text-input floating-label"> 
													<label for="description" class="LISDynamicLabel">Select Date</label>
												</div>
											</div>
										</div>
									</div> 
								</div>
								<div class="row">
									<div class="col-lg-4 col-md-4 col-sm-4 padding-left-right-set4 padding-top10">
										<div class="row input-container">
											<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon">
												<i class="fa fa-stop-circle-o" aria-hidden="true"></i>
											</div>
											<div class="col-lg-11 col-sm-11 col-md-11">
												<div class="">
													<select class="text-input floating-label">
														<option></option>
														<option>Suspected</option>
														<option>Confirm</option>
													</select> <label for="code">Type</label>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-4 padding-left-right-set4 padding-top10">
										<div class="row input-container">
											<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon">
												<i class="fa fa-stop-circle-o" aria-hidden="true"></i>
											</div>
											<div class="col-lg-11 col-sm-11 col-md-11">
												<div class="">
													<select class="text-input floating-label">
														<option></option>
														<option>Allergies</option>
														<option>Pharmacologies</option>
														<option>Unknown</option>
													</select> <label for="code">Nature Of Reaction</label>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-4 padding-left-right-set4 padding-top10">
										<div class="row input-container">
											<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon">
												<i class="fa fa-stop-circle-o" aria-hidden="true"></i>
											</div>
											<div class="col-lg-11 col-sm-11 col-md-11">
												<div class="">
													<select class="text-input floating-label">
														<option></option>
														<option>-</option>
														<option>-</option>
														<option>-</option>
													</select> <label for="code">Severity</label>
												</div>
											</div>
										</div>
									</div> 
								</div>
								<div class="row padding-leftright15">
									<div class="col-lg-4 col-md-4 col-sm-4 padding-left-right-set0 padding-top10">
										<div class="row input-container">
											<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon width6">
												<i class="fa fa-stop-circle-o" aria-hidden="true"></i>
											</div>
											<div class="col-lg-11 col-sm-11 col-md-11 ">
												<div class="">
													<input type="text" name="description" id="" class="text-input floating-label"> 
													<label for="description" class="LISDynamicLabel">Remark</label>
												</div>
											</div>
										</div>
									</div>
								</div>
						</fieldset>
					</div>
					
				</div>
				<div class="row margin-top4">
						<div class="col-lg-1 col-md-1 col-sm-1 padding-left-right-set4 float_right ">
							<div class=" ">
								<a href="" class="btn btn-primary btn-save-box-shadow width40"
									title="Save" data-toggle="modal" data-target="#collectPayment">
									<i class="fa fa-floppy-o" style="font-size: 21px" aria-hidden="true"></i></a>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 float_right">
							<input type="text" class="text-search-box" placeholder="Search" style="margin-top:0px">
							<i class="fa fa-search common-search-text-icon" aria-hidden="true"></i>
						</div>
				</div>
				<div class="row margin-top4">
					<div class="col-md-12 col-lg-12  OPDBillService table-responsive padding-left-right-set4">
					<table class="table table-bordered OPDBillService common-tbody-scroll">
						<thead>
							<tr>
								
								<th class="width10">
									<span class="">Allergy Type</span>
									<div class="float_right">
										<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
										<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
									</div>
								</th>
								<th class="width10">
									 <span class="">Allergies</span>
									 <div class="float_right">
										<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
										<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
									</div>
								</th>
								<th class="width10">
									Severity
									<div class="float_right">
										<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
										<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
									</div>
								</th>
								<th class="width10">
									Nature of Reaction
									<div class="float_right">
										<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
										<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
									</div>
								</th>
								
								<th class="width10">
									Type
									<div class="float_right">
										<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
										<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
									</div>
								</th>
								<th class="width15">
									Remark
									<div class="float_right">
										<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
										<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
									</div>
								</th>
								<th class="width3">
									Action
									<div class="float_right">
										<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
										<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
									</div>
								</th>
							</tr>
						</thead>
						<tbody class="scrollable">
							<tr>
								<td>
									-
								</td>
								<td>
									-
								</td>
								<td>
									-
								</td>
								<td>
									-
								</td>
								<td>
									-
								</td>
								<td>
									-
								</td>
								<td class="text-center">
									<i class="fa fa-times" aria-hidden="true"></i>
								</td>
							</tr>
							<tr>
								<td>
									-
								</td>
								<td>
									-
								</td>
								<td>
									-
								</td>
								<td>
									-
								</td>
								<td>
									-
								</td>
								<td>
									-
								</td>
								<td class="text-center">
									<i class="fa fa-times" aria-hidden="true"></i>
								</td>
							</tr>
							<tr>
								<td>
									-
								</td>
								<td>
									-
								</td>
								<td>
									-
								</td>
								<td>
									-
								</td>
								<td>
									-
								</td>
								<td>
									-
								</td>
								<td class="text-center">
									<i class="fa fa-times" aria-hidden="true"></i>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</fieldset>
</div>
<footer class="col-lg-12 col-md-12 col-sm-12 padding-right10">
			<div class="row his-style margin-top10 padding-right20">
				<div class="col-lg-11 col-md-11 col-sm-10 padding-left-right-set4"></div>
				<div class="col-lg-1 col-md-1 col-sm-2 padding-left-rightset  padding-right20">
					<a href="#/bedManagement">
						<input type="button" value="Back" class="btn btn-primary btn-save-box-shadow">
					</a>
				</div>
			</div>
		</footer>
</div>



<script src="resources/assets/js/common/page-height.js"></script>



<script>

$(document).ready(function() {
	//$(".patienttSearchResult").hide();
	
	 $(".selectedPageName").text("Allergies");
	$(".sidebar-nav li").each(function() {
		$(this).find("a").parents("li").removeClass("active");
	});
	$('a[href$="opdBilling"]').parents("li").addClass("active");
});


</script>
