		<!-- <div class="row his-style margin-top4">
            		<div class="col-lg-8"></div>
					<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set0">
						<div class="col-lg-12 col-md-12 col-sm-12">
							<input type="text" class="text-search-box" style="margin-top: 0px" ng-model="groupName" placeholder="Search"
                       uib-typeahead="group.patientName+'|'+group.uhidnumber for group in searchGroupList($viewValue)"
                       typeahead-editable="false" typeahead-on-select="selectPatientId($item, $model, $label);" name="groupName" autocomplete="off" required/>
							<i class="fa fa-search common-search-text-icon" aria-hidden="true"></i>
						</div>
					</div>
				</div> -->
				
				<div class="row margin-top10 his-style padding-left-right-set1">
					<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set0 float_right">
						<input type="text" class="text-search-box" style="margin-top: 0px" ng-model="groupName" placeholder="Search"
                       uib-typeahead="group.patientName+'|'+group.uhidnumber for group in searchGroupList($viewValue)"
                       typeahead-editable="false" typeahead-on-select="selectPatientId($item, $model, $label);" name="groupName" autocomplete="off" required/>
							<i class="fa fa-search common-search-text-icon" aria-hidden="true"></i>
					</div>
				</div>
				
					<div class="col-md-12 his-style margin-top10 common-popup-height-440">
						<table class="table table-bordered">
						<thead>
							<tr class="">
							
								<th class="width7">
									UHID
									<div class="float_right">
										<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
										<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
									</div>
								</th>
								<th class="patient-doc-details-width">
									Patient Details
									<div class="float_right">
										<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
										<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
									</div>
								</th>
								<th class="patient-doc-details-width">
									Ward
									<div class="float_right">
										<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
										<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
									</div>
								</th>
								<th class="width10">
									From Bed
									<div class="float_right">
										<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
										<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
									</div>
								</th>
								<th class="width10">
									To Bed
									<div class="float_right">
										<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
										<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
									</div>
								</th>
								<th class="width18">
									Reason
									<div class="float_right">
										<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
										<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
									</div>
								</th>
								<th class="width12">
									Note
									<div class="float_right">
										<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
										<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
									</div>
								</th>
								<th class="width12">
									Transfer			
									<div class="float_right">
										<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
										<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
									</div>
								</th>
								<th class="width10">
									Abort			
									<div class="float_right">
										<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
										<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
									</div>
								</th>
							</tr>
							</thead>
							<tbody>
								<tr ng-repeat="info in listOfAdmittedPatientList" ng-if="info.transferStatusId != '1' && info.transferTypeId == '2'">
									<td>{{info.uhidnumber}}</td>
								<td ng-init='age=getAge(info.dob)'>
									<div ng-if="info.patientId > 0">{{info.patientFullName+' '+age+'/'+info.genderCode}}</div>
									<div  ng-if="info.tPatientId > 0">{{info.patientFullName+' '+info.dob+'/'+info.genderCode}}</div>
								</td>
								<td >{{info.wardName}}</td>
								<td>{{info.bedNumber}}</td>
								<td>{{info.toBedNumber}}</td>
								<td>{{info.reasonDesc}}</td>
								<td>{{info.remark}}</td>
								<td>
									<a href="" ng-click="getAdmissionDataAccept(info)" data-toggle="modal" data-target="{{info.transferStatusId == 6 ? '#commonNote':''}}"><i class="fa fa-exchange" aria-hidden="true"></i></a>
								</td>
								<td class="text-center">
									<a href="" ng-click="getAdmissionDataAccept(info)" data-toggle="modal" data-target="{{info.transferStatusId == 6 ? '#accepatReject':''}}"><i class="fa fa-window-close" aria-hidden="true" ></i> </a>
								</td>
							</tr>
							</tbody>
							
						</table>
				</div>