
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid his-style">
            	<div class="row searched-patient-details-row">
						<div class="col-md-11 col-sm-11 col-xs-11 ">
							<span class="profile_pic margin-left10"> 
								<img alt="" src="resources/assets/images/tempImages/m.jpg" class="img-circle" style="width:30px">
							</span> 
							<span class="margin-left10">John Deo 26/M </span>
							<span class="margin-left10"><b class="padding-right5 ">UHID	:</b> Pune-769</span>
							<span class="margin-left10"><b class="padding-right10 ">Ward NO	:</b> W236544 </span>
							<span class="margin-left10"><b class="padding-right10 ">BED NO	:</b> BM129091</span>
							<span class="margin-left10">Dr. Suresh Pathak</span>
						</div>
					</div>
            	<div class="row">
            		<div class="col-md-8"></div>
					<div class="col-md-3">
						<div>
							<input type="text" class="text-search-box" placeholder="Search">
							<i class="fa fa-search common-search-text-icon" aria-hidden="true"></i>
						</div>
					</div>
					<div class="col-md-1 padding-left0px-right6px">
						<div class="width-div-for-patient-reg ">
							<a href="" data-toggle="modal" data-target="#confirmLogout" class="btn btn-primary btn-save-box-shadow" title="Save"><i class="fa fa-floppy-o" style="font-size:21px" aria-hidden="true"></i></a>	
						</div>
					</div>
				</div>
            	
				<div class="row padding-left-right-10">
					<div class="col-md-12">
						<table class="table table-bordered ">
							<tr class="">
								<th style="width:3%"><input type="checkbox"></th>
								<th style="width:20%">
									Medication Name
									<div class="float_right">
										<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
										<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
									</div>
								</th>
								<th style="width:10%">
									Ordered Qty
									<div class="float_right">
										<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
										<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
									</div>
								</th>
								<th style="width:10%">
									Dispensed Qty
									<div class="float_right">
										<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
										<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
									</div>
								</th>
								<th style="width:57%">
									Acceptance <input type="checkbox">
									<div class="float_right">
										<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
										<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
									</div>
								</th>
							</tr>
							<tr>
								<td><input type="checkbox"></td>
								<td>Cyclobenzaprine</td>
								<td>50</td>
								<td>40</td>
								<td>
									<div class="row override-class">
										<div class="col-md-12">
											<div class="row">
												<div class="col-md-4">
													<input type="radio" name="medicationRadio" class="radioAccepted">
													<span>Accept</span>
												</div>
												<div class="col-md-4">
													<input type="radio" name="medicationRadio" class="medicationRadio">
													<span>Partially Accept</span>
												</div>
												<div class="col-md-4">
													<input type="radio" name="medicationRadio" class="medicationRadio">
													<span>Reject</span>
												</div>
											</div>
											<div class="row medication-text-box margin-top10">
												
												<div class="col-md-3">
													<input type="text" placeholder="Accept Qty" class="text-box-style">
												</div>
												<div class="col-md-3">
													<input type="text" placeholder="Reject Qty" class="text-box-style">
												</div>
												<div class="col-md-3">
													<select class="select-box">
														<option>Choose Reason</option>
														<option>Reason-1</option>
														<option>Reason-2</option>
														<option>Reason-3</option>
														<option>Reason-4</option>
													</select>
												</div>
												<div class="col-md-3">
													<input type="text" placeholder="Note" class="text-box-style">
												</div>
											</div>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td><input type="checkbox"></td>
								<td>Pantoprazole</td>
								<td>50</td>
								<td>40</td>
								<td>
									<div class="row override-class">
										<div class="col-md-12">
											<div class="row">
												<div class="col-md-4">
													<input type="radio" name="medicationRadio1" class="radioAccepted">
													<span>Accept</span>
												</div>
												<div class="col-md-4">
													<input type="radio" name="medicationRadio1" class="medicationRadio">
													<span>Partially Accept</span>
												</div>
												<div class="col-md-4">
													<input type="radio" name="medicationRadio1" class="medicationRadio">
													<span>Reject</span>
												</div>
											</div>
											<div class="row medication-text-box margin-top10">
												
												<div class="col-md-3">
													<input type="text" placeholder="Accept Qty" class="text-box-style">
												</div>
												<div class="col-md-3">
													<input type="text" placeholder="Reject Qty" class="text-box-style">
												</div>
												<div class="col-md-3">
													<select class="select-box">
														<option>Choose Reason</option>
														<option>Reason-1</option>
														<option>Reason-2</option>
														<option>Reason-3</option>
														<option>Reason-4</option>
													</select>
												</div>
												<div class="col-md-3">
													<input type="text" placeholder="Note" class="text-box-style">
												</div>
											</div>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td><input type="checkbox"></td>
								<td>Hydrochlorothiazide</td>
								<td>50</td>
								<td>40</td>
								<td>
									<div class="row override-class">
										<div class="col-md-12">
											<div class="row">
												<div class="col-md-4">
													<input type="radio" name="medicationRadio2" class="radioAccepted">
													<span>Accept</span>
												</div>
												<div class="col-md-4">
													<input type="radio" name="medicationRadio2" class="medicationRadio">
													<span>Partially Accept</span>
												</div>
												<div class="col-md-4">
													<input type="radio" name="medicationRadio2" class="medicationRadio">
													<span>Reject</span>
												</div>
											</div>
											<div class="row medication-text-box margin-top10">
												
												<div class="col-md-3">
													<input type="text" placeholder="Accept Qty" class="text-box-style">
												</div>
												<div class="col-md-3">
													<input type="text" placeholder="Reject Qty" class="text-box-style">
												</div>
												<div class="col-md-3">
													<select class="select-box">
														<option>Choose Reason</option>
														<option>Reason-1</option>
														<option>Reason-2</option>
														<option>Reason-3</option>
														<option>Reason-4</option>
													</select>
												</div>
												<div class="col-md-3">
													<input type="text" placeholder="Note" class="text-box-style">
												</div>
											</div>
										</div>
									</div>
								</td>
							</tr>
						</table>
					</div>
				</div>
  			</div>
		</div>
	<script>
	
	$( document ).ready(function() {
		var documentHeight= $(window).height();
	    var sideBarHeight = documentHeight - 55;
	 	$("#page-content-wrapper").css("height", sideBarHeight + "px" );
		
		$(".medication-text-box").hide();
		$( ".medicationRadio" ).change(function() {
			if ($(this).is(":checked"))
			{
				$(this).closest(".row").siblings(".medication-text-box").show();
			}
		});
		$( ".radioAccepted" ).change(function() {
			if ($(this).is(":checked"))
			{
				$(this).closest(".row").siblings(".medication-text-box").hide();
			}
		});
		
		$(".selectedPageName").text("Medication Acceptance");
		$(".sidebar-nav li").each(function() {
			$(this).find("a").parents("li").removeClass("active");
		});
		$('a[href$="medicationAcceptance"]').parents("li").addClass("active");
		
	});
	
	
	
	</script>
