<!-- Page Content -->
<div id="page-content-wrapper" class="">
	<div class="container-fluid his-style">
          	
   	<div class="row margin-top4">
		<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 float_right">
			<div>
				  <input type="text" class="text-search-box" tabindex="3" ng-model="groupName" placeholder="Search" style="margin-top:0px"
                    			uib-typeahead="group.patientName+'|'+group.uhidnumber for group in searchGroupList($viewValue)"
                    			typeahead-editable="false" typeahead-on-select="selectPatientId($item, $model, $label);" name="groupName" autocomplete="off" required/>
					<i class="fa fa-search common-search-text-icon" aria-hidden="true"></i>
			</div>
		</div>
	
	</div>
          	
		<div class="row padding-left-right-set4 margin-top10">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<table class="table table-bordered">
					<tr class="">
					<th></th>
					<th class="width10">
							Speciality Name
							<div class="float_right">
								<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
								<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
							</div>
						</th>
						<th class="UHID-width">
							UHID
							<div class="float_right">
								<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
								<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
							</div>
						</th>
						<th class="patient-doc-details-width">
							Patient Details
							<div class="float_right">
								<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
								<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
							</div>
						</th>
						<th class="patient-doc-details-width">
							Doctor Details
							<div class="float_right">
								<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
								<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
							</div>
						</th>
						<th class="patient-doc-details-width">
							Ward
							<div class="float_right">
								<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
								<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
							</div>
						</th>
						<th  class="width10">
							Bed No.
							<div class="float_right">
								<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
								<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
							</div>
						</th>
						<th  class="width12">
							Reason for Transfer
							<div class="float_right">
								<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
								<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
							</div>
						</th>
						<th class="table-note-width">
							Note
							<div class="float_right">
								<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
								<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
							</div>
						</th>
						<th class="table-action-width">
							Action
							<div class="float_right">
								<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
								<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
							</div>
						</th>
					</tr>
					<tr ng-repeat="info in interConsulttantRequestListForDoctor">
					<td><input type="radio" name="radioName" value="info.transferOfCareId" ng-model="pendingConsultOrder" ng-click="selectItem(info)" /></td>
					<td>{{info.toSpecialityName}}</td>
						<td>{{info.uhidnumber}}</td>
						<td ng-init='age=getAge(info.dob)'>
									<div ng-if="info.patientId > 0">{{info.patientName+' '+age+'/'+info.genderCode}}</div>
									<div  ng-if="info.tPatientId > 0">{{info.patientName+' '+info.dob+'/'+info.genderCode}}</div>
						</td>
						<td>
							<div>Dr. {{info.doctorName+', '+info.bySpecialityName}}</div>
						</td>
						<td>
							<div>{{info.wardName}}</div>
						</td>
						<td>
							<div>{{info.bedNumber}}</div>
						</td>
						
						<td>
							<div>{{info.reasonDesc}}</div>
						</td>
						<td><i class="fa fa-commenting" aria-hidden="true" data-toggle="modal" data-target="#notesForall" ng-click="displayNote(info.note)"></i></td>
						<td>
							<a href="" class="btn btn-primary" ng-click="acceptConsultOrder()">Accept</a>
						</td>
					</tr>
					
					
				</table>
			</div>
		</div>
	</div>
</div>
<modal visible="showModal"></modal> 
<div id="notesForall" class="modal fade ng-scope in" role="dialog">
		<div class="modal-dialog"> <!-- width: 25% !important;margin: 200px 0 0 510px !important; -->
			<div class="modal-content">
				<div class="modal-header">
					<div class="modal-title patient-details-row">
						Note
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
				</div>
				<div class="modal-body common-sub-table">
					<div class="row margin-top10" >
						<div class="col-md-12 padding-left-right-set">
							<!-- <input type="text" placeholder="Note" class="text-box-style"  ng-model="noteDoctor"> -->
							<textarea placeholder="Note" ng-model="noteDoctor" rows="5" readonly="true"></textarea>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
$( document ).ready(function() {
	var documentHeight= $(window).height();
    var sideBarHeight = documentHeight - 55;
 	$("#page-content-wrapper").css("height", sideBarHeight + "px" );
	
	$('.clockpicker').clockpicker();
	$(".medication-text-box").hide();
	$( ".radioRejected" ).change(function() {
		if ($(this).is(":checked"))
		{
			$("#accepatReject").modal();
		}
	});
	$(".selectedPageName").text("Pending Consult Order");
	$(".sidebar-nav li").each(function() {
		$(this).find("a").parents("li").removeClass("active");
	});
	$('a[href$="pendingInterConsultRequestController"]').parents("li").addClass("active");
	
});

</script>
