<!-- /********************************************************************************************************************************************
Inventory - Consumble - quotation Enquiry main page
Created by - Pranita Patil
Created Date - 04-April-2018 
/********************************************************************************************************************************************/ -->

<!-- Page Content -->
<div id="page-content-wrapper" class="">
  <div class="container-fluid his-style">
    <fieldset class="main-fieldset">
		<div class="row margin-top8">
      		<ul class="tabs nav nav-tabs">
				<li ng-class="{ active : isSetFirstTabLevel(1) }" id="" class="padding-top-bottom width15">
					<a href ng-click="setFirstTabLevel(1)">Pending Issue</a>
				</li>
				<li ng-class="{ active : isSetFirstTabLevel(2) }" id="" class="padding-top-bottom width15">
					<a href ng-click="setFirstTabLevel(2)">Asset Issue</a>
				</li>
			</ul>
		</div>
		
	</fieldset> 
	<div class="row">
		<!-- **************  "Pending Issue" "" TAB start ************** ************** ************** ************** -->
		<div ng-show="isSetFirstTabLevel(1)">
			<div class="row his-style">
				<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 padding-top10">
           			<div class="col-lg-6 col-md-6 col-sm-6 padding-left-right-set4">
						<div class="row input-container test-master-sample">
							<div class="col-lg-2 col-sm-1 col-md-2 polymer-icon">
								<i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
							</div>
							<div class="col-lg-10 col-sm-11 col-md-10 ">
								<div class="">
									<input type="text" name="code" id="" class="text-input floating-label">
									<label for="" class="LISDynamicLabel">From Date</label>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 padding-left-right-set4">
						<div class="row input-container test-master-sample">
							<div class="col-lg-2 col-sm-1 col-md-2 polymer-icon">
								<i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
							</div>
							<div class="col-lg-10 col-sm-11 col-md-10 ">
								<div class="">
									<input type="text" name="code" id="" class="text-input floating-label">
									<label for="" class="LISDynamicLabel">To Date</label>
								</div>
							</div>
						</div>
					</div>
           		</div>
            		<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 padding-top10">
            			<div class="col-lg-6 col-md-6 col-sm-6 padding-left-right-set4">
							<div class="row input-container test-master-sample">
								<div class="col-lg-2 col-sm-1 col-md-2 polymer-icon">
									<i class="fa fa-dot-circle-o" aria-hidden="true"></i>
								</div>
								<div class="col-lg-10 col-sm-11 col-md-10 ">
									<div class="">
										<input type="text" name="code" id="" class="text-input floating-label">
										<label for="" class="LISDynamicLabel">Indent No</label>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 padding-left-right-set4">
							<div class="row input-container test-master-sample">
								<div class="col-lg-2 col-sm-1 col-md-2 polymer-icon">
									<i class="fa fa-dot-circle-o" aria-hidden="true"></i>
								</div>
								<div class="col-lg-10 col-sm-11 col-md-10 ">
									<div class="">
										<input type="text" name="code" id="" class="text-input floating-label">
										<label for="" class="LISDynamicLabel">Status</label>
									</div>
								</div>
							</div>
						</div>
            		</div>
				
					<div class="col-lg-2 col-md-3 col-sm-3 padding-left-right-set4 padding-top10">
						<div class="row input-container test-master-sample">
							<div class="col-lg-2 col-sm-1 col-md-2 polymer-icon">
								<i class="fa fa-dot-circle-o" aria-hidden="true"></i>
							</div>
							<div class="col-lg-10 col-sm-11 col-md-10 ">
								<div class="">
									<input type="text" name="code" id="" class="text-input floating-label">
									<label for="" class="LISDynamicLabel">Type</label>
								</div>
							</div>
						</div>
					</div>
				
					<div class="col-lg-1 col-md-1 col-sm-1 padding-left-right-set4 padding-top10">
						<div class="common-save-button" style="padding-top:  0px;"> 
							 <a href="" class="btn btn-primary btn-save-box-shadow" style="width: auto;"> 
							 	<i class="fa fa-search" aria-hidden="true"></i> 
							 </a> 
						</div> 
					</div>
			</div>
			<div class="row ">
          	   <div class="col-md-8 col-sm-8 padding-left-right-set4 padding-top4">
          			<!-- <label class="show-entries">Show <select
						name="DataTables_Table_0_length"
						aria-controls="DataTables_Table_0"
						ng-init="noOfRecordsPerPage='10'" ng-model="noOfRecordsPerPage"
						ng-change="setNoOfRecords();" class="search-popUp-ddl">
							<option value="10">10</option>
							<option value="25">25</option>
							<option value="50">50</option>
							<option value="100">100</option>
					</select> entries
					</label> -->
          		</div>
          		<div class="col-lg-4 col-md-4 col-sm-4 padding-left-right-set4">
	           		<div class="col-lg-10 col-md-10 col-sm-10 padding-left-right-set4 padding-top4">
							<input type="text" class="text-search-box" placeholder="Search" style="margin-top:0px">
							<i class="fa fa-search common-search-text-icon padding-top4" aria-hidden="true" style="padding-left:4px"></i>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4 float_right">
						<div class="width-div-for-patient-reg padding-top4 "><!-- data-toggle="modal" data-target="#specimanAccpet" -->
							<a href="" class="btn btn-primary btn-save-box-shadow" title="Save" >
								<i class="fa fa-floppy-o" style="font-size: 21px" aria-hidden="true"></i>
							</a>
						</div>
					</div>
				</div>
          	</div>
          	
          	<div class="row margin-top4">
            		<div class="col-lg-12 col-md-12 col-sm-12 padding-left-right-set4 table-x-scroll">
						<table class="table table-bordered table-width-1600">
							<thead>
								<tr>
									<th class="widh6">
										Indent No
										<div class="float_right">
											<div>
												<i class="fa fa-caret-up" aria-hidden="true"></i>
											</div>
											<div class="margin-top-8">
												<i class="fa fa-caret-down" aria-hidden="true"></i>
											</div>
										</div>
									</th>
									<th class="widh6">
										Indent Date
										<div class="float_right">
											<div>
												<i class="fa fa-caret-up" aria-hidden="true"></i>
											</div>
											<div class="margin-top-8">
												<i class="fa fa-caret-down" aria-hidden="true"></i>
											</div>
										</div>
									</th>
									<th class="width8">
										From Store
										<div class="float_right">
											<div>
												<i class="fa fa-caret-up" aria-hidden="true"></i>
											</div>
											<div class="margin-top-8">
												<i class="fa fa-caret-down" aria-hidden="true"></i>
											</div>
										</div>
									</th>
									<th class="width8">
										To Store
										<div class="float_right">
											<div>
												<i class="fa fa-caret-up" aria-hidden="true"></i>
											</div>
											<div class="margin-top-8">
												<i class="fa fa-caret-down" aria-hidden="true"></i>
											</div>
										</div>
									</th>
									<th class="width6">
										Priority
										<div class="float_right">
											<div>
												<i class="fa fa-caret-up" aria-hidden="true"></i>
											</div>
											<div class="margin-top-8">
												<i class="fa fa-caret-down" aria-hidden="true"></i>
											</div>
										</div>
									</th>
									<th class="width5">
										Type
										<div class="float_right">
											<div>
												<i class="fa fa-caret-up" aria-hidden="true"></i>
											</div>
											<div class="margin-top-8">
												<i class="fa fa-caret-down" aria-hidden="true"></i>
											</div>
										</div>
									</th>
									<th class="width8">
										Indent Type
										<div class="float_right">
											<div>
												<i class="fa fa-caret-up" aria-hidden="true"></i>
											</div>
											<div class="margin-top-8">
												<i class="fa fa-caret-down" aria-hidden="true"></i>
											</div>
										</div>
									</th>
									<th class="width8">
										Is Consignment
										<div class="float_right">
											<div>
												<i class="fa fa-caret-up" aria-hidden="true"></i>
											</div>
											<div class="margin-top-8">
												<i class="fa fa-caret-down" aria-hidden="true"></i>
											</div>
										</div>
									</th>
									<th class="width8">
										Requested By
										<div class="float_right">
											<div>
												<i class="fa fa-caret-up" aria-hidden="true"></i>
											</div>
											<div class="margin-top-8">
												<i class="fa fa-caret-down" aria-hidden="true"></i>
											</div>
										</div>
									</th>
									<th class="width8">
										Remark
										<div class="float_right">
											<div>
												<i class="fa fa-caret-up" aria-hidden="true"></i>
											</div>
											<div class="margin-top-8">
												<i class="fa fa-caret-down" aria-hidden="true"></i>
											</div>
										</div>
									</th>
									<th class="width10">
										Internal Site Visit Status
										<div class="float_right">
											<div>
												<i class="fa fa-caret-up" aria-hidden="true"></i>
											</div>
											<div class="margin-top-8">
												<i class="fa fa-caret-down" aria-hidden="true"></i>
											</div>
										</div>
									</th>	
									<th class="width10">
										External Site Visit Status
										<div class="float_right">
											<div>
												<i class="fa fa-caret-up" aria-hidden="true"></i>
											</div>
											<div class="margin-top-8">
												<i class="fa fa-caret-down" aria-hidden="true"></i>
											</div>
										</div>
									</th>	
									<th class="width5">
										Status
										<div class="float_right">
											<div>
												<i class="fa fa-caret-up" aria-hidden="true"></i>
											</div>	
											<div class="margin-top-8">
												<i class="fa fa-caret-down" aria-hidden="true"></i>
											</div>
										</div>
									</th>	
									<th class="width5">
										Action
									</th>	
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>IND-1002</td>
									<td>01/02/2018</td>
									<td>Radiology</td>
									<td>Biomedical</td>
									<td>Low</td>
									<td>Manual</td>
									<td>Assest</td>
									<td>No</td>
									<td>Meg Gupta</td>
									<td></td>
									<td>Pending</td>
									<td>Pending</td>
									<td>Pending</td>
									<td>
										<a href="#/assetIssueDetails">Details </a>
									</td>
								</tr>
							</tbody>
						</table>           		
            		</div>
            	</div>
		</div>
		
		<!-- **************  "Storage Details" TAB end ************** ************** ************** ************** -->	
		
		
		<!-- **************  "Issue List" TAB start ************** ************** ************** ************** -->
		<div ng-show="isSetFirstTabLevel(2)">
				<div class="row his-style">	
					Issue List
				</div>
		</div>
		<!-- **************  "Issue List" TAB end ************** ************** ************** ************** -->	
	</div>
    </div>
</div>

 <!-- **************** against Replacement Modal start **************** -->
<div id="againstReplacementModal" class="modal fade ng-scope in  common-large-popup" role="dialog">
	<div class="modal-dialog"> 
		<div class="modal-content">
			<div class="modal-header">
				<div class="modal-title patient-details-row">
					Against Replacement
					<button type="button" class="close" data-dismiss="modal">x</button>
				</div>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-lg-12 col-md-12 height-table-with-scroll padding-left-right-set4">
						
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12">
								<table class="table table-bordered first-checkBox-padding">
						            <thead class="mainServiceTableCommon">
						              <tr>
						                <th class="width6">
						                   	Asset Code
						                  <div class="float_right">
						                    <div>
						                      <i class="fa fa-caret-up" aria-hidden="true"></i>
						                    </div>
						                    <div class="margin-top-8">
						                      <i class="fa fa-caret-down" aria-hidden="true"></i>
						                    </div>
						                  </div>
						                </th>
						               </tr>
						              </thead>
						        </table>
						            
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer" style="border:none;">
				<div class="row">
					<div class="col-lg-10 col-md-10 col-sm-8 padding-left-right-set4"></div>
            		<div class="col-lg-1 col-md-1 col-sm-2 padding-left-right-set4 ">
						<div class=" ">
							<a href="" class="btn btn-primary btn-save-box-shadow" title="Add" data-toggle="modal">Add</a>
						</div>
					</div>
					<div class="col-lg-1 col-md-1 col-sm-2 padding-left-right-set4">
						<div class=" ">
							<a href="" class="btn btn-primary btn-save-box-shadow" title="Cancel" data-toggle="modal">Cancel</a>
						</div>
					</div>
            	</div>
			</div>
		</div>
	</div>
</div>
<!-- **************** against Replacement Modal end **************** -->
<!-- **************** New Request Modal start **************** -->
<div id="newRequestModal " class="modal fade ng-scope in  common-large-popup" role="dialog">
	<div class="modal-dialog"> 
		<div class="modal-content">
			<div class="modal-header">
				<div class="modal-title patient-details-row">
					New Request
					<button type="button" class="close" data-dismiss="modal">x</button>
				</div>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-lg-12 col-md-12 height-table-with-scroll padding-left-right-set4">
						modal 2
					</div>
				</div>
			</div>
			<div class="modal-footer" style="border:none;">
				<div class="row">
					<div class="col-lg-10 col-md-10 col-sm-8 padding-left-right-set4"></div>
            		<div class="col-lg-1 col-md-1 col-sm-2 padding-left-right-set4 ">
						<div class=" ">
							<a href="" class="btn btn-primary btn-save-box-shadow" title="Add" data-toggle="modal">Add</a>
						</div>
					</div>
					<div class="col-lg-1 col-md-1 col-sm-2 padding-left-right-set4">
						<div class=" ">
							<a href="" class="btn btn-primary btn-save-box-shadow" title="Add" data-toggle="modal">Cancel</a>
						</div>
					</div>
            	</div>
			</div>
		</div>
	</div>
</div>
<!-- **************** New Request Modal end **************** -->
<script type="text/javascript">
$( document ).ready(function() {
  $(".selectedPageName").text("Asset Issue");
  $(".sidebar-nav li").each(function() {
    $(this).find("a").parents("li").removeClass("active");
  });
  
});
/*************************** add button function start*********************************/
$(".table-th-bg").click(function(){
  /* alert(); */
  $(this).next().find(".selectedServicesList").toggle();
});


</script>