
<div id="page-content-wrapper">
	<div class="container-fluid his-style">
		<fieldset>
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 padding-left-right-set4 padding-top10">
					<div class="row input-container">
						<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon">
							<i class="fa fa-building-o" aria-hidden="true"></i>
						</div>
						<div class="col-lg-11 col-sm-11 col-md-11">
							<div class="">
								<input type="text" class="text-input floating-label"/>
								<label for="code">Biochemical Test Code</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 padding-left-right-set4 padding-top10">
					<div class="row input-container">
						<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon">
							<i class="fa fa-outdent" aria-hidden="true"></i>
						</div>
						<div class="col-lg-11 col-sm-11 col-md-11">
							<div class="">
								<input type="text" class="text-input floating-label"/>
								<label for="code">Biochemical Test Description</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-8 col-md-8 col-sm-8 padding-left-right-set4 padding-top10">
					<div class="row input-container">
						<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon">
							<i class="fa fa-outdent" aria-hidden="true"></i>
						</div>
						<div class="col-lg-11 col-sm-11 col-md-11">
							<div class="">
								<input type="text" class="text-input floating-label"/>
								<label for="code">Remarks</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</fieldset>	
		<div class="row margin-top10" >
				<div class="col-md-8"></div>
				<div class="col-md-4 col-sm-4">
				<div class="col-lg-10 col-md-9 col-sm-9">
					<input type="text" class="text-search-box" placeholder="Search">
					<i class="fa fa-search common-search-text-icon padding-top8" aria-hidden="true"></i>
				</div>
				<div class="col-md-1 col-sm-2 padding-leftright15 float_right">
					<div class="width-div-for-patient-reg padding-top4">
						<a href="" class="btn btn-primary btn-save-box-shadow"
							title="Save" data-toggle="modal" data-target="#confirmLogout"><i
							class="fa fa-floppy-o" style="font-size: 21px" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
			</div>
			<div class="row padding-left-right-set4 margin-top10">
				<div class="col-md-12">
					<table class="table table-bordered">
						<tr class="">
							<th class="width10">Biochemical Test Code
								<div class="float_right">
									<div>
										<i class="fa fa-caret-up" aria-hidden="true"></i>
									</div>
									<div class="margin-top-8">
										<i class="fa fa-caret-down" aria-hidden="true"></i>
									</div>
								</div>
							</th>	
							<th class="width10">Biochemical Test Description
								<div class="float_right">
									<div>
										<i class="fa fa-caret-up" aria-hidden="true"></i>
									</div>
									<div class="margin-top-8">
										<i class="fa fa-caret-down" aria-hidden="true"></i>
									</div>
								</div>
							</th>	
							<th class="width20">Remarks
								<div class="float_right">
									<div>
										<i class="fa fa-caret-up" aria-hidden="true"></i>
									</div>
									<div class="margin-top-8">
										<i class="fa fa-caret-down" aria-hidden="true"></i>
									</div>
								</div>
							</th>	
							<th class="width5">Status
								<div class="float_right">
									<div>
										<i class="fa fa-caret-up" aria-hidden="true"></i>
									</div>
									<div class="margin-top-8">
										<i class="fa fa-caret-down" aria-hidden="true"></i>
									</div>
								</div>
							</th>
							<th class="width5">Action</th>
						</tr>
						<tr>
							<td>-</td>
							<td>-</td>
							<td>
								<label class="switch"> 
									<input type="checkbox">
									<div class="slider round"></div>
								</label>
							</td>
							<td class="padding-edit-button-table">
								<a>
									<i class="fa fa-pencil" aria-hidden="true" title="Edit"></i>
								</a>
							</td>
						</tr>
					</table>
				</div>
			</div>	
	</div>
</div>

<script type="text/javascript">
$(document).ready(function() {
	var documentHeight= $(window).height();
    var sideBarHeight = documentHeight - 55;
  $("#page-content-wrapper").css("height", sideBarHeight + "px" );
  
  $(".selectedPageName").text("Biochemical Test Master");
	$(".sidebar-nav li").each(function() {
		$(this).find("a").parents("li").removeClass("active");
	});
	$('a[href$="biochemicalTestMaster"]').parents("li").addClass("active");
});
</script>
