        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid his-style">
            	
            	<div class="row">
            		<div class="col-md-8"></div>
					<div class="col-md-3">
						<div>
							<input type="text" class="text-search-box" placeholder="Search">
							<i class="fa fa-search common-search-text-icon" aria-hidden="true"></i>
						</div>
					</div>
					<div class="col-md-1 padding-left0px-right6px">
						<div class="common-save-button">
							<input type="button" value="Save"  class="btn btn-primary btn-save-box-shadow" data-toggle="modal" data-target="#confirmLogout">
						</div>
					</div>
				</div>
            	
				<div class="row padding-left-right-10">
					<div class="col-md-12">
						<table class="table table-bordered table-striped">
							<tr class="table-th-bg">
								<th class="status">
									Visit Type 
									<div class="float_right">
										<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
										<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
									</div>
								</th>
								<th class="UHID-width">
									UHID
									<div class="float_right">
										<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
										<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
									</div>
								</th>
								<th class="patient-doc-details-width">
									Patient Details
									<div class="float_right">
										<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
										<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
									</div>
								</th>
								<th class="test-name-width">
									Test Name
									<div class="float_right">
										<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
										<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
									</div>
								</th>
								<th class="priority-width">
									Priority
									<div class="float_right">
										<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
										<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
									</div>
								</th>
								<th class="patient-doc-details-width">
									Doctor Details
									<div class="float_right">
										<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
										<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
									</div>
								</th>
								<th class="status">
									Ward No
									<div class="float_right">
										<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
										<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
									</div>
								</th>
								<th class="bed-no-width">
									Bed No
									<div class="float_right">
										<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
										<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
									</div>
								</th>
								<th class="bar-code-width">
									Bar Code
									<div class="float_right">
										<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
										<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
									</div>
								</th>
								<th class="width8">
									Status
									<div class="float_right">
										<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
										<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
									</div>
								</th>
								<th class="width6">
									<input type="checkbox">
									Send To Dept
								</th>
							</tr>
							<tr>
								<td>Visit-1</td>
								<td>UH123456</td>
								<td>
									<div>John Deo 26/M </div>
								</td>
								<td><div>Blood Sugar Level</div></td>
								<td>
									<div>Normal</div>
								</td>
								<td>
									<div>Dr. Andy Qnyty, Homotology</div>
								</td>
								<td>
									<div>Ward No.-1</div>
								</td>
								<td>
									<div>BM678905</div>
								</td>
								<td>
									<div>BC14895623</div>
								</td>
								<td>
									<select class="select-box">
										<option>Select</option>
										<option>Pending</option>
										<option>Work In Progress</option>
									</select>
								</td>
								<td>
									<input type="checkbox">
								</td>
							</tr>
							<tr>
								<td class="urgent-text">Visit-2</td>
								<td class="urgent-text">UH123458</td>
								<td class="urgent-text">
									<div>Soni Raut  20/F </div>
								</td>
								<td class="urgent-text">
									<div>Blood Sugar Level</div>
								</td>
								<td class="urgent-text">
									<div>Urgent</div>
								</td>
								<td class="urgent-text">
									<div>Dr. Andy Qnyty, Homotology</div>
								</td>
								<td class="urgent-text">
									<div>Ward No.-1</div>
								</td>
								<td class="urgent-text">
									<div>BM678905</div>
								</td>
								<td class="urgent-text">
									<div>BC14895</div>
								</td>
								<td>
									<select class="select-box">
										<option>Select</option>
										<option>Pending</option>
										<option>Work In Progress</option>
									</select>
								</td>
								<td>
									<input type="checkbox">
								</td>
							</tr>
							
						</table>
					</div>
				</div>
  			</div>
		</div>
	
	
	<script type="text/javascript">
$('.clockpicker').clockpicker();

$( document ).ready(function() {
	var documentHeight= $(window).height();
    var sideBarHeight = documentHeight - 55;
 	$("#page-content-wrapper").css("height", sideBarHeight + "px" );
	
	$(".selectedPageName").text("Centrifugation Work List");
	$(".sidebar-nav li").each(function() {
		$(this).find("a").parents("li").removeClass("active");
	});
	
	
});

</script>