<!-- LETTER DETAILS -->
 <div id="letterDetails" class="common-large-popup modal fade ng-scope in" role="dialog">
		<div class="modal-dialog"> 
			<div class="modal-content">
				<div class="modal-header">
					<div class="modal-title patient-details-row">
						Letter Details
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
				</div>
				<div class="modal-body">
					<div class="margin-div">
				        <div class="row">
				         	<div class="col-md-6 col-sm-6">
					          	<button type="button" class="btn btn-primary" id="complaint-add-btn" data-dismiss="modal">Save</button>
					         </div>
				        </div>
		        	</div>
					<div class="col-md-12 fix-height-scroll450" style="background-color: white">
						<table id="complaintListTable" class="table table-bordered table-striped" height="auto">
							<tbody>
									<tr>
	       								<td class="width50">
	       									<div class="row form-animate-checkbox">
	       										<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
	       											<input type="checkbox" id="1_complaint" class="checkbox chk" value="1" name=" High Fever with headache">
	       										</div>
	       										<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
	       											<label class="margin-left5" for="1_complaint">High Fever with headache</label>
	       										</div>
	       									</div>
	       								</td>		        				
	       								<td class="width50">
	       									<div class="row form-animate-checkbox">
	       										<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
	       											<input type="checkbox" id="2_complaint" class="checkbox chk" value="2" name=" Sleep deprivation">
	       										</div>
	       										<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
	       											<label class="margin-left5" for="2_complaint"> Sleep deprivation</label>
	       										</div>
	       									</div>
	       								</td>
	       							</tr>
	       							<tr>
	       								<td class="width50">
	       									<div class="row form-animate-checkbox">
	       										<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
	       											<input type="checkbox" id="4_complaint" class="checkbox chk" value="4" name=" Redness or scaling">
	       										</div>
	       										<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
	       											<label class="margin-left5" for="4_complaint">Redness or scaling</label>
	       										</div>
	       									</div>
	       								</td>		        				
	       								<td class="width50">
	       									<div class="row form-animate-checkbox">
	       										<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
	       											<input type="checkbox" id="5_complaint" class="checkbox chk" value="5" name=" Changes in Lymph Nodes">
	       										</div>
	       										<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
	       											<label class="margin-left5" for="5_complaint"> Changes in Lymph Nodes</label>
	       										</div>
	       									</div>
	       								</td>
	       							</tr>
	       							<tr>
	       								<td class="width50">
	       									<div class="row form-animate-checkbox">
	       										<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
	       											<input type="checkbox" id="6_complaint" class="checkbox chk" value="6" name=" Trouble Swallowing">
	       										</div>
	       										<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
	       											<label class="margin-left5" for="6_complaint">Trouble Swallowing</label>
	       										</div>
	       									</div>
	       								</td>		        				
	       								<td class="width50">
	       									<div class="row form-animate-checkbox">
	       										<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
	       											<input type="checkbox" id="7_complaint" class="checkbox chk" value="7" name=" Weight Loss Without Trying">
	       										</div>
	       										<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
	       											<label class="margin-left5" for="7_complaint"> Weight Loss Without Trying</label>
	       										</div>
	       									</div>
	       								</td>
	       							</tr>
			       				</tbody>
			       		</table>
					</div>
				</div>
			</div>
		</div>
</div> 


