<!-- READY MADE POPUP -->
 <div id="readyMadeDetails" class="common-small-popup modal fade ng-scope in" role="dialog">
		<div class="modal-dialog"> 
			<div class="modal-content">
				<div class="modal-header">
					<div class="modal-title patient-details-row">
						Ready Made Details
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
				</div>
				<div class="modal-body">
					<div class="col-md-12 fix-height-scroll380" style="background-color: white">
						<table class="table table-bordered  margin-top8">
								<tr>
									<td>
										<a href="" data-toggle="modal" data-target="#readyMadeNameDetails">Name-1</a>
									</td>
								<tr>
								<tr>
									<td>
										Name-1
									</td>
								<tr>
								<tr>
									<td>
										Name-1
									</td>
								<tr>
								<tr>
									<td>
										Name-1
									</td>
								<tr>
								<tr>
									<td>
										Name-1
									</td>
								<tr>
								<tr>
									<td>
										Name-1
									</td>
								<tr>
								<tr>
									<td>
										Name-1
									</td>
								<tr>
								<tr>
									<td>
										Name-1
									</td>
								<tr>
								<tr>
									<td>
										Name-1
									</td>
								<tr>
								</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
</div> 

