<!-- FAVORITES POPUP -->
 <div id="favoritesDetails" class="common-large-popup modal fade ng-scope in" role="dialog">
		<div class="modal-dialog"> 
			<div class="modal-content">
				<div class="modal-header">
					<div class="modal-title patient-details-row">
						Favorites Details
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
				</div>
				<div class="modal-body">
					<div class="margin-div">
				        <div class="row">
				         	<div class="col-md-6 col-sm-6">
					          	<button type="button" class="btn btn-primary" id="complaint-add-btn" data-dismiss="modal">Add</button>
					         </div>
				        </div>
		        	</div>
					<div class="col-md-12 fix-height-scroll450" style="background-color: white">
						<table class="table table-bordered  margin-top8">
								<tr>
									<th class="width1"></th>
									<th class="width10">
										<span class="">Brand Name</span>
									</th>
									<th class="width10">
										 <span class="">Generic Name</span>
									</th>
									<th class="width8">
										<span class="">ROA</span>
									</th>
									<th class="width8">
										 <span class="">Dose</span>
									</th>
									<th class="width10">
										 <span class="">Frequency</span>
									</th>
									
									<th class="width10">
										 <span class="">Duration</span>
									</th>
									<th class="width15">
										 <span class="">Instruction</span>
									</th>
								</tr>
								<tr>
									<td>
										<input type="checkbox">
									</td>
									<td>
										-
									</td>
									<td>
										-
									</td>
									<td>
										-
									</td>
									<td>
										-
									</td>
									<td>
										-
									</td>
									<td>
										-
									</td>
									<td>
										-
									</td>
									
								</tr>
								<tr>
									<td>
										<input type="checkbox">
									</td>
									<td>
										-
									</td>
									<td>
										-
									</td>
									<td>
										-
									</td>
									<td>
										-
									</td>
									<td>
										-
									</td>
									<td>
										-
									</td>
									<td>
										-
									</td>
									
								</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
</div> 


