<!-- LAST POPUP -->
 <div id="lastDetails" class="common-large-popup modal fade ng-scope in" role="dialog">
		<div class="modal-dialog"> 
			<div class="modal-content">
				<div class="modal-header">
					<div class="modal-title patient-details-row">
						Last Details
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
				</div>
				<div class="modal-body">
					<div class="col-md-12 fix-height-scroll380" style="background-color: white">
						<table class="table table-bordered  margin-top8">
								<tr>
									<th class="width10">
										<span class="">Brand Name</span>
									</th>
									<th class="width10">
										 <span class="">Generic Name</span>
									</th>
									<th class="width8">
										<span class="">ROA</span>
									</th>
									<th class="width8">
										 <span class="">Dose</span>
									</th>
									<th class="width10">
										 <span class="">Frequency</span>
									</th>
									<th class="width10">
										 <span class="">Instruction</span>
									</th>
									<th class="width10">
										 <span class="">Duration</span>
									</th>
									<th class="width10">
										 <span class="">Start Date</span>
									</th>
									<th class="width10">
										 <span class="">End Date</span>
									</th>
								</tr>
								<tr>
									<td>
										-
									</td>
									<td>
										-
									</td>
									<td>
										-
									</td>
									<td>
										-
									</td>
									<td>
										-
									</td>
									<td>
										-
									</td>
									<td>
										-
									</td>
									<td>
										-
									</td>
									<td>
										-
									</td>
									
								</tr>
								<tr>
									<td>
										-
									</td>
									<td>
										-
									</td>
									<td>
										-
									</td>
									<td>
										-
									</td>
									<td>
										-
									</td>
									<td>
										-
									</td>
									<td>
										-
									</td>
									<td>
										-
									</td>
									<td>
										-
									</td>
								</tr>
						</table>
					</div>
					<div class="row">
			         	<div class="col-md-2 col-sm-2 float_right margin-bottom-fieldset">
				          	<button type="button" class="btn btn-primary">Continue All</button>
				         </div>
				    </div>
				</div>
			</div>
		</div>
</div> 
