<!-- Page Content -->
<div id="page-content-wrapper">
	<div class="container-fluid his-style">
		<fieldset>
			<!-- <legend class="heading-div padding-top10"> Bank Master</legend> -->
			<div class="row margin-top10 padding-left-right-set4">
				<form action="" name="bankBranchForm" novalidate>
				<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 padding-top10">
						<div class="row input-container">
							<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon"> 
								<i class="fa fa-dot-circle-o" aria-hidden="true"></i>
							</div>
							<div class="col-lg-11 col-sm-11 col-md-11 ">
								<div class="form-group"   show-errors>
									<input type="text" name="branchCode" id=""
										class="text-input floating-label" ng-model="bankBranchMasterObj.branchCode" required="required">
									<label for="code">Branch Code</label>
									<p class="help-block" ng-if="bankBranchForm.branchCode.$error.required">Code is required</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 padding-top10">
						<div class="row input-container">
							<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon">
								<i class="fa fa-sticky-note-o" aria-hidden="true"></i>
							</div>
							<div class="col-lg-11 col-sm-11 col-md-11 ">
								<div class="form-group"   show-errors>
									<input type="text" name="branchDesc" id=""
										class="text-input floating-label" ng-model="bankBranchMasterObj.branchDesc" required="required"> <label for="code"
										class="LISDynamicLabelOne"> Branch Description</label>
										<p class="help-block" ng-if="bankBranchForm.branchDesc.$error.required">Description is required</p>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</fieldset>
		<div class="row margin-top10 padding-left-right-set4">
		
		<div class="col-md-6 col-sm-7 padding-left-right-set4">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-sm-6" style="padding-left: 0px;">
						<div class="search">
						<label class="show-entries">Show 
						<select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0"
							ng-init="noOfRecordsPerPage='10'" ng-model="noOfRecordsPerPage"
							ng-change="setNoOfRecords();" class="search-popUp-ddl">
								<option value="10">10</option>
								<option value="25">25</option>
								<option value="50">50</option>
								<option value="100">100</option>
						</select> entries
						</label>
					</div>
					</div>
				</div>
			</div>
			<div class="col-lg-1 col-md-1 col-sm-2 padding-left-right-set4 float_right text-width-auto">
				<div class=" ">
					<a href="" class="btn btn-primary btn-save-box-shadow" title="Save"
						data-toggle="modal" ng-click="saveBankBranch()"
						ng-show="saveBtnFlag"> <i class="fa fa-floppy-o"
						style="font-size: 21px" aria-hidden="true"></i></a> <a href=""
						class="btn btn-primary btn-save-box-shadow" title="Update"
						data-toggle="modal" ng-click="updateBankBranch()"
						ng-show="updateBtnFlag"> <i class="fa fa-floppy-o"
						style="font-size: 21px" aria-hidden="true"></i></a>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set0 float_right">
				<input type="text" class="text-search-box" placeholder="Search" style="margin-top: 0px"> <i class="fa fa-search common-search-text-icon" aria-hidden="true"></i>
			</div>
		</div>
		<div class="row padding-left-right-set4 margin-top10">
			<div class="col-md-12">
				<table class="table table-bordered">
					<tbody>
						<tr class="">
							<th>
								 Branch Code
								<div class="float_right">
									<div>
										<i class="fa fa-caret-up" aria-hidden="true"></i>
									</div>
									<div class="margin-top-8">
										<i class="fa fa-caret-down" aria-hidden="true"></i>
									</div>
								</div>
							</th>
							<th>
								 Branch Description
								<div class="float_right">
									<div>
										<i class="fa fa-caret-up" aria-hidden="true"></i>
									</div>
									<div class="margin-top-8">
										<i class="fa fa-caret-down" aria-hidden="true"></i>
									</div>
								</div>
							</th>
							<th class="width8">
							Status
								<div class="float_right">
									<div>
										<i class="fa fa-caret-up" aria-hidden="true"></i>
									</div>
									<div class="margin-top-8">
										<i class="fa fa-caret-down" aria-hidden="true"></i>
									</div>
								</div>
							</th>
							<th class="text-center width8">
							Action
								<div class="float_right">
									<div>
										<i class="fa fa-caret-up" aria-hidden="true"></i>
									</div>
									<div class="margin-top-8">
										<i class="fa fa-caret-down" aria-hidden="true"></i>
									</div>
								</div>
							</th>
						</tr>
						<tr ng-repeat="info in bankBranchList">
							<td>{{info.branchCode}}</td>
							<td>{{info.branchDesc}}</td>
							<td><label class="switch"> <input type="checkbox"
								ng-model="info.status" ng-true-value="'A'" ng-false-value="'I'"
								ng-change="updateStatus(info.branchId,info.status)">
									<div class="slider round"></div></label></td>
							<td class="padding-edit-button-table text-center"><a><i
									class="fa fa-pencil" aria-hidden="true" ng-click="showUpdateBtn(info.branchId)"></i></a></td>
						</tr>
					</tbody>
				</table>
				<div class="row margin-bottom45 sss">
					<ul ng-if="pager.pages.length" class="pagination table-list"
						style="font-size: 14px;">
						<li ng-class="{disabled:pager.currentPage === 1}"><a
							ng-click="setPage(1,'true')">First</a></li>
						<li ng-class="{disabled:pager.currentPage === 1}"><a
							ng-click="setPage(pager.currentPage - 1,'true')">Previous</a></li>
						<li ng-repeat="page in pager.pages"
							ng-class="{active:pager.currentPage === page}"><a
							ng-click="setPage(page,'true')">{{page}}</a></li>
						<li ng-class="{disabled:pager.currentPage === pager.totalPages}">
							<a ng-click="setPage(pager.currentPage + 1,'true')">Next</a>
						</li>
						<li ng-class="{disabled:pager.currentPage === pager.totalPages}">
							<a ng-click="setPage(pager.totalPages,'true')">Last</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<modal visible="showModal"></modal>
<script type="text/javascript">
$(document).ready(function() {
	var documentHeight= $(window).height();
    var sideBarHeight = documentHeight - 55;
 	$("#page-content-wrapper").css("height", sideBarHeight + "px" );
});	
	$(".selectedPageName").text("Bank Branch Master");
	$(".sidebar-nav li").each(function() {
		$(this).find("a").parents("li").removeClass("active");
	});
	$('a[href$="bankBranch"]').parents("li").addClass("active");
</script>