<div id="page-content-wrapper">
	<div class="container-fluid his-style">
		<fieldset>
			<!-- <legend class="heading-div">Corporate Master</legend> -->
				<div class="row margin-top10">
					<form action="">
						<div class="row">
							<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4">
								<div class="row input-container">
									<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon"> 
										<i class="fa fa-dot-circle-o" aria-hidden="true"></i>
									</div>
									<div class="col-lg-11 col-sm-11 col-md-11 ">
										<div class="">
											<input type="text" name="code" id="" class="text-input floating-label">
											<label for="code">Corporate Code</label>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4">
								<div class="row input-container">
									<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon"> 
										<i class="fa fa-dot-circle-o" aria-hidden="true"></i>
									</div>
									<div class="col-lg-11 col-sm-11 col-md-11 ">
										<div class="">
											<input type="text" name="code" id="" class="text-input floating-label">
											<label for="code">Corporate Description</label>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4">
								<div class="row input-container">
									<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon"> 
										<i class="fa fa-dot-circle-o" aria-hidden="true"></i>
									</div>
									<div class="col-lg-11 col-sm-11 col-md-11 ">
										<div class="">
											<input type="text" name="code" id="" class="text-input floating-label">
											<label for="code">AR Code</label>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 ">
								<div class="row input-container">
									<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon"> 
										<i class="fa fa-money" aria-hidden="true"></i>
									</div>
									<div class="col-lg-11 col-sm-11 col-md-11 ">
										<div class="">
											<input type="text" name="code" id="" class="text-input floating-label">
											<label for="code">Credit Limit</label>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row margin-top10">
							<div class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4 margin-top10">
								<div class="row input-container">
									<div class="col-lg-1 col-sm-2 col-md-2 polymer-icon"> 
										<i class="fa fa-location-arrow" aria-hidden="true"></i>
									</div>
									<div class="col-lg-11 col-sm-10 col-md-10 ">
										<div class="">
											<input type="text" name="code" id="" class="text-input floating-label">
											<label for="code">Address</label>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4 margin-top10">
								<div class="row input-container">
									<div class="col-lg-1 col-sm-2 col-md-2 polymer-icon"> 
										<i class="fa fa-map-marker" aria-hidden="true"></i>
									</div>
									<div class="col-lg-11 col-sm-10 col-md-10 ">
										<div class="">
											<select class="text-input floating-label">
												<option></option>
												<option>India</option>
												<option>UK</option>
											</select>
											<label for="code">Country</label>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4 margin-top10">
								<div class="row input-container">
									<div class="col-lg-1 col-sm-2 col-md-2 polymer-icon"> 
										<i class="fa fa-bandcamp" aria-hidden="true"></i>
									</div>
									<div class="col-lg-11 col-sm-10 col-md-10">
										<div class="">
											<select class="text-input floating-label">
												<option></option>
												<option>Maharashtra</option>
												<option>Goa</option>
												<option>Karnataka</option>
											</select>
											<label for="code">State</label>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4 margin-top10">
								<div class="row input-container">
									<div class="col-lg-1 col-sm-2 col-md-2 polymer-icon"> 
										<i class="fa fa-map-signs" aria-hidden="true"></i>
									</div>
									<div class="col-lg-11 col-sm-10 col-md-10 ">
										<div class="">
											<select class="text-input floating-label">
												<option></option>
												<option>Kolhapur</option>
												<option>Pune</option>
												<option>Satara</option>
											</select>
											<label for="code">City</label>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4 margin-top10">
								<div class="row input-container">
									<div class="col-lg-1 col-sm-2 col-md-2 polymer-icon"> 
										<i class="fa fa-location-arrow" aria-hidden="true"></i>
									</div>
									<div class="col-lg-11 col-sm-10 col-md-10">
										<div class="">
											<select class="text-input floating-label">
												<option></option>
												<option>Area 1</option>
												<option>Area 2</option>
												<option>Area 3</option>
											</select>
											<label for="code">Area</label>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4 margin-top10">
								<div class="row input-container">
									<div class="col-lg-1 col-sm-2 col-md-2 polymer-icon"> 
										<i class="fa fa-map-pin" aria-hidden="true"></i>
									</div>
									<div class="col-lg-11 col-sm-10 col-md-10 ">
										<div class="">
											<input type="text" name="code" id="" class="text-input floating-label">
											<label for="code">Zip Code</label>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row margin-top10">
							<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 margin-top10">
								<div class="row input-container">
									<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon"> 
										<i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
									</div>
									<div class="col-lg-11 col-sm-11 col-md-11 ">
										<div class="">
											<input type="text" name="code" id="" class="text-input floating-label">
											<label for="code">Start Date</label>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 margin-top10">
								<div class="row input-container">
									<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon"> 
										<i class="fa fa-calendar-minus-o" aria-hidden="true"></i>
									</div>
									<div class="col-lg-11 col-sm-11 col-md-11 ">
										<div class="">
											<input type="text" name="code" id="" class="text-input floating-label">
											<label for="code">End Date</label>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 margin-top10">
								<div class="row input-container">
									<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon"> 
										<i class="fa fa-credit-card" aria-hidden="true"></i>
									</div>
									<div class="col-lg-11 col-sm-11 col-md-11 ">
										<div class="">
											<input type="text" name="code" id="" class="text-input floating-label">
											<label for="code">Payment Terms</label>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 margin-top10">
								<div class="row input-container">
									<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon"> 
										<i class="fa fa-upload" aria-hidden="true"></i>
									</div>
									<div class="col-lg-11 col-sm-11 col-md-11 ">
										<div class="">
											<input type="text" name="code" id="" class="text-input floating-label">
											<label for="code">Document Upload</label>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
		</fieldset>
		<div class="row margin-top10 padding-left-right-set1">
			<div class="col-lg-1 col-md-1 col-sm-2 padding-left-right-set4 float_right text-width-auto">
				<div class=" ">
					<a href="" class="btn btn-primary btn-save-box-shadow" title="Save" data-toggle="modal" data-target="#confirmLogout"><i class="fa fa-floppy-o" style="font-size: 21px" aria-hidden="true"></i></a>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set0 float_right">
				<input type="text" class="text-search-box" placeholder="Search" style="margin-top: 0px"> <i class="fa fa-search common-search-text-icon" aria-hidden="true"></i>
			</div>
		</div>
		<div class="row padding-left-right-set4 margin-top10">
			<div class="col-md-12">
				<table class="table table-bordered">
					<tr class="">
						<th>
							Corporate Code
							<div class="float_right">
								<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
								<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
							</div>
						</th>
						<th>
							Corporate Description
							<div class="float_right">
								<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
								<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
							</div>
						</th>
						<th>
							AR Code
							<div class="float_right">
								<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
								<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
							</div>
						</th>
						<th>
							Credit Limit
							<div class="float_right">
								<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
								<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
							</div>
						</th>
						<th>
							Start Date
							<div class="float_right">
								<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
								<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
							</div>
						</th>
						<th>
							End Date
							<div class="float_right">
								<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
								<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
							</div>
						</th>
						<th>
							Payment Terms
							<div class="float_right">
								<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
								<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
							</div>
						</th>
						<th>
							Document Uploaded
							<div class="float_right">
								<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
								<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
							</div>
						</th>
						<th class="width5">
							Status
							<div class="float_right">
								<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
								<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
							</div>
						</th>
						<th class="width5">
							Action
							<div class="float_right">
								<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
								<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
							</div>
						</th>
						<th class="width1"></th>
						</tr>
						<tr>
							<td>110201</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>
								<span>
							 		Document003.txt
							 	</span>
							    <span class="pull-right padding-edit-button-table">
							    	<a><i class="fa fa-external-link" aria-hidden="true" title="View"  data-toggle="modal" data-target="#documentUploadedDetailsModal"></i></a>
							    </span>	
							</td>
							<td><label class="switch"> <input type="checkbox">
								<div class="slider round"></div></label>
							</td>
							<td class="padding-edit-button-table">
								<div class=" text-center">
									<a><i class="fa fa-pencil" aria-hidden="true" title="Edit"></i></a>
								</div>
							</td>
							<td class="padding-edit-button-table">
								<div class="">
									<a><i class="fa fa-info-circle" aria-hidden="true" title="Details"  data-toggle="modal" data-target="#detailsAddModal"></i></a>
								</div>
							</td>
						</tr>
						<tr>
							<td>110202</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>
							 	<span>
							 		Document003.txt
							 	</span>
							    <span class="pull-right padding-edit-button-table">
							    	<a><i class="fa fa-external-link" aria-hidden="true" title="View" data-toggle="modal" data-target="#documentUploadedDetailsModal"></i></a>
							    </span>	
							</td>
							<td>
								<label class="switch"> <input type="checkbox">
									<div class="slider round"></div>
								</label>
							</td>
						<td class="padding-edit-button-table">
							<div class="text-center">
								<a><i class="fa fa-pencil" aria-hidden="true" title="Edit"></i></a>
							</div>
						</td>
						<td class="padding-edit-button-table">
							<div class="">
								<a><i class="fa fa-info-circle" aria-hidden="true" title="Details" data-toggle="modal" data-target="#detailsAddModal"></i></a>
							</div>
						</td>
					</tr>
					</table> 
				</div>
			</div>
	</div>
</div>
<!-- address details modal start -->
<div id="detailsAddModal" class="modal fade ng-scope in" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<div class="modal-title patient-details-row">
					Address Details
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-lg-12 col-md-12 common-table-height-250 padding-top10" id=""><!-- pharmacologyDetailsTableId id for the table td fix height -->
						<table class="table">
							<tr class="">
								<td class="width10">
									<label><b>Address :</b></label>
								</td>
								<td  class="width20">
									<label>Address 1</label>
								</td>
							</tr>
							<tr>
								<td class="width10">
									<label><b>Country :</b></label>
								</td>
								<td class="width10">
									<label>India</label>
								</td>
							</tr>
							<tr>
								<td class="width10">
									<label><b>State :</b></label>
								</td>
								<td class="width18">
									<label>Maharashtra</label>
								</td>
							</tr>
							<tr>
								<td class="width10">
									<label><b>City :</b></label>
								</td>
								<td class="width18">
									<label>Kolhapur</label>
								</td>
							</tr>
							<tr>
								<td class="width10">
									<label><b>Area :</b></label>
								</td>
								<td class="width18">
									<label>Tarabai Park</label>
								</td>
							</tr>
							<tr>
								<td class="width10">
									<label><b>ZIP Code :</b></label>
								</td>
								<td class="width18">
									<label>416012</label>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- address details modal end -->
<!-- document view details modal start -->
<div id="documentUploadedDetailsModal" class="modal fade ng-scope in" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<div class="modal-title patient-details-row">
					View Document 
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-lg-12 col-md-12 common-popup-height-350 padding-top10" id="pharmacologyDetailsTableId"><!-- id for the table td fix height -->
						<h4>View Document</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- document view details modal end -->
<script type="text/javascript">
$(document).ready(function() {
	var documentHeight= $(window).height();
    var sideBarHeight = documentHeight - 55;
  $("#page-content-wrapper").css("height", sideBarHeight + "px" );
  
  $(".selectedPageName").text("Corporate Master");
	$(".sidebar-nav li").each(function() {
		$(this).find("a").parents("li").removeClass("active");
	});
	$('a[href$="corporateMasterGlobal"]').parents("li").addClass("active");
});
</script>