<!-- Page Content -->
<div id="page-content-wrapper">
	<div class="container-fluid his-style">
		<!-- <div ng-include="'./views/common-patient-details.html'"></div> -->
		<fieldset>
			<!-- <legend class="heading-div">District Master</legend> -->
			<form name="districtform" novalidate>
			<div class="row">
			
				<div class="col-lg-4 col-md-4 col-sm-4 padding-left-right-set4 padding-top10">
					<div class="row input-container">
						<div class="col-lg-1 col-sm-2 col-md-2 polymer-icon">
							<i class="fa fa-flag" aria-hidden="true"></i>
						</div>
						<div class="col-lg-11 col-sm-10 col-md-10 ">
								<div class="form-group"   show-errors>
							<input type="hidden" ng-model="district.districtId">
								<select class="text-input floating-label" name="countryId" ng-model="district.countryId" ng-change="getStateByCountry(district.countryId)" required>
									<option value=""></option>
									<option ng-repeat="info in countryList" value="{{info.countryId}}">{{info.countryName}}</option>
								</select> <label for="code">Choose Country</label>
								<p class="help-block" ng-if="districtform.countryId.$error.required">Country is required</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 padding-left-right-set4 padding-top10">
					<div class="row input-container">
						<div class="col-lg-1 col-sm-2 col-md-2 polymer-icon">
							<i class="fa fa-flag" aria-hidden="true"></i>
						</div>
						<div class="col-lg-11 col-sm-10 col-md-10">
								<div class="form-group"   show-errors>
							
								<select class="text-input floating-label" name="stateId" ng-model="district.stateId" required>
									<option value=""></option>
									<option ng-repeat="info in stateList" value="{{info.stateId}}">{{info.stateName}}</option>
								</select> <label for="code">Choose State</label>
								<p class="help-block" ng-if="districtform.stateId.$error.required">State is required</p>
							</div>
						</div>
					</div>
				</div>
				<div
					class="col-lg-4 col-md-4 col-sm-4 padding-left-right-set4 padding-top10">
					<div class="row input-container">
						<div class="col-lg-1 col-sm-2 col-md-2 polymer-icon">
							<i class="fa fa-dot-circle-o" aria-hidden="true"></i>
						</div>
						<div class="col-lg-11 col-sm-10 col-md-10">
								<div class="form-group"   show-errors>
								<input type="text" name="districtCode" id=""
									class="text-input floating-label" ng-model="district.districtCode" required> <label for="code">District
									Code</label>
									<p class="help-block" ng-if="districtform.districtCode.$error.required">Code is required</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
			
			<div class="col-lg-4 col-md-4 col-sm-4 padding-left-right-set4 padding-top10">
					<div class="row input-container">
						<div class="col-lg-1 col-sm-0 col-md-0 polymer-icon">
							<i class="fa fa-university" aria-hidden="true"></i>
						</div>
						<div class="col-lg-11 col-sm-10 col-md-10">
							<div class="form-group"   show-errors>
								<input type="text" name="districtName" id=""
									class="text-input floating-label" ng-model="district.districtName" required> <label for="code">District
									Name</label>
									<p class="help-block" ng-if="districtform.districtName.$error.required">Name is required</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			
				</form>
		</fieldset>
		<!-- <div class="row">
			<div class="col-md-8"></div>
			<div class="col-md-4">
				<div class="common-save-button">
					<input type="button"  value="Save"  
					class="btn btn-primary btn-save-box-shadow search-button-style" ng-hide="saveBtnFlag" ng-click="saveDistrict()" >
					<input type="button" value="Update"  
					class="btn btn-primary btn-save-box-shadow search-button-style" ng-hide="updateBtnFlag" ng-click="updateDistrict()" >
				</div>
				<div class="width-div-for-patient-reg ">
						<a href="" value="Save" ng-click="saveDistrict()"  
						class="btn btn-primary btn-save-box-shadow search-button-style text-width-auto" title="Save" ng-hide="saveBtnFlag"><i
							class="fa fa-floppy-o" style="font-size: 21px" aria-hidden="true"></i></a>
							
						<a href="" value="Update" ng-click="updateDistrict()"  
						class="btn btn-primary btn-save-box-shadow search-button-style text-width-auto" title="Update" ng-hide="updateBtnFlag"><i
							class="fa fa-refresh" style="font-size: 21px" aria-hidden="true"></i></a>
				</div>
			</div>
		</div> -->
		<modal visible="showModal"></modal> 
		
				
		<!-- <div class="row padding-left-right-10 margin-top8">
				<div class="col-lg-2 col-md-2">
					 style="top: -11px;"
					<div class="ssearch">
						<span class="fa fa-search icon-size search-icon-for-search"></span> <input placeholder="Search" ng-model="searchKeyword" class="search-popUp-ddl">
					</div>
				</div>
				<div class="col-lg-7  col-md-6"></div>
				<div class="col-lg-2 col-md-3" style="text-align: right; padding-right: 0px;">
					<div class="search">
						<label class="show-entries">Show 
						<select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0"
							ng-init="noOfRecordsPerPage='10'" ng-model="noOfRecordsPerPage"
							ng-change="setNoOfRecords();" class="search-popUp-ddl">
								<option value="10">10</option>
								<option value="25">25</option>
								<option value="50">50</option>
								<option value="100">100</option>
						</select> entries
						</label>
					</div>
				</div>
			</div> -->
			
			<div class="row padding-top10">
				<div class="col-md-6 col-sm-7 padding-left-right-set4">
					<div class="row">
						<div class="col-lg-3 col-md-6 col-sm-6" style="padding-left: 0px;">
									<div class="search">
										<label class="show-entries">Show 
										<select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0"
											ng-init="noOfRecordsPerPage='10'" ng-model="noOfRecordsPerPage"
											ng-change="setNoOfRecords();" class="search-popUp-ddl">
												<option value="10">10</option>
												<option value="25">25</option>
												<option value="50">50</option>
												<option value="100">100</option>
										</select> entries
										</label>
								</div>
						</div>
					</div>
				</div>
				<div class="col-lg-1 col-md-1 col-sm-2 padding-left-right-set4 float_right text-width-auto">
			        <a href="" class="btn btn-primary btn-save-box-shadow" title="Save" data-toggle="modal" ng-click="saveDistrict()" ng-hide="saveBtnFlag">
			        <i class="fa fa-floppy-o" style="font-size: 21px" aria-hidden="true"></i></a>
			      
			        <a href="" class="btn btn-primary btn-save-box-shadow" title="Update" data-toggle="modal" ng-click="updateDistrict()" ng-hide="updateBtnFlag">
			        <i class="fa fa-floppy-o" style="font-size: 21px" aria-hidden="true"></i></a>
			      </div>
			      <div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set0 float_right">
			        <input type="text" class="text-search-box ng-pristine ng-untouched ng-valid ng-empty search-popUp-ddl" placeholder="Search" style="margin-top:0px" ng-model="searchKeyword">
			        <i class="fa fa-search common-search-text-icon" aria-hidden="true"></i>
			      </div>
			</div>
			
		<div class="row padding-left-right-set4 margin-top8">
			<div class="col-md-12">
				<table class="table table-bordered">
					<thead>
					<tr class="">
						<th style="witdh: 80%">Country
							
						</th>
						<th style="witdh: 80%">State
							
						</th>
						<th>District Code
							
						</th>
						<th>District
							
						</th>
						<th class="width8">Status
							
						</th>
						<th class="width8 text-center">Action
						
						</th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="info in districtList|filter:searchKeyword">
						<td>{{info.countryName}}</td>
						<td>{{info.stateName}}</td>
						<td>{{info.districtCode}}</td>
						<td>{{info.districtName}}</td>
						<td>
							<label class="switch"> 
							<input type="checkbox" ng-model="info.status"  ng-true-value="'A'"  ng-false-value="'I'"  ng-change="updateStatus(info.districtId,info.status)">
							<div class="slider round"></div>
							</label>
						</td>
						<td class="text-center"><a><i class="fa fa-pencil" aria-hidden="true" ng-click="showUpdateBtn(info.districtId)"></i></a></td>
					</tr>
					</tbody>
				</table>
				
				
				<div class="row margin-bottom45 sss">
					<ul ng-if="pager.pages.length" class="pagination table-list"
						style="font-size: 14px;">
						<li ng-class="{disabled:pager.currentPage === 1}"><a
							ng-click="setPage(1,'true')">First</a></li>
						<li ng-class="{disabled:pager.currentPage === 1}"><a
							ng-click="setPage(pager.currentPage - 1,'true')">Previous</a></li>
						<li ng-repeat="page in pager.pages"
							ng-class="{active:pager.currentPage === page}"><a
							ng-click="setPage(page,'true')">{{page}}</a></li>
						<li ng-class="{disabled:pager.currentPage === pager.totalPages}">
							<a ng-click="setPage(pager.currentPage + 1,'true')">Next</a>
						</li>
						<li ng-class="{disabled:pager.currentPage === pager.totalPages}">
							<a ng-click="setPage(pager.totalPages,'true')">Last</a>
						</li>
					</ul>
				</div>
				
				
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function() {
		var documentHeight = $(window).height();
		var sideBarHeight = documentHeight - 55;
		$("#page-content-wrapper").css("height", sideBarHeight + "px");

		$(".selectedPageName").text("District Master");
		$(".sidebar-nav li").each(function() {
			$(this).find("a").parents("li").removeClass("active");
		});
		$('a[href$="districtMaster"]').parents("li").addClass("active");
	});
</script>

