<!-- Page Content -->
<div id="page-content-wrapper">
	<div class="container-fluid his-style">
		<fieldset>
			<!-- <legend class="heading-div">Reason Master</legend> -->
			<div class="row margin-top10">
				<form action="">
				<div
					class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 padding-top10">
					<div class="row input-container">
						<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon">
							<i class="fa fa-file-text-o" aria-hidden="true"></i>
						</div>
						<div class="col-lg-11 col-sm-11 col-md-11 ">
							<div class="">
                <input type="hidden" ng-model="reasonId" value="0" />
                <select name="code" class="text-input floating-label" ng-model="reasonMasterObj.reasonTypeId">
                  <option></option>
                  <option ng-repeat=" info in reasonTypeList" value="{{info.reasonTypeId}}">{{info.reasonTypeDesc}}</option>
                </select>
                <label for="code">Reason Type</label>
							</div>
						</div>
					</div>
				</div>
					<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 padding-top10">
						<div class="row input-container">
							<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon">
								<i class="fa fa-dot-circle-o" aria-hidden="true"></i>
							</div>
							<div class="col-lg-11 col-sm-11 col-md-11 ">
								<div class="">
                  <input type="text" name="code" id="" class="text-input floating-label" ng-model="reasonMasterObj.reasonCode">
                  <label for="code" class="LISDynamicLabelOne">Reason Code</label>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 padding-top10">
						<div class="row input-container">
							<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon">
								<i class="fa fa-sticky-note-o" aria-hidden="true"></i>
							</div>
							<div class="col-lg-11 col-sm-11 col-md-11 ">
								<div class="">
                  <input type="text" name="code" id="" class="text-input floating-label" ng-model="reasonMasterObj.reasonDescription">
                  <label for="code" class="LISDynamicLabelOne">Reason Description</label>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</fieldset>
		<div class="row margin-top10 padding-left-right-set1">
			<div class="col-lg-1 col-md-1 col-sm-2 padding-left-right-set4 float_right text-width-auto">
				<div class=" ">
              <a href="" class="btn btn-primary btn-save-box-shadow" title="Save"
						data-toggle="modal" ng-click="saveReasonMaster()"
						ng-if="saveBtnFlag"> <i class="fa fa-floppy-o"
						style="font-size: 21px" aria-hidden="true"></i></a> <a href=""
						class="btn btn-primary btn-save-box-shadow" title="Update"
						data-toggle="modal" ng-click="updateReasonMaster()"
						ng-if="updateBtnFlag"> <i class="fa fa-floppy-o"
						style="font-size: 21px" aria-hidden="true"></i></a>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set0 float_right">
				<input type="text" class="text-search-box" placeholder="Search" style="margin-top: 0px"> <i class="fa fa-search common-search-text-icon" aria-hidden="true"></i>
			</div>
		</div>
		<div class="row padding-left-right-set4 margin-top8">
		<div class="col-md-6 col-sm-7 padding-left-right-set4">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-sm-6" style="padding-left: 0px;">
						<div class="search">
						<label class="show-entries">Show 
						<select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0"
							ng-init="noOfRecordsPerPage='10'" ng-model="noOfRecordsPerPage"
							ng-change="setNoOfRecords();" class="search-popUp-ddl">
								<option value="10">10</option>
								<option value="25">25</option>
								<option value="50">50</option>
								<option value="100">100</option>
						</select> entries
						</label>
					</div>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<table class="table table-bordered">
					<tr class="">
						<th>
							Reason Type
							<div class="float_right">
								<div>
									<i class="fa fa-caret-up" aria-hidden="true"></i>
								</div>
								<div class="margin-top-8">
									<i class="fa fa-caret-down" aria-hidden="true"></i>
								</div>
							</div>
						</th>
						<th>
							Reason Code
							<div class="float_right">
								<div>
									<i class="fa fa-caret-up" aria-hidden="true"></i>
								</div>
								<div class="margin-top-8">
									<i class="fa fa-caret-down" aria-hidden="true"></i>
								</div>
							</div>
						</th>
						<th>
							Reason Description
							<div class="float_right">
								<div>
									<i class="fa fa-caret-up" aria-hidden="true"></i>
								</div>
								<div class="margin-top-8">
									<i class="fa fa-caret-down" aria-hidden="true"></i>
								</div>
							</div>
						</th>
						<th class="width8">
						Status
							<div class="float_right">
								<div>
									<i class="fa fa-caret-up" aria-hidden="true"></i>
								</div>
								<div class="margin-top-8">
									<i class="fa fa-caret-down" aria-hidden="true"></i>
								</div>
							</div>
						</th>
						<th class="text-center width8">
						Action
							<div class="float_right">
								<div>
									<i class="fa fa-caret-up" aria-hidden="true"></i>
								</div>
								<div class="margin-top-8">
									<i class="fa fa-caret-down" aria-hidden="true"></i>
								</div>
							</div>
						</th>
					</tr>
					<tr ng-repeat="info in reasonList">
            <td>
              {{ info.reasonTypeDesc }}
            </td>
            <td>
              {{ info.reasonCode }}
            </td>
            <td>
              {{ info.reasonDesc }}
            </td>
            <td>
              <label class="switch"> <input type="checkbox"
								ng-model="info.status" ng-true-value="'A'" ng-false-value="'I'"
								ng-change="updateStatus(info.reasonMasterId,info.status)">
                <div class="slider round"></div>
              </label>
            </td>
            <td class="padding-edit-button-table text-center">
              <a>
                <i class="fa fa-pencil" aria-hidden="true" title="Edit" ng-click="showUpdateBtn(info.reasonMasterId)"></i>
              </a>
            </td>
          </tr>
				</table>
				<div class="row margin-bottom45 sss">
					<ul ng-if="pager.pages.length" class="pagination table-list"
						style="font-size: 14px;">
						<li ng-class="{disabled:pager.currentPage === 1}"><a
							ng-click="setPage(1,'true')">First</a></li>
						<li ng-class="{disabled:pager.currentPage === 1}"><a
							ng-click="setPage(pager.currentPage - 1,'true')">Previous</a></li>
						<li ng-repeat="page in pager.pages"
							ng-class="{active:pager.currentPage === page}"><a
							ng-click="setPage(page,'true')">{{page}}</a></li>
						<li ng-class="{disabled:pager.currentPage === pager.totalPages}">
							<a ng-click="setPage(pager.currentPage + 1,'true')">Next</a>
						</li>
						<li ng-class="{disabled:pager.currentPage === pager.totalPages}">
							<a ng-click="setPage(pager.totalPages,'true')">Last</a>
						</li>
					</ul>
				</div>
	</div>
</div>
</div>
</div>
<modal visible="showModal"></modal> 
<script type="text/javascript">
$(document).ready(function() {
	var documentHeight= $(window).height();
    var sideBarHeight = documentHeight - 55;
 	$("#page-content-wrapper").css("height", sideBarHeight + "px" );
});	
	$(".selectedPageName").text("Reason Master");
	$(".sidebar-nav li").each(function() {
		$(this).find("a").parents("li").removeClass("active");
	});
	$('a[href$="reasonMaster"]').parents("li").addClass("active");
</script>