<!-- Page Content -->
		<div id="page-content-wrapper">
			<div class="container-fluid his-style">
					<fieldset>
						<legend class="heading-div">Sex Master</legend>
							<div class="row margin-top10">
									<form name="sexform" novalidate>
									<div class="col-lg-4 col-md-4 col-sm-4 padding-left-right-set4">
										<div class="row input-container">
											<div class="col-lg-1 col-sm-2 col-md-2 polymer-icon"> 
												<i class="fa fa-dot-circle-o" aria-hidden="true"></i>
											</div>
											<div class="col-lg-11 col-sm-10 col-md-10 ">
													<div class="form-group"   show-errors>
												<input type="hidden" ng-model="sex.sexId" >
													<input type="text" name="sexCode" id="" class="text-input floating-label" ng-model="sex.sexCode" required>
													<label for="code" class="">Code</label>
													<p class="help-block" ng-if="sexform.sexCode.$error.required">Code is required</p>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-4 padding-left-right-set4">
										<div class="row input-container">
											<div class="col-lg-1 col-sm-2 col-md-2 polymer-icon width4"> 
												<i class="fa fa-sticky-note" aria-hidden="true"></i>
											</div>
											<div class="col-lg-11 col-sm-10 col-md-10">
											<div class="form-group"   show-errors>
													<input type="text" name="sexName" id="" ng-model="sex.sexName" class="text-input floating-label" required>
													<label for= "description" class="">Sex Name</label>
													<p class="help-block" ng-if="sexform.sexName.$error.required">Name is required</p>
												</div>
											</div>
										</div>
									</div>
								</form>
							</div>
					</fieldset>
					<!-- <div class="row">
	            		<div class="col-md-8"></div>
						<div class="col-md-4">
								 <div class="common-save-button">
									<input type="button" value="Save"  class="btn btn-primary btn-save-box-shadow search-button-style
									" ng-hide="saveBtnFlag" ng-click="saveSex()" >
					                <input type="button" value="Update"  class="btn btn-primary btn-save-box-shadow search-button-style
					                " ng-hide="updateBtnFlag" ng-click="updateSex()" >
								</div> 
								
								<div class="width-div-for-patient-reg ">
									<a href="" value="Save" ng-click="saveSex()"  
									class="btn btn-primary btn-save-box-shadow search-button-style text-width-auto" title="Save" ng-hide="saveBtnFlag"><i
										class="fa fa-floppy-o" style="font-size: 21px" aria-hidden="true"></i></a>
										
									<a href="" value="Update" ng-click="updateSex()"  
									class="btn btn-primary btn-save-box-shadow search-button-style text-width-auto" title="Update" ng-hide="updateBtnFlag"><i
										class="fa fa-refresh" style="font-size: 21px" aria-hidden="true"></i></a>
								</div>
						</div>
					</div> -->
					<modal visible="showModal"></modal>
				<div class="row padding-left-right-10">
					<div class="col-md-12">
						<table class="table table-bordered" datatable="ng" dt-options="vm.dtOptions">
							<thead>
							<tr class="">
								<th class="">
								<!-- <label class="LISDynamicLabelOne" >{{LISDynamicLabel}}</label> -->
									Code
								
								</th>
								<th class="common-lable-color-set">
									<label class="LISDynamicLabel common-lable-color" >Name</label>
									
								</th>
							
								<th class="width8">
									Status
									
								</th>
								<th class="text-center width8">
									Action
								
								</th>
								</tr>
								</thead>
								<tbody>
								<tr ng-repeat="info in sexList">
									<td>{{info.genderCode}}</td>
									<td>{{info.genderName}}</td>
									<td>
							<label class="switch"> 
							<input type="checkbox" ng-model="info.status" ng-checked="checkVal(info.status)"  ng-true-value="'A'"  ng-false-value="'I'"  ng-change="updateStatus(info.genderId,info.status)">
							<div class="slider round"></div>
							</label>
						</td>
						<td class="text-center"><a><i class="fa fa-pencil" aria-hidden="true" ng-click="showUpdateBtn(info.genderId)"></i></a></td>
								</tr>
								</tbody>
							</table> 
						</div>
					</div>
			</div>
		</div>
	<!-- </div> -->
	<script>
	$(document).ready(function() {
	
	var documentHeight= $(window).height();
    var sideBarHeight = documentHeight - 55;
 	$("#page-content-wrapper").css("height", sideBarHeight + "px" );
	});
	
	$(".selectedPageName").text("Sex Master");
	$(".sidebar-nav li").each(function() {
		$(this).find("a").parents("li").removeClass("active");
	});
	$('a[href$="sexMaster"]').parents("li").addClass("active");
 	</script>