
<!-- Page Content -->
<div id="page-content-wrapper">
	<div class="container-fluid his-style">
		<!-- <div ng-include="'./views/common-patient-details.html'"></div> -->
		<fieldset style="border:1px solid red;">
			<legend class="heading-div">Unit Master</legend>
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 padding-top10">
					<div class="row input-container">
						<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon">
							<i class="fa fa-hospital-o " aria-hidden="true"></i>
						</div>
						<div class="col-lg-11 col-sm-11 col-md-11">
							<div class="">
								<input type="text" name="code" id=""
									class="text-input floating-label"> <label for="code">Unit
									Name</label>
							</div>
						</div>
					</div>
				</div>
				<div
					class="col-lg-6 col-md-6 col-sm-6 padding-left-right-set4 padding-top10">
					<div class="row input-container">
						<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon">
							<i class="fa fa-map-marker" aria-hidden="true"></i>
						</div>
						<div class="col-lg-11 col-sm-11 col-md-11" style="margin-left: -14px;">
							<div class="">
								<input type="text" name="code" id=""
									class="text-input floating-label"> <label for="code">Address</label>
							</div>
						</div>
					</div>
				</div>
				<div
					class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 padding-top10">
					<div class="row input-container">
						<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon">
							<i class="fa fa-flag" aria-hidden="true"></i>
						</div>
						<div class="col-lg-11 col-sm-11 col-md-11 ">
							<div class="">
								<select class="text-input floating-label" name="code">
									<option></option>
								</select> <label for="code">Choose Country</label>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div
					class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 padding-top10">
					<div class="row input-container padding-top10">
						<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon">
							<i class="fa fa-university" aria-hidden="true"></i>
						</div>
						<div class="col-lg-11 col-sm-11 col-md-11 ">
							<div class="">
								<select class="text-input floating-label" name="code">
									<option></option>
								</select> <label for="code">Choose State</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 padding-leftright15 padding-top10">
					<div
						class="col-lg-6 col-md-6 col-sm-6 padding-left-right-set4 padding-top10">
						<div class="row input-container">
							<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon">
								<i class="fa fa-building-o" aria-hidden="true"></i>
							</div>
							<div class="col-lg-11 col-sm-11 col-md-11 ">
								<div class="">
									<select class="text-input floating-label" name="code">
										<option></option>
									</select> <label for="code">Choose City</label>
								</div>
							</div>
						</div>
					</div>
					<div
						class="col-lg-6 col-md-6 col-sm-6 padding-left-right-set4 padding-top10">
						<div class="row input-container">
						<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon">
							<i class="fa fa-street-view" aria-hidden="true"></i>
						</div>
						<div class="col-lg-11 col-sm-11 col-md-11">
							<div class="">
								<input type="text" name="code" id=""
									class="text-input floating-label"> <label for="code">Area</label>
							</div>
						</div>
					</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 padding-top10">
					<div class="row input-container padding-top10">
							<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon">
								<i class="fa fa-arrows" aria-hidden="true"></i>
							</div>
							<div class="col-lg-11 col-sm-11 col-md-11 ">
								<div class="">
									<select class="text-input floating-label" name="code">
										<option></option>
									</select> <label for="code">Choose Pincode</label>
								</div>
							</div>
						</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 padding-top10">
					<div class="row input-container padding-top10">
							<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon">
								<i class="fa fa-sliders" aria-hidden="true"></i>
							</div>
							<div class="col-lg-11 col-sm-11 col-md-11 ">
								<div class="">
									<select class="text-input floating-label" name="code">
										<option></option>
									</select> <label for="code">Choose Zone</label>
								</div>
							</div>
						</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 padding-leftright15 padding-top10">
				<div class="col-lg-6 col-md-6 col-sm-6 padding-left-right-set4 padding-top10">
					<div class="row input-container">
						<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon">
							<i class="fa fa-envelope-o" aria-hidden="true"></i>
						</div>
						<div class="col-lg-11 col-sm-11 col-md-11">
							<div class="">
								<input type="text" name="code" id=""
									class="text-input floating-label"> <label for="code">Email</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 padding-left-right-set4 padding-top10">
					<div class="row input-container">
						<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon">
							<i class="fa fa-mobile" aria-hidden="true"></i>
						</div>
						<div class="col-lg-11 col-sm-11 col-md-11">
							<div class="">
								<input type="text" name="code" id=""
									class="text-input floating-label"> <label for="code">Contact No.</label>
							</div>
						</div>
					</div>
				</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 padding-top10">
					<div class="row input-container padding-top10">
						<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon">
							<i class="fa fa-sort-numeric-asc" aria-hidden="true"></i>
						</div>
						<div class="col-lg-11 col-sm-11 col-md-11">
							<div class="">
								<input type="text" name="code" id=""
									class="text-input floating-label"> <label for="code">Pharmacy license No.</label>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 padding-top10">
					<div class="row input-container padding-top10">
						<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon">
							<i class="fa fa-hospital-o" aria-hidden="true"></i>
						</div>
						<div class="col-lg-11 col-sm-11 col-md-11">
							<div class="">
								<input type="text" name="code" id=""
									class="text-input floating-label"> <label for="code">Clinic Registration No.</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 padding-leftright15 padding-top10">
				<div class="col-lg-6 col-md-6 col-sm-6 padding-left-right-set4 padding-top10">
					<div class="row input-container">
						<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon">
							<i class="fa fa-shopping-cart" aria-hidden="true"></i>
						</div>
						<div class="col-lg-11 col-sm-11 col-md-11">
							<div class="">
								<input type="text" name="code" id=""
									class="text-input floating-label"> <label for="code">Shop Establishment No.</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 padding-left-right-set4 padding-top10">
					<div class="row input-container">
						<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon">
							<i class="fa fa-mobile" aria-hidden="true"></i>
						</div>
						<div class="col-lg-11 col-sm-11 col-md-11">
							<div class="">
								<input type="text" name="code" id=""
									class="text-input floating-label"> <label for="code">Trade No.</label>
							</div>
						</div>
					</div>
				</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-3 padding-left10 padding-top10">
					<label class="checkbox-inline padding-top10"> <input type="checkbox"
						value="">Status
					</label>
				</div>
			</div>
		</fieldset>
		<div class="row">
			<div class="col-md-8"></div>
			<div class="col-md-3"></div>
			<div class="col-md-1 padding-left0px-right6px">
				<div class="common-save-button">
					<input type="button" value="Save"
						class="btn btn-primary btn-save-box-shadow" data-toggle="modal"
						data-target="#confirmLogout">
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function() {
		var documentHeight= $(window).height();
	    var sideBarHeight = documentHeight - 55;
	 	$("#page-content-wrapper").css("height", sideBarHeight + "px" );
		
		$(".selectedPageName").text("Unit Master");
		$(".sidebar-nav li").each(function() {
			$(this).find("a").parents("li").removeClass("active");
		});
		$('a[href$="unitMaster"]').parents("li").addClass("active");
	});
</script>
