

<div id="accessoriesDetailsModal" class="modal fade ng-scope in common-medium-popup" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<div class="modal-title patient-details-row">
					Accessories Details
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
			</div>
			<div class="modal-body">
			
				<!--  row start -->
				<div class="row">
					<div class="col-lg-12 col-md-12 padding-left-right-set4 common-table-height-250 margin-top4" id="">
						<table class="table table-bordered table-striped">
							<tr class="table-th-bg">
								<th class="width8">
									Accessories Code
									<div class="float_right">
										<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
										<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
									</div>
								</th>
								<th class="width8">
									Accessories Name
									<div class="float_right">
										<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
										<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
									</div>
								</th>
								<th class="width4">
									Qty
									<div class="float_right">
										<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
										<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
									</div>
								</th>
								<th class="width8">
									Serial No
									<div class="float_right">
										<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
										<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
									</div>
								</th>
								<th class="width8">
									Lot No
									<div class="float_right">
										<div><i class="fa fa-caret-up" aria-hidden="true"></i></div>
										<div class="margin-top-8"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
									</div>
								</th>
							</tr>
							<tr>
								<td>
									<div>-</div>
								</td>
								<td>
									<div>-</div>
								</td>
								<td>
									<div>-</div>
								</td>
								<td>
									<div>-</div>
								</td>
								<td>
									<div>-</div>
								</td>
							</tr>
						</table>
					</div>
				</div>
				
			</div>
		<!-- 	<div class="modal-footer" style="border:none;">
				<div class="pull-right">
					<button type="button" data-dismiss="modal" class="btn btn-primary" id="">Close</button>
				</div>
			</div> -->
		</div>
	</div>
</div>