<div id="assetNoPopup" class="modal fade ng-scope in common-small-popup" role="dialog" style="z-index:1300 !important;background: rgba(0, 0, 0, 0.33);">
		<div class="modal-dialog"> <!-- width: 25% !important;margin: 200px 0 0 510px !important; -->
			<div class="modal-content">
				<div class="modal-header">
					<div class="modal-title patient-details-row">
						Assets No.
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12 padding-left-right-set margin-top5">
							<table class="table table-bordered ">
									<tbody>
										<tr>
											
											<th class="width8">Asset No.
												<div class="float_right">
													<div>
														<i class="fa fa-caret-up" aria-hidden="true"></i>
													</div>
													<div class="margin-top-8">
														<i class="fa fa-caret-down" aria-hidden="true"></i>
													</div>
												</div>
											</th>
											<th class="width4">Quantity
												<div class="float_right">
													<div>
														<i class="fa fa-caret-up" aria-hidden="true"></i>
													</div>
													<div class="margin-top-8">
														<i class="fa fa-caret-down" aria-hidden="true"></i>
													</div>
												</div>
											</th>
										</tr>
										<tr>
											<td class="width8">AS5891</td>
											<td class="width4"><input type="text" class="w-100" value="1"></td>
										</tr>
										<tr>
											<td class="width8">AS5891</td>
											<td class="width4"><input type="text" class="w-100" value="1"></td>
										</tr>
										<tr>
											<td class="width8">AS5891</td>
											<td class="width4"><input type="text" class="w-100" value="1"></td>
										</tr>
										<tr>
											<td class="width8">AS5891</td>
											<td class="width4"><input type="text" class="w-100" value="1"></td>
										</tr>
										<tr>
											<td class="width8">AS5891</td>
											<td class="width4"><input type="text" class="w-100" value="1"></td>
										</tr>
									</tbody>
								</table>
						</div>
					</div>
				</div>
				<div class="modal-footer" style="border:none;">
					<button type="button" data-dismiss="modal" class="btn btn-primary" id="" >Save</button>
				</div>
			</div>
		</div>
	</div>