<div id="assignEmployeeListModal" class="modal fade ng-scope in common-medium-popup" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<div class="modal-title patient-details-row">
					Assign - Employee List
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
			</div>
			<div class="modal-body">
				<!--  row start -->
				<div class="row">
					<div class="col-lg-12 col-md-12 padding-left-right-set4 common-table-height-250 margin-top4" id="">
						<table class="table table-bordered table-striped">
							<tbody>
								<tr class="table-th-bg">
									<th class="width50">
										Employee 1
									</th>
									<td class="width50">
										Employee 11
									</td>
								</tr>
								<tr class="table-th-bg">
									<th class="width50">
										Employee 2
									</th>
									<td class="width50">
										Employee 12
									</td>
								</tr>
								<tr class="table-th-bg">
									<th class="width50">
										Employee 3
									</th>
									<td class="width50">
										Employee 13
									</td>
								</tr>
								<tr class="table-th-bg">
									<th class="width50">
										Employee 4
									</th>
									<td class="width50">
										Employee 14
									</td>
								</tr>
								<tr class="table-th-bg">
									<th class="width50">
										Employee 5
									</th>
									<td class="width50">
										Employee 15
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>