<!-- *****************  PAYMENT Mode POPUP  *****************-->

				<div class="row">
					<fieldset class="normalRegistration sub-fieldset padding-left-right-set4">
						<legend class="heading-div">Payment Mode</legend>
						<div class="row margin-top4">
							<div class="col-lg-10 col-md-10 col-sm-10 schedulerTabs">
								<ul class="tabs nav nav-tabs">
									<li ng-class="{ active : isSetFirstTabLevel(1) }">
										<a href ng-click="setFirstTabLevel(1);setPaymentModeId(1)">Cash</a>
									</li>
									<li ng-class="{ active : isSetFirstTabLevel(2) }">
										<a href ng-click="setFirstTabLevel(2);setPaymentModeId(2)">Cheque</a>
									</li>
									<li ng-class="{ active : isSetFirstTabLevel(3) }">
										<a href ng-click="setFirstTabLevel(3);setPaymentModeId(3)">Credit Card</a>
									</li>
									<li ng-class="{ active : isSetFirstTabLevel(4) }">
										<a href ng-click="setFirstTabLevel(4);setPaymentModeId(4)">Debit Card</a>
									</li>
								</ul>
							</div>
							<div class="col-lg-2 col-md-2 col-sm-2 float-right">
								<div class="width-div-for-patient-reg ">
									<a href="" style="width:40px" class="btn btn-primary btn-save-box-shadow" ng-click="addPaymentDetails()" title="Save" >+</a>	<!-- ng-click="addPaymentDetails()" -->
								</div>
							</div>
						</div>
						
						<div class="row">
							
							<!-- CONTENT FOR FIRST TAB start-->
							<div ng-show="isSetFirstTabLevel(1)">
								<div class="row">
									<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 padding-top10">
											<div class="row input-container">
												<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon ">
													<i class="fa fa-stop-circle-o" aria-hidden="true"></i>
												</div>
												<div class="col-lg-11 col-sm-11 col-md-11 ">
													<div class="">
														<input type="text" name="description" class="text-input floating-label" ng-decimal="200" ng-model="paymentDetails.cashAmount"><!--  ng-model="paymentDetailsObj.amount" -->
														 <label for="description" class="">Amount</label>
													</div>
												</div>
											</div>
									</div>
								</div>
							</div>
							<!-- CONTENT FOR FIRST TAB end-->
							
							<!-- CONTENT FOR 2nd TAB start-->
							<div ng-show="isSetFirstTabLevel(2)">
								<div class="row">
									<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 padding-top10">
										<div class="row input-container">
											<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon ">
												<i class="fa fa-stop-circle-o" aria-hidden="true"></i>
											</div>
											<div class="col-lg-11 col-sm-11 col-md-11 ">
												<div class="">
													<select class="text-input floating-label" ng-model="paymentDetails.bankId">
														 <option value={{bank.bankId}} ng-value="bank.bankId"  ng-repeat="bank in bankList">{{bank.bankName}}</option> 
													</select> <label for="code">Bank Name</label>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 padding-top10">
											<div class="row input-container">
												<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon ">
													<i class="fa fa-stop-circle-o" aria-hidden="true"></i>
												</div>
												<div class="col-lg-11 col-sm-11 col-md-11 ">
													<div class="">
														<input type="text" name="description" ng-model="paymentDetails.chequeNumber" class="text-input floating-label"><!-- ng-model="paymentDetailsObj.checkNumber" -->
														 <label for="description" class="">Cheque Number</label>
													</div>
												</div>
											</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 padding-top10">
											<div class="row input-container">
												<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon ">
													<i class="fa fa-stop-circle-o" aria-hidden="true"></i>
												</div>
												<div class="col-lg-11 col-sm-11 col-md-11 ">
													<div class="">
													<input type="text" class="text-input floating-label dirty" name="" id="" uib-datepicker-popup="dd/MM/yyyy" ui-mask="99/99/9999"
													placeholder="DD/MM/YYYY" ng-model="paymentDetails.chequeDate" model-view-value="true" is-open="datepicker.opened" datepicker-options="dateOptions" 
													show-button-bar="false"	ng-click="openDatePicker()" required>
														<label for="description" class="">Cheque Date</label>
													</div>
												</div>
											</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 padding-top10">
											<div class="row input-container">
												<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon ">
													<i class="fa fa-stop-circle-o" aria-hidden="true"></i>
												</div>
												<div class="col-lg-11 col-sm-11 col-md-11 ">
													<div class="">
														<input type="text" name="description" id="" ng-decimal="200" ng-model="paymentDetails.chequeAmount" class="text-input floating-label" ><!-- ng-model="paymentDetailsObj.amount" -->
														 <label for="description" class="">Amount</label>
													</div>
												</div>
											</div>
									</div>
								</div>
							</div>
							<!-- CONTENT FOR 2nd TAB end-->
							<!-- CONTENT FOR 3rd TAB start-->
							<div ng-show="isSetFirstTabLevel(3)">
								<div class="row">
									<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 padding-top10">
											<div class="row input-container">
												<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon ">
													<i class="fa fa-stop-circle-o" aria-hidden="true"></i>
												</div>
												<div class="col-lg-11 col-sm-11 col-md-11 ">
													<div class="">
														<input type="text" name="description" id="" ng-model="paymentDetails.credCardHolderName" class="text-input floating-label" > <!-- ng-model="paymentDetailsObj.cardHolderName" -->
														<label for="description" class="">Card Holder Name</label>
													</div>
												</div>
											</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 padding-top10">
											<div class="row input-container">
												<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon ">
													<i class="fa fa-stop-circle-o" aria-hidden="true"></i>
												</div>
												<div class="col-lg-11 col-sm-11 col-md-11 ">
													<div class="">
														<select class="text-input floating-label" ng-model="paymentDetails.credCardTypeId">
															 <option value="{{card.cardTypeId}}" ng-repeat="card in cardTypeList">{{card.cardTypeName}}</option> 
														</select> <label for="code">Card Type</label>
													</div>
												</div>
											</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 padding-top10">
											<div class="row input-container">
												<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon ">
													<i class="fa fa-stop-circle-o" aria-hidden="true"></i>
												</div>
												<div class="col-lg-11 col-sm-11 col-md-11 ">
													<div class="">
														<input type="text" name="description" id="" ng-decimal="200" ng-model="paymentDetails.credAmount" class="text-input floating-label" > <!-- ng-model="paymentDetailsObj.amount" -->
														<label for="description" class="">Amount</label>
													</div>
												</div>
											</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 padding-top10">
											<div class="row input-container">
												<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon ">
													<i class="fa fa-stop-circle-o" aria-hidden="true"></i>
												</div>
												<div class="col-lg-11 col-sm-11 col-md-11 ">
													<div class="">
														<input type="text" name="description" id="" ng-model="paymentDetails.credCardNumber" class="text-input floating-label" > <!-- ng-model="paymentDetailsObj.cardNo" -->
														<label for="description" class="">Card Number</label>
													</div>
												</div>
											</div>
									</div>
									
								</div>
								<div class="row">
									<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 padding-top10">
											<div class="row input-container">
												<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon ">
													<i class="fa fa-stop-circle-o" aria-hidden="true"></i>
												</div>
												<div class="col-lg-11 col-sm-11 col-md-11 ">
													<div class="">
													<input type="text" class="text-input floating-label dirty" name="" id="" uib-datepicker-popup="dd/MM/yyyy" ui-mask="99/99/9999"
													placeholder="DD/MM/YYYY" ng-model="paymentDetails.credExpiryDate" model-view-value="true" is-open="datepicker.opened" datepicker-options="dateOptions" 
													show-button-bar="false"	ng-click="openDatePicker()" required>
														<!-- <input type="text" name="description" id="" ng-model="paymentDetails.credExpiryDate" class="text-input floating-label"> --> <!-- ng-model="paymentDetailsObj.expiryDate" -->
														 <label for="description" class="">Expiry Date</label>
													</div>
												</div>
											</div>
									</div>
								</div>
							</div>
							<!-- CONTENT FOR 3rd TAB end-->
							<!-- CONTENT FOR 4th TAB start-->
							<div ng-show="isSetFirstTabLevel(4)">
								<div class="row">
									<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 padding-top10">
											<div class="row input-container">
												<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon ">
													<i class="fa fa-stop-circle-o" aria-hidden="true"></i>
												</div>
												<div class="col-lg-11 col-sm-11 col-md-11 ">
													<div class="">
														<input type="text" name="description" id="" ng-model="paymentDetails.debCardHolderName" class="text-input floating-label" ><!--  ng-model="paymentDetailsObj.cardHolderName" -->
														<label for="description" class="">Card Holder Name</label>
													</div>
												</div>
											</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 padding-top10">
											<div class="row input-container">
												<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon ">
													<i class="fa fa-stop-circle-o" aria-hidden="true"></i>
												</div>
												<div class="col-lg-11 col-sm-11 col-md-11 ">
													<div class="">
														<select class="text-input floating-label" ng-model="paymentDetails.debCardTypeId"><!-- ng-model="paymentDetailsObj.cardTypeId" -->
															 <option value="{{card.cardTypeId}}" ng-repeat="card in cardTypeList">{{card.cardTypeName}}</option>
														</select> <label for="code">Card Type</label>
													</div>
												</div>
											</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 padding-top10">
											<div class="row input-container">
												<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon ">
													<i class="fa fa-stop-circle-o" aria-hidden="true"></i>
												</div>
												<div class="col-lg-11 col-sm-11 col-md-11 ">
													<div class="">
														<input type="text" name="description" id="" ng-decimal="200" ng-model="paymentDetails.debAmount" class="text-input floating-label">
														 <label for="description" class="">Amount</label>
													</div>
												</div>
											</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 padding-top10">
											<div class="row input-container">
												<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon ">
													<i class="fa fa-stop-circle-o" aria-hidden="true"></i>
												</div>
												<div class="col-lg-11 col-sm-11 col-md-11 ">
													<div class="">
														<input type="text" name="description" id="" ng-model="paymentDetails.debCardNumber" class="text-input floating-label" > <!-- ng-model="paymentDetailsObj.cardNo" -->
														<label for="description" class="">Card Number</label>
													</div>
												</div>
											</div>
									</div>
									</div>
									<div class="row">
										<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4 padding-top10">
												<div class="row input-container">
													<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon ">
														<i class="fa fa-stop-circle-o" aria-hidden="true"></i>
													</div>
													<div class="col-lg-11 col-sm-11 col-md-11 ">
														<div class="">
														<input type="text" class="text-input floating-label dirty" name="" id="" uib-datepicker-popup="dd/MM/yyyy" ui-mask="99/99/9999"
													placeholder="DD/MM/YYYY" ng-model="paymentDetails.debExpiryDate" model-view-value="true" is-open="datepicker.opened" datepicker-options="dateOptions" 
													show-button-bar="false"	ng-click="openDatePicker()" required>
															<!-- <input type="text" name="description" id="" ng-model="paymentDetails.debExpiryDate" class="text-input floating-label" > --><!-- ng-model="paymentDetailsObj.expiryDate" --> 
															<label for="description" class="">Expiry Date</label>
														</div>
													</div>
												</div>
										</div>
									</div>
							</div>
							<!-- CONTENT FOR 4th TAB end-->
							<div class="row">
								<div class="col-md-12 col-lg-12 headerHeight fix-height-scroll230">
									<table class="table table-bordered  margin-top8">
										<tr>
											<th class="width15">
												<span class="">Payment Mode</span>
											</th>
											<th class="width15">
												 <span class="">Bank Name</span>
											</th>
											<th class="width15">
												Cheque No/Card No
											</th>
											<th class="width15">
												Total Amount
											</th>
											<th class="width5">
												Action
											</th>
										</tr>
										<tr ng-repeat="payment in listPaymentDetails">
											<td>{{payment.paymentModeId == 1 ? 'Cash' : payment.paymentModeId == 2 ? 'Cheque' :  payment.paymentModeId == 3 ? 'Credit Card' : payment.paymentModeId == 4 ? 'Debit Card' : '-'}}</td>
											<td>{{payment.paymentModeId == 2 && payment.bankName != '' ? payment.bankName : '-'}}</td>
											<td>{{(payment.paymentModeId == 2 && payment.chequeNumber != '') ? payment.chequeNumber : (payment.paymentModeId == 3 && payment.cardNo != '') ? payment.cardNo : (payment.paymentModeId == 4 && payment.cardNo != '') ? payment.cardNo : '-' }}</td>
											<td>{{payment.amount}}</td>
											<td>
												<i class="fa fa-times" aria-hidden="true" ng-click="removePaymentDetails($index)"></i>
											</td>
										</tr> 
									</table>
								</div>
							</div>
						</div>
					</fieldset>
					
				</div>
			
<!-- ***************** COLLECT PAYMENT POPUP  *****************-->