<div class="row">
	
	<div class="col-lg-3 col-md-4 col-sm-5 customRadioBtn text-width-auto">
		<div class=" border-set-type">
			<span>
				<label class="font-weight700">Media Type :</label>
			</span>													
			<span>
				<input id="WalkinRadioB" name="WalkinRadioB" type="radio" value="1" val="yes" checked="checked">
				<label for="WalkinRadioB" class="margin-top4">Walkin</label>
			</span>
			<span>
				<input id="TelephonicRadioB" name="WalkinRadioB" type="radio" value="2">
				<label for="TelephonicRadioB" class="margin-top4">Telephonic</label>
			</span>
		</div>
	</div>
</div>
<fieldset class="padding-top10">
	<legend class="heading-div">Patient Details</legend>
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 padding-left-right-set0">
				<div class="row input-container">
					<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon">
						<i class="fa fa-user" aria-hidden="true"></i>
					</div>
					<div class="col-lg-11 col-sm-11 col-md-11">
						<div class="">
							<input type="text" name="code" id="" class="text-input floating-label"> <label for="code">Patient Name</label>
						</div>
					</div>
				</div>	
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6">
				<div class="row input-container customRadioBtn">
					<label for="" class="font-weight700 margin-right10">Prefix* :</label>
					<input type="radio" name="ms-homeRadioB" id="ms-homeRadioB" class="" checked>
						<label for="ms-homeRadioB" class=" cursor-pointer">Ms</label>
					<input type="radio" name="ms-homeRadioB" id="mrs-homeRadioB" class="">
						<label for="mrs-homeRadioB" class=" cursor-pointer">Mrs</label>
					<input type="radio" name="ms-homeRadioB" id="other-homeRadioB" class="">
					<label for="other-homeRadioB" class="checkbox-margin-left-right cursor-pointer">Other</label>
				</div>
			</div>	
		</div>
		<div class="row padding-top10">
			<div class="col-lg-6 col-md-6 col-sm-6 padding-left-right-set0">
				<div class="row input-container">
					<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon">
						<i class="fa fa-mobile" aria-hidden="true"></i>
					</div>
					<div class="col-lg-11 col-sm-11 col-md-11">
						<div class="">
							<input type="text" name="code" id="" class="text-input floating-label"> <label for="code">Mobile Number</label>
						</div>
					</div>
				</div>	
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6">
				<div class="row input-container customRadioBtn">
					<label for="" class="font-weight700">Gender* :</label>
					<input type="radio" name="Male-HomeRadioB" id="Male-HomeRadioB" class="" checked>
						<label for="Male-HomeRadioB" class=" cursor-pointer">Male</label>
					<input type="radio" name="Male-HomeRadioB" id="female-HomeRadioB" class="">
						<label for="female-HomeRadioB" class=" cursor-pointer">Female</label>
					<input type="radio" name="Male-HomeRadioB" id="other-HomeRadioB" class="">
					<label for="other-HomeRadioB" class="checkbox-margin-left-right cursor-pointer">Other</label>
				</div>
			</div>	
		</div>
		<div class="row padding-top10">
			<div class="col-lg-6 col-md-6 col-sm-6">
				<div class="row input-container">
					<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon">
						<i class="fa fa-calendar" aria-hidden="true"></i>
					</div>
					<div class="col-lg-11 col-sm-11 col-md-11">
						<div class="">
							<input type="text" name="code" id="" class="text-input floating-label"> <label for="code">Birth Date</label>
						</div>
					</div>
				</div>	
			</div>
			<div class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set">
				<div class="row input-container">
					<div class="col-lg-1 col-sm-2 col-md-2 polymer-icon">
						<i class="fa fa-calendar" aria-hidden="true"></i>
					</div>
					<div class="col-lg-11 col-sm-10 col-md-10">
						<div class="">
							<input type="text" name="code" id="" class="text-input floating-label"> <label for="code">Year</label>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-2  padding-left-right-set">
				<div class="row input-container">
					<div class="col-lg-1 col-sm-2 col-md-2 polymer-icon">
						<i class="fa fa-calendar" aria-hidden="true"></i>
					</div>
					<div class="col-lg-11 col-sm-10 col-md-10">
						<div class="">
							<input type="text" name="code" id="" class="text-input floating-label"> <label for="code">Month</label>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set">
				<div class="row input-container">
					<div class="col-lg-1 col-sm-2 col-md-2 polymer-icon">
						<i class="fa fa-calendar" aria-hidden="true"></i>
					</div>
					<div class="col-lg-11 col-sm-10 col-md-10">
						<div class="">
							<input type="text" name="code" id="" class="text-input floating-label"> <label for="code">Day</label>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 padding-left-right-set">
				<div class="row input-container padding-top4">
					<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon">
						<i class="fa fa-smile-o" aria-hidden="true"></i>
					</div>
					<div class="col-lg-11 col-sm-11 col-md-11 ">
						<div class="customRadioBtn">
							<label for="" class="font-weight700">Visit Type* :</label>
							<input type="radio" name="Consultation-homeRadioB" id="Consultation-homeRadioB" class="">
								<label for="Consultation-homeRadioB" class=" cursor-pointer">Consultation</label>
							<input type="radio" name="Consultation-homeRadioB" id="followup-homeRadioB" class="">
								<label for="followup-homeRadioB" class="checkbox-margin-left-right cursor-pointer">Follow up</label>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-lg-6 col-md-6 col-sm-6">
				
			</div>	
		</div>
	</fieldset>
	<fieldset class="margin-top8">
	<legend class="heading-div">Doctor Details</legend>
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-6">
			<div class="row input-container">
				<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon">
					<i class="fa fa-user-md fa-color" aria-hidden="true"></i>
				</div>
				<div class="col-lg-11 col-sm-11 col-md-11">
					<div class="">
						<input type="text" name="code" id="" class="text-input floating-label" data-toggle="modal" data-target="#DoctorList"> <label
							for="code">Doctor Name</label>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row padding-top10">
		<div class="col-lg-6 col-md-6 col-sm-6">
			<div class="row input-container">
				<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon">
					<i class="fa fa-calendar" aria-hidden="true"></i>
				</div>
				<div class="col-lg-11 col-sm-11 col-md-11">
					<div class="">
						<input type="text" name="code" id="" class="text-input floating-label"> <label
							for="code">Appointment Date</label>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6">
			<div class="row input-container">
				<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon">
					<i class="fa fa-clock-o" aria-hidden="true"></i>
				</div>
				<div class="col-lg-11 col-sm-11 col-md-11">
					<div class="">
						<input type="text" name="code" id="" class="text-input floating-label"> <label
							for="code">Time</label>
					</div>
				</div>
			</div>
		</div>
	</div>
</fieldset>
	<div class="row padding-top8">
		<div class="col-lg-2 col-md-2 col-sm-3 padding-left-right-set4">
			<div class="tab-btn-primary">
				<a class="btn btn-primary btn-save-box-shadow" ui-sref=".self">Self</a>
			</div>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-3 padding-left-right-set4">
			<div class="tab-btn-primary">
				<a class="btn btn-primary  btn-save-box-shadow" ui-sref=".insurance">Insurance</a> <!-- ng-href="#/appointments/insurance" -->
			</div>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-3 padding-left-right-set4">
			<div class="tab-btn-primary">
				<a class="btn btn-primary  btn-save-box-shadow"
					ui-sref=".creditCompany">Credit Company</a>
			</div>
		</div>
	</div>
	<div class="row padding-top8">
		<div class="" ui-view>
			
		</div>
	</div>
<fieldset class="padding-top8">
	<legend class="heading-div padding-top8">Document Details</legend>
	<div class="row padding-left-right-set0">
		<div class="col-md-12 col-lg-12 col-sm-8 padding-left-right-set0"
			id="nonBillableTableHt">
			<fieldset>
				<!-- <legend class="heading-div">Table</legend> -->
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12">
						<table class="table">
							<!-- mainServiceTable -->
							<thead class="">
								<tr>
									<th class="width5">Document Date</th>
									<th class="width5">Type</th>
									<th class="width10">File</th>
									<th class="width10">Document Name</th>
									<th class="width3" style="text-align:right">Action</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<div class="form-group">
										<input type="text" class="w-100" name="" required="" placeholder="Document Date">
											<!-- ngIf: singleParamTestForm.minValue.$error.required --><p class="help-block ng-binding ng-scope" ng-if=""Required Min Val.></p><!-- end ngIf: singleParamTestForm.minValue.$error.required -->
										</div>
									</td>
									<td>
										<div class="form-group">
											<select class="border-dropdown" name="">
													<option value="">Choose</option>
															<option value="1">Pathology</option>
														
															<option value="2">Radiology</option>
														
															<option value="3">Procedure</option>
														
															<option value="4">Endoscopy</option>
														
															<option value="5">Microbiology</option>
														
															<option value="6">ECG</option>
														
															<option value="7">Precription</option>
															
													<!-- ngRepeat: noOfDays in getnoOfDayList -->
											</select>
										</div>
									</td>
									<td class="">
										<input type="file" id="" class="w-100" aria-required="true" aria-invalid="true">
									</td>
									<td>
										<div class="form-group has-error">
										<input type="text" class="w-100" name="" required="" placeholder="Document Name">
											<!-- ngIf: singleParamTestForm.minValue.$error.required --><p class="help-block ng-binding ng-scope"></p><!-- end ngIf: singleParamTestForm.minValue.$error.required -->
										</div>
									</td>
									<td style="text-align:right">
										<input type="button" name="" id="" value="+" class="btn btn-info add-dynamic-row" style="width:36px">
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</fieldset>
		</div>
	</div>
</fieldset>
