<fieldset class="">
<div class="row padding-top8">
	<table class="table table-striped">
		<thead>
			<tr role="row">
				<th colspan="8" class="heading-bold" rowspan="1">Debit Note &amp; Bills</th>
			</tr>
			<tr role="row">
				<th class="width1"></th>
				<th class="width6">Company</th>
				<th class="width6">Tariff</th> 
				<th class="width8">Associated Company</th>
				<th class="width5">Plan</th>
				<th class="width6">Insurance No.</th>
				<th class="width6">Start Date</th>
				<th class="width3">End Date</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><input type="radio" class="cursor-pointer"></td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="row">
	<div class="col-lg-4 col-md-4 col-sm-4">
		<div class="row input-container">
			<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon">
				<i class="fa fa-building-o" aria-hidden="true"></i>
			</div>
			<div class="col-lg-11 col-sm-11 col-md-11">
				<div class="">
					<select class="text-input floating-label">
						<option value=""></option>
						<option value="Store 1"></option>
					</select>
					<label for="code">Company Name*</label>
				</div>
			</div>
		</div>	
	</div>
	<div class="col-lg-4 col-md-4 col-sm-4">
		<div class="row input-container">
			<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon">
				<img src="resources/assets/images/icon/tariff.png" class="width16" alt="">
			</div>
			<div class="col-lg-11 col-sm-11 col-md-11">
				<div class="">
					<select class="text-input floating-label">
						<option value=""></option>
						<option value="Store 1"></option>
					</select>
					<label for="code">Tariff*</label>
				</div>
			</div>
		</div>	
	</div>
	<div class="col-lg-4 col-md-4 col-sm-4 padding-top8">
		<div>
			<div style="text-align:right; padding-right:15px;">
				<input type="button" name="" id="" value="+" class="btn btn-info" style="width:36px">
			</div>
		</div>
	</div>
</div>
<div class="row padding-top8">
	<div class="col-lg-4 col-md-4 col-sm-4">
		<div class="row input-container">
			<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon">
				<i class="fa fa-building" aria-hidden="true"></i>
			</div>
			<div class="col-lg-11 col-sm-11 col-md-11">
				<div class="">
					<select class="text-input floating-label">
						<option value=""></option>
						<option value="Store 1"></option>
					</select>
					<label for="code">Associate Company Name</label>
				</div>
			</div>
		</div>	
	</div>
	<div class="col-lg-4 col-md-4 col-sm-4">
		<div class="row input-container">
			<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon">
				<img src="resources/assets/images/icon/plan.png" class="width16" alt="">
			</div>
			<div class="col-lg-11 col-sm-11 col-md-11">
				<div class="">
					<select class="text-input floating-label">
						<option value=""></option>
						<option value="Store 1"></option>
					</select>
					<label for="code">Plan</label>
				</div>
			</div>
		</div>	
	</div>
	<div class="col-lg-4 col-md-4 col-sm-4"></div>
</div>
<!-- <div class="row padding-top8">
	<div class="col-lg-4 col-md-4 col-sm-4">
			<div class="row input-container">
				<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon">
					<i class="fa fa-user" aria-hidden="true"></i>
				</div>
				<div class="col-lg-11 col-sm-11 col-md-11">
					<div class="">
						<input type="text" name="code" id="" class="text-input floating-label"> <label for="code">Insurance Number</label>
					</div>
				</div>
			</div>	
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4">
			<div class="row input-container">
				<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon">
					<i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
				</div>
				<div class="col-lg-11 col-sm-11 col-md-11">
					<div class="">
						<input type="text" name="code" id="" class="text-input floating-label"> <label for="code">Start Date</label>
					</div>
				</div>
			</div>	
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4">
			<div class="row input-container">
				<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon">
					<i class="fa fa-calendar-minus-o" aria-hidden="true"></i>
				</div>
				<div class="col-lg-11 col-sm-11 col-md-11">
					<div class="">
						<input type="text" name="code" id="" class="text-input floating-label"> <label for="code">End Date</label>
					</div>
				</div>
			</div>	
		</div>
</div> -->
<div class="row padding-top10">
	<table class="table table-border table-striped" id="mst_dt_default">
		<tbody>
			<tr>
				<th>Policy Documents</th>
				<th style="text-align:right; padding-right:20px;">Action</th>
			</tr>
			<tr>
				<td>
					<div class="uk-input-group">
						<span class="uk-input-group-addon" style=" padding-left: 23px;"> <i class="fa fa-camera" aria-hidden="true"></i>
						</span> <input type="file" class="md-input" name="" id="">
					</div>
				</td>
				<td style="text-align:right; padding-right:15px;">
					<input type="button" name="" id="" value="+" class="btn btn-info add-dynamic-row" style="width:36px">
				</td>
			</tr>
		</tbody>
	</table>
</div>
</fieldset>