<!-- /********************************************************************************************************************************************
Procurement - quotation - technical specification main page - comparison terms modal (Sub module)
Created by - Pranita Patil
Created Date - 10-Oct-2017 
Modified Date - 16-Nov-2017
/********************************************************************************************************************************************/ -->
<!-- Modal Content Start -->
<div id="comparisonModalTechnicalSpecification" class="modal fade ng-scope in common-large-popup" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<div class="modal-title patient-details-row">
					Comparison Details
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
			</div>
			<div class="modal-body">
				<!-- *********  Technical Specification row content start ********* -->
				<div class="row" id="">
					<div class="row">
						<fieldset class=" div-fieldset ">
							<legend class="heading-div">
								<span>Expected Technical Specification</span>
							</legend>
							<div class="row "><!-- common-table-height-130 -->
								<div class="col-md-12">
									<textarea class="resize-set" rows="4" cols="50" readonly>This HPD Hardware Limited Warranty gives you, the customer, express limited warranty rights from HPD, the manufacturer, for the duration specified on the product description page and/or the HPD Limited Warranty Statement provided with your product. HPD may offer 90 days of Complimentary Limited Technical Support by phone without a fee. Thereafter, there may be an additional service fee for HPD phone support while other support methods including chat, HPD Support , or by contacting your HPD reseller or HPD authorized service provider are available without charge during the whole duration of this HPD Limited Warranty. Please see the product description page for applicable products and/or the HPD Limited Warranty Statement provided with your product.
									</textarea>
								</div>
							</div>
						</fieldset>
					</div>
					<div class="row ">
						<fieldset class=" div-fieldset ">
							<legend class="heading-div">
								<span>Vendor Technical Specification</span>
							</legend>
							<div class="row "><!-- common-table-height-130 -->
								<div class="col-lg-12 col-md-12 col-sm-12 padding-left-right-set4 padding-top10">
									<table class="table table-bordered">
										<tbody>
											<tr>
												<th class="width10">
													<div class="col-md-12">Vendor 1</div>
													<div class="col-md-12">
														<label class="radio-inline">
															<input type="radio" name="optradio3" class="radioAcceptedHold3">Accept
														</label> 
														<label class="radio-inline">
															<input type="radio" name="optradio3" class="radioRejected3">Reject
														</label>
													</div>
												</th>
												<td class="width90">
													<div class="col-md-12">
														<textarea class="resize-set" rows="4" cols="50" readonly>This HPD Hardware Limited Warranty gives you, the customer, express limited warranty rights from HPD, the manufacturer, for the duration specified on the product description page and/or the HPD Limited Warranty Statement provided with your product. HPD may offer 90 days of Complimentary Limited Technical Support by phone without a fee. Thereafter, there may be an additional service fee for HPD phone support while other support methods including chat, HPD Support , or by contacting your HPD reseller or HPD authorized service provider are available without charge during the whole duration of this HPD Limited Warranty. Please see the product description page for applicable products and/or the HPD Limited Warranty Statement provided with your product.
														</textarea>
													</div>
												</td>
											</tr>	
											<tr>
												<th class="width10">
													<div class="col-md-12">Vendor 2</div>
													<div class="col-md-12">
														<label class="radio-inline">
															<input type="radio" name="optradio3" class="radioAcceptedHold3">Accept
														</label> 
														<label class="radio-inline">
															<input type="radio" name="optradio3" class="radioRejected3">Reject
														</label>
													</div>
												</th>
												<td class="width90">
													<div class="col-md-12">
														<textarea class="resize-set" rows="4" cols="50" readonly>This HPD Hardware Limited Warranty gives you, the customer, express limited warranty rights from HPD, the manufacturer, for the duration specified on the product description page and/or the HPD Limited Warranty Statement provided with your product. HPD may offer 90 days of Complimentary Limited Technical Support by phone without a fee. Thereafter, there may be an additional service fee for HPD phone support while other support methods including chat, HPD Support , or by contacting your HPD reseller or HPD authorized service provider are available without charge during the whole duration of this HPD Limited Warranty. Please see the product description page for applicable products and/or the HPD Limited Warranty Statement provided with your product.
														</textarea>
													</div>
												</td>
											</tr>									
										</tbody>
									</table>
								</div>
							</div>
						</fieldset>
					</div>				
				</div>
				<!-- ********* Technical Specification row content end ********* -->
			</div>
			<div class="modal-footer">
				<div class="row his-style">
					<div class="col-md-11 col-sm-10"></div>
					<div class="col-md-1 col-sm-2 padding-left0px-right6px">
						<div class="common-save-button">
							<input type="button" value="Save" class="btn btn-primary btn-save-box-shadow" data-dismiss="modal">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Modal Content End -->
<script type="text/javascript">
	$(document).ready(function() {
	
	});
	$( ".r1" ).change(function() {
		if ($(this).is(":checked"))
		{
			$(this).closest(".row").siblings(".rejection-details-row2").show();
		}
	});
	$( ".r2" ).change(function() {
		if ($(this).is(":checked"))
		{
			$(this).closest(".row").siblings(".rejection-details-row2").hide();
		}
	});
</script>