<div class="row margin-top10 padding-left-right-set4" id="consumbleRowId"> <!-- style="height:450px; overflow-y:auto;" -->
				<!-- table one start -->
				
				<!-- table one end -->
				<!-- table two start -->
				<div class="" style="overflow: auto;"><!-- col-lg-12 col-md-12 col-sm-12 -->
					<table class="table table-bordered" style="max-width: 360%;min-width:360%">
						<thead>							
							<tr class="table-th-bg ">
				            	<th colspan="2" class="font-weight700">Item Details</th>
								<th colspan="3" class="font-weight700">PO Qty Details</th>
								<th colspan="3" class="font-weight700">Bonus Qty Details</th>
								<th colspan="8" class="font-weight700">PO Amount Details</th>
								<th colspan="5" class="font-weight700">PO Amount Total Details</th>
								<th colspan="8" class="font-weight700">Other Details</th>
				            </tr>
							<tr>
								<th class="width3">Code
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th>
								<th class="width3">Name
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th>
								<th class="width3"> Qty
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th>
								<th class="width2">  UOM
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th>
								<th class="width2">  UOM Unit
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th>
								<th class="width1"> Qty
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th>
								<th class="width2">  UOM
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th>
								<th class="width2">  UOM Unit
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th>
								<th class="width2">COP
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th>
								<th class="width2">MRP
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th>
								<th class="width2">Disc % 
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th>
								<th class="width3">Disc Amt 
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th>
								<th class="width3">Tax Code
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th>
								<th class="width2">Tax %
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th>
								<th class="width2">Tax Amt
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th>
								<th class="width3">Other Charges
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th>
								<th class="width3"> Amount 
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th>
								<th class="width3"> Discount 
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th>
								<th class="width2"> Tax Amt
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th>
								<th class="width2"> Other Charges
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th>
								<th class="width3">Net Amt
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th>
								<th class="width3 vertical-middle">PR No.</th>
								<th class="width3 vertical-middle ">Manufacture</th>
								<th class="width5 vertical-middle">Specification</th>
								<th class="width5 vertical-middle">Remark</th>
								<th class="width1 vertical-middle text-center">Upload</th>
								<th class="width1 vertical-middle"></th>
							</tr>
						</thead>
						<tbody><!-- class="td-height-set40" -->
							<tr>
								<td class="">item code 1 </td>
								<td class="">item name 1 </td>
								<td class="vertical-middle">
									<div class="col-md-8 padding-left-right-set4">
										<input type="number" class="select-box" value="1">
									</div>
									<div class="col-md-1 text-left vertical-middle padding-top5"> 
										<a data-target="#AddQtyModal_ETOitemConfig" data-toggle="modal" title="Add Qty"><i class="fa fa-plus-circle"></i></a>
									</div>
								</td>
								<td>
									<select class="select-box">
										<option value="">Select</option>
									</select>
								</td>
								<td class=" vertical-middle">
									<span class="">Box</span>
									<span class="pull-right text-right"> 
										<a data-target="#selectUOM_modal" data-toggle="modal"><i class="fa fa-info-circle"></i></a>
									</span>
								</td>
								<td>
									<input type="text" class="select-box">
								</td>
								<td>
									<select class="select-box">
										<option value="">Select</option>
									</select>
								</td>
								<td class=" vertical-middle">
									<span class="">Box</span>
									<span class="pull-right text-right"> 
										<a data-target="#bouns_selectUOM_modal" data-toggle="modal"><i class="fa fa-info-circle"></i></a>
									</span>
								</td>
								<td>
									<input type="text" class="select-box">
								</td>
								<td>
									<input type="text" class="select-box">
								</td>
								<td>
									<input type="text" class="select-box">
								</td>
								<td>
									<input type="text" class="select-box">
								</td>
								<td>-</td>
								<td>-</td>
								<td>-</td>
								<!-- <td  >
									<div class="col-md-8 padding-left-right-set4">
										<input type="text" class="select-box" value="1">
									</div>
									<div class="col-md-4"> 
										<input type="button" value="+" title="Add Qty" class="btn btn-primary btn-save-box-shadow details-btn addQtyBtnClick" style="width:auto;" data-target="#otherCharges_Modal" data-toggle="modal">
									</div>
								</td> -->
								<td class="vertical-middle">
									<div class="col-md-8 padding-left-right-set4">
										<input type="number" class="select-box" value="1">
									</div>
									<div class="col-md-1 text-left vertical-middle padding-top5"> 
										<a data-target="#otherCharges_Modal" data-toggle="modal" title="Add Qty"><i class="fa fa-plus-circle"></i></a>
									</div>
								</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td>
									<input type="text" class="select-box">
								</td>
								<td>
									<input type="text" class="select-box">
								</td>
								<td class="vertical-middle text-center"><a><i class="fa fa-upload" title="Upload"></i></a></td>
								<td class="vertical-middle text-center">
									<div class="">
										<a><i class="fa fa-info-circle" aria-hidden="true" title="Last Purchase Details" data-toggle="modal" data-target="#lastPurchaseDetails"></i></a>
									</div>
								</td>
							</tr>
							
						</tbody>
				</table>
			</div>
			<!-- table two end -->
		</div>