<div class="row margin-top10 padding-left-right-set4" id="fixeAssetRowId">
			<!-- Assets Table Start -->
			<div id="AssetsRowIdtable-scroll" class="table-scroll">
				<div class="table-wrap" style="overflow: auto;"><!-- col-lg-12 col-md-12 col-sm-12 -->
					<table class="table table-bordered main-table" style="max-width: 300%;min-width:300%">
						<thead>							
							<tr class="table-th-bg ">
				            	<th colspan="2" class="fixed-side" scope="col">Item Details</th>
								<th colspan="3" class="font-weight700" scope="col">PO Qty Details</th>
								<th colspan="3" class="font-weight700" scope="col">Bonus Qty Details</th>
								<th colspan="8" class="font-weight700" scope="col">PO Amount Details</th>
								<th colspan="5" class="font-weight700" scope="col">PO Amount Total Details</th>
				            </tr>
							<tr>
								<th class="fixed-side width2" scope="col">Asset Code
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th>
								<th  class="fixed-side width2" scope="col">Asset Name
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th>
								<th   class="width3"> Qty
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th>
								<th   class="width2">  COP
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th>
								<th   class="width2">  Discount %
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th>
								<th   class="width1"> Discount Amount
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th>
								<th   class="width2">  Tax Code
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th>
								<th class="width2">  Tax %
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th>
								<th class="width2">Tax Amount
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th>
								<th class="width2">Other Charges
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th>
								<th class="width2">Amount 
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th>
								<th class="width2">Discount 
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th>
								<th class="width2">Tax Amount
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th>
								<th  class="width2">Other Charges %
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th>
								<th class="width2">Net Amt
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th>
								<th class="width3">PR No.
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th>
								<th class="width3"> Manufacturer 
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th>
								<th class="width3"> Specification 
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th>
								<th  class="width3"> Remark
									<div class="float_right">
										<div>
											<i class="fa fa-caret-up" aria-hidden="true"></i>
										</div>
										<div class="margin-top-8">
											<i class="fa fa-caret-down" aria-hidden="true"></i>
										</div>
									</div>
								</th>
								<th class="width1 vertical-middle text-center"> Upload
								</th>
								<th class="width1 vertical-middle text-center"></th>
							</tr>
						</thead>
						<tbody><!-- class="td-height-set40" -->
							<tr>
								<td  class="fixed-side">item code 1 </td>
								<td  class="fixed-side">item name 1 </td>
								<td  class="vertical-middle">
									<div class="col-md-8 padding-left-right-set4">
										<input type="number" class="select-box" value="1">
									</div>
									<div class="col-md-1 text-left vertical-middle padding-top5"> 
										<a data-target="#AddQtyModal_ETOitemConfig" data-toggle="modal" title="Add Qty"><i class="fa fa-plus-circle"></i></a>
									</div>
								</td>
								<td>
									<select class="select-box">
										<option value="">Select</option>
									</select>
								</td>
								<td   class=" vertical-middle">
									<span class="">Box</span>
									<span class="pull-right text-right"> 
										<a data-target="#selectUOM_modal" data-toggle="modal"><i class="fa fa-info-circle"></i></a>
									</span>
								</td>
								<td  >
									<input type="text" class="select-box"/>
								</td>
								<td>
									<select class="select-box">
										<option value="">Select</option>
									</select>
								</td>
								<td class=" vertical-middle">
									<span class="">Box</span>
									<span class="pull-right text-right"> 
										<a data-target="#bouns_selectUOM_modal" data-toggle="modal"><i class="fa fa-info-circle"></i></a>
									</span>
								</td>
								<td  >
									<input type="text" class="select-box"/>
								</td>
								<td  >
									<input type="text" class="select-box"/>
								</td>
								<td  >
									<input type="text" class="select-box"/>
								</td>
								<td  >
									<input type="text" class="select-box"/>
								</td>
								<td>-</td>
								<td>-</td>
								<td>-</td>
								<!-- <td  >
									<div class="col-md-8 padding-left-right-set4">
										<input type="text" class="select-box" value="1">
									</div>
									<div class="col-md-4"> 
										<input type="button" value="+" title="Add Qty" class="btn btn-primary btn-save-box-shadow details-btn addQtyBtnClick" style="width:auto;" data-target="#otherCharges_Modal" data-toggle="modal">
									</div>
								</td> -->
								<td  class="vertical-middle">
									<div class="col-md-8 padding-left-right-set4">
										<input type="number" class="select-box" value="1">
									</div>
									<div class="col-md-1 text-left vertical-middle padding-top5"> 
										<a data-target="#otherCharges_Modal" data-toggle="modal" title="Add Qty"><i class="fa fa-plus-circle"></i></a>
									</div>
								</td>
								<td></td>
								<td>
									<input type="text" class="select-box"/>
								</td>
								<td  >
									<input type="text" class="select-box"/>
								</td>
								<td  class="vertical-middle text-center"><a><i class="fa fa-upload" title="Upload"></i></a></td>
								<td class="vertical-middle text-center">
									<div class="">
										<a><i class="fa fa-info-circle" aria-hidden="true" title="Last Purchase Details" data-toggle="modal" data-target="#lastPurchaseDetails"></i></a>
									</div>
								</td>
							</tr>
							
						</tbody>
				</table>
			</div>
			</div>
			<!-- Asset Table End -->
		</div>