<!-- *****************************Expected Support Terms Fill in ***************************** -->
<fieldset>
	<legend class="heading-div">Expected Support Terms</legend>
	<div class="row margin-top4">
		<div class="col-lg-12 col-md-12 ">
			<textarea  rows="10">
				Support Vector Machines are based on the concept of decision planes that define decision boundaries. A decision plane is one that separates between a set of objects having different class memberships. A schematic example is shown in the illustration below. In this example, the objects belong either to class GREEN or RED. The separating line defines a boundary on the right side of which all objects are GREEN and to the left of which all objects are RED. Any new object (white circle) falling to the right is labeled, i.e., classified, as GREEN (or classified as RED should it fall to the left of the separating line).
				This HPD Hardware Limited Warranty gives you, the customer, express limited warranty rights from HPD, the manufacturer, for the duration specified on the product description page and/or the HPD Limited Warranty Statement provided with your product. HPD may offer 90 days of Complimentary Limited Technical Support by phone without a fee. Thereafter, there may be an additional service fee for HPD phone support while other support methods including chat, HPD Support , or by contacting your HPD reseller or HPD authorized service provider are available without charge during the whole duration of this HPD Limited Warranty. Please see the product description page for applicable products and/or the HPD Limited Warranty Statement provided with your product.
			</textarea>
		</div>
	</div>
</fieldset>
<fieldset>
	<legend class="heading-div">Vendor Expected Support Terms</legend>
	<div class="row margin-top4">
		<div class="col-lg-12 col-md-12 ">
			<textarea  rows="10">Define decision boundaries. A decision plane is one that separates between a set of objects having different class memberships. A schematic example is shown in the illustration below. In this example, the objects belong either to class GREEN or RED. The separating line defines a boundary on the right side of which all objects are GREEN and to the left of which all objects are RED. Any new object (white circle) falling to the right is labeled, i.e., classified, as GREEN (or classified as RED should it fall to the left of the separating line).
				This HPD Hardware Limited Warranty gives you, the customer, express limited warranty rights from HPD, the manufacturer, for the duration specified on the product description page and/or the HPD Limited Warranty Statement provided with your product. HPD may offer 90 days of Complimentary Limited Technical Support by phone without a fee. Thereafter, there may be an additional service fee for HPD phone support while other support methods including chat, HPD Support , or by contacting your HPD reseller or HPD authorized service provider are available without charge during the whole duration of this HPD Limited Warranty. Please see the product description page for applicable products and/or the HPD Limited Warranty Statement provided with your product.
			</textarea>
		</div>
	</div>
</fieldset>		
<script type="text/javascript">

</script>
