<!-- /********************************************************************************************************************************************
   Procurement - quotation - quotation Enquiry main page
   Created by - Pranita Patil
   Created Date - 05-Oct-2017 
   /********************************************************************************************************************************************/ -->
<!-- Page Content -->
<div id="page-content-wrapper">
   <div class="container-fluid his-style">
      <fieldset class="main-fieldset">
         <!-- <legend class="heading-div">Quotation Enquiry</legend> -->
         <div class="row margin-top10">
            <div class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4 padding-top10">
               <div class="row input-container">
                  <div class="col-lg-1 col-sm-1 col-md-1 polymer-icon">
                     <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
                  </div>
                  <div class="col-lg-11 col-sm-11 col-md-11">
                     <div>
                        <input type="text" class="text-input floating-label dirty" name="fromDate" id="fromDate" uib-datepicker-popup="dd/MM/yyyy" placeholder="DD/MM/YYYY" ng-model="vm.model.fromDate" model-view-value="true" is-open="vm.model.fromDateOpened" datepicker-options="vm.model.fromDateOptions" show-button-bar="false" ng-click="vm.model.OpenFromDate()">
                        <label for="code">From Date</label>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4 padding-top10">
               <div class="row input-container">
                  <div class="col-lg-1 col-sm-1 col-md-1 polymer-icon ">
                     <i class="fa fa-calendar-minus-o" aria-hidden="true"></i>
                  </div>
                  <div class="col-lg-11 col-sm-11 col-md-11 ">
                     <div>
                        <input type="text" class="text-input floating-label dirty" name="toDate" id="toDate" uib-datepicker-popup="dd/MM/yyyy" placeholder="DD/MM/YYYY" ng-model="vm.model.toDate" model-view-value="true" is-open="vm.model.toDateOpened" datepicker-options="vm.model.toDateOptions" show-button-bar="false" ng-click="vm.model.OpenToDate()">
                        <label for="description" class="LISDynamicLabel">To Date</label>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4 padding-top10">
               <div class="row input-container">
                  <div class="col-lg-1 col-sm-1 col-md-1 polymer-icon ">
                     <i class="fa fa-building-o" aria-hidden="true"></i>
                  </div>
                  <div class="col-lg-11 col-sm-11 col-md-11 ">
                     <div>
                        <select name="store" id="store" class="text-input floating-label dirty" ng-model="vm.model.store" data-ng-options="store.store for store in vm.model.storeList">
                        </select>
                        <label for="store" class="LISDynamicLabel">Store</label>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4 padding-top10">
               <div class="row input-container">
                  <div class="col-lg-1 col-sm-1 col-md-1 polymer-icon ">
                     <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                  </div>
                  <div class="col-lg-11 col-sm-11 col-md-11 ">
                     <div>
                        <select name="status" id="status" class="text-input floating-label dirty" ng-model="vm.model.status" data-ng-options="status.status for status in vm.model.statuses">
                        </select>
                        <label for="status" class="LISDynamicLabel">Status</label>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4 padding-top10">
               <div class="row input-container">
                  <div class="col-lg-1 col-sm-1 col-md-1 polymer-icon">
                     <i class="fa fa-search" aria-hidden="true"></i>
                  </div>
                  <div class="col-lg-11 col-sm-11 col-md-11">
                     <div>
                        <input type="text" name="search" ng-model="search" class="text-input floating-label">
                        <label for="search">Search</label>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4" style="padding-top: 6px !important">
               <div class="row input-container">
                  <div class="col-lg-3 col-sm-3 col-md-3 text-center">
                     <div class="common-save-button"> 
                        <a href="" ng-click="vm.model.GetQuotations()" class="btn btn-primary btn-save-box-shadow" style="width: auto;"> 
                        <i class="fa fa-search" aria-hidden="true"></i> 
                        </a> 
                     </div>
                  </div>
                  <div class="col-lg-6 col-sm-6 col-md-6">
                     <div class="common-save-button">
                        <a href="" ng-click="vm.model.NavigateToAddNew()" style="width: auto">
                        <input type="button" value="Add New" class="btn btn-primary btn-save-box-shadow">
                        </a>
                     </div>
                  </div>
                  <div class="col-lg-3 col-sm-3 col-md-3">
                     <div class="common-save-button">
                        <a href="" ng-click="vm.model.OpenPopup('Update', 'confirmSave', {})" class="btn btn-primary btn-save-box-shadow" title="Save">
                        <i class="fa fa-floppy-o" style="font-size: 21px" aria-hidden="true"></i>
                        </a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </fieldset>
      <div class="row table-container margin-top10">
         <div class="col-md-12 col-lg-12 col-sm-8 padding-left-right-set4"  id="nonBillableTableHt">
            <fieldset>
               <!-- <legend class="heading-div">Table</legend> -->
               <div class="row table-container padding-left-right-set4">
                  <div class="col-md-12 col-lg-12 col-sm-8 table-container-header">
                     <table class="table table-striped table-hover table-condensed table-bordered">
                        <thead class="mainServiceTableCommon">
                           <tr>
                              <th class="width1 text-center">
                                 <input type="checkbox" ng-click="vm.model.SelectAllRequests()" ng-model="vm.model.selectAllRows" ng-disabled="!vm.model.quotationEnquiries || vm.model.quotationEnquiries == 0" />
                              </th>
                              <th class="width3">
                                 QR Date
                              </th>
                              <th class="width3">
                                 QR No
                              </th>
                              <th class="width3">
                                 Store
                              </th>
                              <th class="width3">
                                 Type
                              </th>
                              <th class="width4">
                                 QR Against
                              </th>
                              <th class="width5">
                                 Remarks
                              </th>
                              <th class="width4">
                                 Requested By
                              </th>
                              <th class="width4" title="Send For Technical Approval">
                                 Send For Technical Approval
                              </th>
                              <th class="width4" title="Send For Vendor Selection">
                                 Send For Vendor Selection
                              </th>
                              <th class="width4">
                                 Status
                              </th>
                              <th class="width5">
                                 Approval Status
                              </th>
                              <th class="width5">
                                 Action
                              </th>
                           </tr>
                        </thead>
                     </table>
                  </div>
                  <div class="table-container-body" style="height:610px;overflow-y:scroll;">
                     <table class="table table-striped table-hover table-condensed table-bordered">
                        <tbody>
                           <tr ng-repeat="item in vm.model.quotationEnquiries | filter: search">
                              <td class="width1 text-center">
                                 <input type="checkbox" ng-model="item.isSelected" ng-click="vm.model.SelectQuotation(item)" ng-disabled="vm.model.isDisable(item)" />
                              </td>
                              <td class="width3" title="{{item.qrDate | date:'dd/MM/yyyy' : 'UTC'}}">{{item.qrDate | date:'dd/MM/yyyy' : 'UTC'}}</td>
                              <td class="width3" title="{{item.qrNumber}}">{{item.qrNumber}}</td>
                              <td class="width3" title="{{item.storeName}}">{{item.storeName}}</td>
                              <td class="width3" title="{{item.assetType}}">{{item.assetType}}</td>
                              <td class="width4" title="{{item.requestType}}">{{item.requestType}}</td>
                              <td class="width5" title="{{item.remark}}">{{item.remark}}</td>
                              <td class="width4" title="{{item.requestedBy}}">{{item.requestedBy}}</td>
                              <td class="width4 text-center">
                                <label class="switch switch-small">
                                  <input type="checkbox" ng-model="item.technicalApproval" ng-change="vm.model.SendForTechApproval(item)">
                                  <div class="slider round slider-small"></div>
                                </label>
                              </td>
                              <td class="width4 text-center">
                                <label class="switch switch-small">
                                  <input type="checkbox" ng-model="item.vendorSelection">
                                  <div class="slider round slider-small"></div>
                                </label>
                              </td>
                              <td class="width4" title="{{item.status}}">{{item.status}}</td>
                              <td class="width5" title="{{item.approvalStatus}}">{{item.approvalStatus}}</td>
                              <td class="width5" style="width: 4.87% !important">
                                 <div class="col-lg-2 col-md-2 padding-left-right-set4 ">
                                    <a title="Edit" ng-click="vm.model.NavigateToEdit(item)" ng-class="{disabled: vm.model.isEdit(item)}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                 </div>
                                 <div class="col-lg-2 col-md-2 padding-left-right-set4 ">
                                    <a title="Print"><i class="fa fa-print" aria-hidden="true"></i></a>
                                 </div>
                                 <div class="col-lg-2 col-md-2 padding-left-right-set4 ">
                                    <a title="Cancel" ng-click="vm.model.OpenPopup('Cancel', 'cancelQuotation', item)" ng-class="{disabled: vm.model.isCancel(item)}"><i class="fa fa-ban" aria-hidden="true"></i></a>
                                 </div>
                                 <div class="col-lg-6 col-md-2 padding-left-right-set4 text-right">
                                    <a class="cursor-pointer" ng-click="vm.model.NavigateToDetails(item)">Details</a>
                                 </div>
                              </td>
                           </tr>
                           <tr ng-if="!vm.model.quotationEnquiries || vm.model.quotationEnquiries == false">
                              <td class="text-center">
                                 <p>No Record Found</p>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </fieldset>
         </div>
      </div>
   </div>
</div>
<!-- details modal start -->
<div id="wasteStoreDetailsModal" class="modal fade ng-scope in common-large-popup" role="dialog">
   <div class="modal-dialog">
      <!-- width: 25% !important;margin: 200px 0 0 510px !important; -->
      <div class="modal-content">
         <div class="modal-header">
            <div class="modal-title patient-details-row">
               Quotation Enquiry Details
               <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
         </div>
         <div class="modal-body">
            <div class="row">
               <div class="col-lg-12 col-md-12 common-popup-height-350 padding-top10 padding-left-right-set4">
                  <table class="table table-bordered">
                     <thead>
                        <tr>
                           <!-- <th></th> -->
                           <th>
                              Item Code
                              <div class="float_right">
                                 <div>
                                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                                 </div>
                                 <div class="margin-top-8">
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                 </div>
                              </div>
                           </th>
                           <th>
                              Item Name
                              <div class="float_right">
                                 <div>
                                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                                 </div>
                                 <div class="margin-top-8">
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                 </div>
                              </div>
                           </th>
                           <th>
                              UOM
                              <div class="float_right">
                                 <div>
                                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                                 </div>
                                 <div class="margin-top-8">
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                 </div>
                              </div>
                           </th>
                           <th>
                              UOM Unit
                              <div class="float_right">
                                 <div>
                                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                                 </div>
                                 <div class="margin-top-8">
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                 </div>
                              </div>
                           </th>
                           <th>
                              Qty
                              <div class="float_right">
                                 <div>
                                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                                 </div>
                                 <div class="margin-top-8">
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                 </div>
                              </div>
                           </th>
                           <th>
                              COP
                              <div class="float_right">
                                 <div>
                                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                                 </div>
                                 <div class="margin-top-8">
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                 </div>
                              </div>
                           </th>
                           <th>
                              PR No
                              <div class="float_right">
                                 <div>
                                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                                 </div>
                                 <div class="margin-top-8">
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                 </div>
                              </div>
                           </th>
                           <th >
                              Expected Due Date 
                              <div class="float_right">
                                 <div>
                                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                                 </div>
                                 <div class="margin-top-8">
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                 </div>
                              </div>
                           </th>
                           <th>
                              Expected Warranty Period 
                              <div class="float_right">
                                 <div>
                                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                                 </div>
                                 <div class="margin-top-8">
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                 </div>
                              </div>
                           </th>
                           <th>
                              Expected Support Terms 
                              <div class="float_right">
                                 <div>
                                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                                 </div>
                                 <div class="margin-top-8">
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                 </div>
                              </div>
                           </th>
                           <th>
                              Expected Payment Terms 
                              <div class="float_right">
                                 <div>
                                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                                 </div>
                                 <div class="margin-top-8">
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                 </div>
                              </div>
                           </th>
                           <th>
                              Expected Technical Specification 
                              <div class="float_right">
                                 <div>
                                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                                 </div>
                                 <div class="margin-top-8">
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                 </div>
                              </div>
                           </th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr class="table-th-bg cursor-pointer">
                           <td colspan="2">
                              <div class="col-md-6 padding-left-right-set0 font-weight700">
                                 VOR Date:
                              </div>
                              <div class="col-md-6 padding-left-right-set0  text-left">
                                 09/10/2017
                              </div>
                           </td>
                           <td colspan="2">
                              <div class="col-md-6 padding-left-right-set0 font-weight700">
                                 VOR No:
                              </div>
                              <div class="col-md-6 padding-left-right-set0  text-left">
                                 12345
                              </div>
                           </td>
                           <td colspan="4">
                              <div class="col-md-6 padding-left-right-set0 font-weight700">
                                 Vendor Name:
                              </div>
                              <div class="col-md-6 padding-left-right-set0  text-left">
                                 -
                              </div>
                           </td>
                           <td colspan="2">
                              <div class="col-md-6 padding-left-right-set0 font-weight700">
                                 Status:
                              </div>
                              <div class="col-md-6 padding-left-right-set0  text-left">
                                 -
                              </div>
                           </td>
                           <td colspan="3">
                              <div class="col-md-6 font-weight700 padding-left-right-set0">
                                 Requested By:
                              </div>
                              <div class="col-md-6 padding-left-right-set0  text-left">
                                 -
                              </div>
                           </td>
                           <td  colspan="2">
                              <div class="col-md-6 padding-left-right-set0 font-weight700 text-left">
                                 Req.Date:
                              </div>
                              <div class="col-md-6  text-left padding-left-right-10">
                                 09/10/2017
                              </div>
                           </td>
                        </tr>
                        <tr>
                           <td colspan="12">
                              <div class="selectedServicesList">
                                 <table class="table table-bordered table-striped">
                                    <tbody>
                                       <tr>
                                          <td>-</td>
                                          <td>-</td>
                                          <td>-</td>
                                          <td>-</td>
                                          <td>-</td>
                                          <td>-</td>
                                          <td>-</td>
                                          <td>-</td>
                                          <td>-</td>
                                          <td>-</td>
                                          <td>-</td>
                                          <td>-</td>
                                          <td>-</td>
                                          <td>-</td>
                                       </tr>
                                       <tr>
                                          <td>-</td>
                                          <td>-</td>
                                          <td>-</td>
                                          <td>-</td>
                                          <td>-</td>
                                          <td>-</td>
                                          <td>-</td>
                                          <td>-</td>
                                          <td>-</td>
                                          <td>-</td>
                                          <td>-</td>
                                          <td>-</td>
                                          <td>-</td>
                                          <td>-</td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </div>
                           </td>
                        </tr>
                        <tr class="table-th-bg cursor-pointer">
                           <td colspan="2">
                              <div class="col-md-6 padding-left-right-set0 font-weight700">
                                 VOR Date:
                              </div>
                              <div class="col-md-6 padding-left-right-set0  text-left">
                                 09/10/2017
                              </div>
                           </td>
                           <td colspan="2">
                              <div class="col-md-6 padding-left-right-set0 font-weight700">
                                 VOR No:
                              </div>
                              <div class="col-md-6 padding-left-right-set0  text-left">
                                 12345
                              </div>
                           </td>
                           <td colspan="4">
                              <div class="col-md-6 padding-left-right-set0 font-weight700">
                                 Vendor Name:
                              </div>
                              <div class="col-md-6 padding-left-right-set0  text-left">
                                 -
                              </div>
                           </td>
                           <td colspan="2">
                              <div class="col-md-6 padding-left-right-set0 font-weight700">
                                 Status:
                              </div>
                              <div class="col-md-6 padding-left-right-set0  text-left">
                                 -
                              </div>
                           </td>
                           <td colspan="3">
                              <div class="col-md-6 font-weight700 padding-left-right-set0">
                                 Requested By:
                              </div>
                              <div class="col-md-6 padding-left-right-set0  text-left">
                                 -
                              </div>
                           </td>
                           <td  colspan="2">
                              <div class="col-md-6 padding-left-right-set0 font-weight700 text-left">
                                 Req.Date:
                              </div>
                              <div class="col-md-6  text-left padding-left-right-10">
                                 09/10/2017
                              </div>
                           </td>
                        </tr>
                        <tr>
                           <td colspan="12">
                              <div class="selectedServicesList">
                                 <table class="table table-bordered table-striped">
                                    <thead>
                                       <tr>
                                          <!-- <th></th> -->
                                          <th>
                                             Asset Category
                                             <div class="float_right">
                                                <div>
                                                   <i class="fa fa-caret-up" aria-hidden="true"></i>
                                                </div>
                                                <div class="margin-top-8">
                                                   <i class="fa fa-caret-down" aria-hidden="true"></i>
                                                </div>
                                             </div>
                                          </th>
                                          <th>
                                             Product Category
                                             <div class="float_right">
                                                <div>
                                                   <i class="fa fa-caret-up" aria-hidden="true"></i>
                                                </div>
                                                <div class="margin-top-8">
                                                   <i class="fa fa-caret-down" aria-hidden="true"></i>
                                                </div>
                                             </div>
                                          </th>
                                          <th>
                                             Item Code
                                             <div class="float_right">
                                                <div>
                                                   <i class="fa fa-caret-up" aria-hidden="true"></i>
                                                </div>
                                                <div class="margin-top-8">
                                                   <i class="fa fa-caret-down" aria-hidden="true"></i>
                                                </div>
                                             </div>
                                          </th>
                                          <th>
                                             Item Name
                                             <div class="float_right">
                                                <div>
                                                   <i class="fa fa-caret-up" aria-hidden="true"></i>
                                                </div>
                                                <div class="margin-top-8">
                                                   <i class="fa fa-caret-down" aria-hidden="true"></i>
                                                </div>
                                             </div>
                                          </th>
                                          <th>
                                             UOM
                                             <div class="float_right">
                                                <div>
                                                   <i class="fa fa-caret-up" aria-hidden="true"></i>
                                                </div>
                                                <div class="margin-top-8">
                                                   <i class="fa fa-caret-down" aria-hidden="true"></i>
                                                </div>
                                             </div>
                                          </th>
                                          <th>
                                             UOM Unit
                                             <div class="float_right">
                                                <div>
                                                   <i class="fa fa-caret-up" aria-hidden="true"></i>
                                                </div>
                                                <div class="margin-top-8">
                                                   <i class="fa fa-caret-down" aria-hidden="true"></i>
                                                </div>
                                             </div>
                                          </th>
                                          <th>
                                             Qty
                                             <div class="float_right">
                                                <div>
                                                   <i class="fa fa-caret-up" aria-hidden="true"></i>
                                                </div>
                                                <div class="margin-top-8">
                                                   <i class="fa fa-caret-down" aria-hidden="true"></i>
                                                </div>
                                             </div>
                                          </th>
                                          <th>
                                             COP
                                             <div class="float_right">
                                                <div>
                                                   <i class="fa fa-caret-up" aria-hidden="true"></i>
                                                </div>
                                                <div class="margin-top-8">
                                                   <i class="fa fa-caret-down" aria-hidden="true"></i>
                                                </div>
                                             </div>
                                          </th>
                                          <th>
                                             PR No
                                             <div class="float_right">
                                                <div>
                                                   <i class="fa fa-caret-up" aria-hidden="true"></i>
                                                </div>
                                                <div class="margin-top-8">
                                                   <i class="fa fa-caret-down" aria-hidden="true"></i>
                                                </div>
                                             </div>
                                          </th>
                                          <th >
                                             Expected Due Date 
                                             <div class="float_right">
                                                <div>
                                                   <i class="fa fa-caret-up" aria-hidden="true"></i>
                                                </div>
                                                <div class="margin-top-8">
                                                   <i class="fa fa-caret-down" aria-hidden="true"></i>
                                                </div>
                                             </div>
                                          </th>
                                          <th>
                                             Expected Warranty Period 
                                             <div class="float_right">
                                                <div>
                                                   <i class="fa fa-caret-up" aria-hidden="true"></i>
                                                </div>
                                                <div class="margin-top-8">
                                                   <i class="fa fa-caret-down" aria-hidden="true"></i>
                                                </div>
                                             </div>
                                          </th>
                                          <th>
                                             Expected Support Terms 
                                             <div class="float_right">
                                                <div>
                                                   <i class="fa fa-caret-up" aria-hidden="true"></i>
                                                </div>
                                                <div class="margin-top-8">
                                                   <i class="fa fa-caret-down" aria-hidden="true"></i>
                                                </div>
                                             </div>
                                          </th>
                                          <th>
                                             Expected Payment Terms 
                                             <div class="float_right">
                                                <div>
                                                   <i class="fa fa-caret-up" aria-hidden="true"></i>
                                                </div>
                                                <div class="margin-top-8">
                                                   <i class="fa fa-caret-down" aria-hidden="true"></i>
                                                </div>
                                             </div>
                                          </th>
                                          <th>
                                             Expected Technical Specification 
                                             <div class="float_right">
                                                <div>
                                                   <i class="fa fa-caret-up" aria-hidden="true"></i>
                                                </div>
                                                <div class="margin-top-8">
                                                   <i class="fa fa-caret-down" aria-hidden="true"></i>
                                                </div>
                                             </div>
                                          </th>
                                       </tr>
                                    </thead>
                                    <tbody>
                                       <tr>
                                          <td>-</td>
                                          <td>-</td>
                                          <td>-</td>
                                          <td>-</td>
                                          <td>-</td>
                                          <td>-</td>
                                          <td>-</td>
                                          <td>-</td>
                                          <td>-</td>
                                          <td>-</td>
                                          <td>-</td>
                                          <td>-</td>
                                          <td>-</td>
                                          <td>-</td>
                                       </tr>
                                       <tr>
                                          <td>-</td>
                                          <td>-</td>
                                          <td>-</td>
                                          <td>-</td>
                                          <td>-</td>
                                          <td>-</td>
                                          <td>-</td>
                                          <td>-</td>
                                          <td>-</td>
                                          <td>-</td>
                                          <td>-</td>
                                          <td>-</td>
                                          <td>-</td>
                                          <td>-</td>
                                       </tr>
                                       <tr>
                                          <td>-</td>
                                          <td>-</td>
                                          <td>-</td>
                                          <td>-</td>
                                          <td>-</td>
                                          <td>-</td>
                                          <td>-</td>
                                          <td>-</td>
                                          <td>-</td>
                                          <td>-</td>
                                          <td>-</td>
                                          <td>-</td>
                                          <td>-</td>
                                          <td>-</td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </div>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- details modal end -->
<!-- confirmSave modal start -->
<div id="confirmSave" class="modal fade ng-scope in" role="dialog">
   <div class="modal-dialog" style="width: 560px !important; margin: 80px auto !important;">
      <div class="modal-content">
         <div class="modal-header" style="padding: 0px!important;">
            <div class="modal-title patient-details-row">
               Confirm
               <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
         </div>
         <div class="modal-body">
            <div class="margin-left10"><span>Are you sure you want to Save?</span></div>
         </div>
         <div class="modal-footer" style="border:none;">
            <button type="button" data-dismiss="modal" class="btn btn-primary" ng-click="vm.model.UpdateLocalPR()">Ok</button>
            <button type="button" data-dismiss="modal" class="btn btn-primary">Cancel</button>
         </div>
      </div>
   </div>
</div>
<!-- confirmSave modal end -->
<!-- cancelQuotation Start -->
<div id="cancelQuotation" class="modal fade ng-scope in common-small-popup" role="dialog" style="background: rgba(0, 0, 0, 0.33); z-index: 1300 !important;">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <div class="modal-title patient-details-row">
               Cancellation
               <button type="button" class="close" ng-click="vm.model.ModalDismiss('cancelQuotation')">&times;</button>
            </div>
         </div>
         <div class="modal-body">
            <div class="row">
               <div class="col-md-12 padding-left-right-set">
                  <div class="row input-container margin-top10">
                     <div class="col-lg-1 col-sm-1 col-md-1 polymer-icon"> 
                        <i class="fa fa-sticky-note-o" aria-hidden="true"></i>
                     </div>
                     <div class="col-lg-11 col-sm-11 col-md-11 ">
                        <div>
                           <select name="cancelReason" id="cancelReason" class="text-input floating-label" ng-model="vm.model.cancelReason" ng-class="{dirty: vm.model.cancelReason}" ng-change="vm.model.isReasonValid = false">
                              <option ng-repeat="reason in vm.model.rejectReasons" value="{{reason.id}}">{{reason.reason}}</option>
                           </select>
                           <label for="code">Select Reasons</label>
                        </div>
                        <p ng-if="vm.model.isReasonValid" class="errorMsg">Select Reason</p>
                     </div>
                  </div>
                  <div class="row input-container margin-top10">
                     <div class="col-lg-1 col-sm-1 col-md-1 polymer-icon">
                        <i class="fa fa-sticky-note" aria-hidden="true"></i>
                     </div>
                     <div class="col-lg-11 col-sm-11 col-md-11 ">
                        <div>
                           <textarea name="rejectNote" rows="4" id="noteReject" class="text-input floating-label ng-pristine ng-untouched ng-valid ng-empty" ng-model="vm.model.rejectNote" ng-class="{dirty: vm.model.rejectNote}"></textarea>
                           <label for="rejectNote">Note</label>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="modal-footer" style="border:none;">
            <button type="button" class="btn btn-primary" ng-click="vm.model.UpdateLocalPR()">Save</button>
         </div>
      </div>
   </div>
</div>
<!-- cancelQuotation END -->
<script type="text/javascript">
   $( document ).ready(function() {
    $(".selectedPageName").text("Quotation Enquiry");
    $(".sidebar-nav li").each(function() {
      $(this).find("a").parents("li").removeClass("active");
    });
    
    $(".selectedServicesList").hide();
    /*************************** rejection radio button function*********************************/
    $(".add-new-item-row").hide();
    $(".get-request-row").hide();
     $( ".addNewItemRadioBtnClass" ).change(function() {
        if ($(this).is(":checked"))
        {
          $(".add-new-item-row").show('slow');
          $(".get-request-row").hide('slow');
        }
      }); 
    $( ".getRequestListBtnClass" ).change(function() {
      if ($(this).is(":checked"))
      {
        $(".add-new-item-row").hide('slow');
        $(".get-request-row").show('slow');
      }
    }); 
   
   });
   /*************************** add button function start*********************************/
   $(".table-th-bg").click(function(){
    /* alert(); */
    $(this).next().find(".selectedServicesList").toggle();
   });
</script>
<script src="resources/assets/js/common/page-height.js"></script>