<!-- *****************************Warranty Period Fill in ***************************** -->
<fieldset>
	<legend class="heading-div">Warranty Period</legend>
	<div class="row margin-top4">
		<div class="col-lg-12 col-md-12">
			<textarea  rows="10">The makers of medical equipment and scientific instruments aren't completely immune to the impact of the recent recession, but it does seem like the annual budget cycles of schools and universities has more of an effect on their sales revenue and repair budgets than anything else.
				Like the aerospace and telecom equipment industries, the medical and scientific equipment industry is more of a business-to-business enterprise. These are the makers of the machinery that fills doctors' offices, hospital rooms, clinics, laboratories, and science classrooms. Much of what they make is filled with computers and electronics, and all of what they produce is designed for maximum uptime and reliability. With life-saving equipment, failure is not an option.
				To examine trends in the warranty expenses of manufacturers in this industry, we began with a list of 196 U.S.-based companies that manufacture either medical devices or scientific equipment. And as we've done in the last two annual reports on this industry, in 2013 and in 2012, we separated out the companies that are making products which involve the use of either lasers or X-rays.
				Our theory is that while most types of medical and scientific equipment are highly reliable and therefore have relatively low warranty expense rates, anything involving lasers or X-rays has a much higher warranty profile. And that proved to be true again this year. While most medical and scientific equipment has warranty expense rates somewhere between 0.5% and 1.0% of their selling price, anything involving lasers or X-rays is going to see expense rates upwards of 1.5%. Whether it's used for tattoo removal or dental imaging, the equipment is going to break more often and cost more to fix.
				To prove this, we collected four warranty metrics from each of the 196 companies over the past 44 quarters (11 years). Three come from the warranty table that's usually inserted into the footnotes of each quarterly or annual report, and one comes from the income statement. And then we divided two of those metrics by another metric, to produce a pair of percentages.
			</textarea>
		</div>
	</div>

</fieldset>
<fieldset>
	<legend class="heading-div">Vendor Warranty Period</legend>
			<div class="row margin-top4">
		<div class="col-lg-12 col-md-12">
			<textarea  rows="10">We began with a list of 196 U.S.-based companies that manufacture either medical devices or scientific equipment. And as we've done in the last two annual reports on this industry, in 2013 and in 2012, we separated out the companies that are making products which involve the use of either lasers or X-rays.
				Our theory is that while most types of medical and scientific equipment are highly reliable and therefore have relatively low warranty expense rates, anything involving lasers or X-rays has a much higher warranty profile. And that proved to be true again this year. While most medical and scientific equipment has warranty expense rates somewhere between 0.5% and 1.0% of their selling price, anything involving lasers or X-rays is going to see expense rates upwards of 1.5%. Whether it's used for tattoo removal or dental imaging, the equipment is going to break more often and cost more to fix.
				To prove this, we collected four warranty metrics from each of the 196 companies over the past 44 quarters (11 years). Three come from the warranty table that's usually inserted into the footnotes of each quarterly or annual report, and one comes from the income statement. And then we divided two of those metrics by another metric, to produce a pair of percentages.
			</textarea>
		</div>
	</div>
</fieldset>
<script type="text/javascript">

</script>
