<!-- Page Content -->
		<div id="page-content-wrapper">
			<div class="container-fluid his-style">
				<fieldset class="main-fieldset">
					<div class="row margin-top10">
						<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4">
							<div class="row input-container">
								<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon"> 
									<i class="fa fa-sort-numeric-desc" aria-hidden="true"></i>
								</div>
								<div class="col-lg-11 col-sm-11 col-md-11 ">
									<div class="">
										<input type="text" name="code" id="" class="text-input floating-label">
										<label for="code">Request Number</label>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4">
							<div class="row input-container">
								<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon"> 
									<i class="fa fa-calendar" aria-hidden="true"></i>
								</div>
								<div class="col-lg-11 col-sm-11 col-md-11 ">
									<div class="">
										<input type="text" name="code" id="" class="text-input floating-label">
										<label for="code">Request Date</label>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4">
							<div class="row input-container">
								<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon"> 
									<i class="fa fa-tasks" aria-hidden="true"></i>
								</div>
								<div class="col-lg-11 col-sm-11 col-md-11 ">
									<div class="">
										<select class="text-input floating-label">
											<option></option>
										</select>
										<label for="code">Asset Category</label>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 padding-left-right-set4">
							<div class="row input-container">
								<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon"> 
									<i class="fa fa-building-o" aria-hidden="true"></i>
								</div>
								<div class="col-lg-11 col-sm-11 col-md-11 ">
									<div class="">
										<select class="text-input floating-label">
											<option></option>
										</select>
										<label for="code">Product Category</label>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set4">
							<div class="row input-container">
								<div class="col-lg-1 col-sm-1 col-md-1 polymer-icon"> 
									<i class="fa fa-user-circle-o" aria-hidden="true"></i>
								</div>
								<div class="col-lg-11 col-sm-11 col-md-11 ">
									<div class="">
										<input type="text" name="code" id="" class="text-input floating-label">
										<label for="code">Vendor Name</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</fieldset>
				<div class="row margin-top10 padding-left-right-1">
					<div class="col-lg-1 col-md-1 col-sm-2 padding-left-right-set4 float_right text-width-auto">
						<div class=" ">
							<a href="" class="btn btn-primary btn-save-box-shadow" title="Save" data-toggle="modal" data-target="#confirmLogout"><i class="fa fa-floppy-o" style="font-size: 21px" aria-hidden="true"></i></a>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3 padding-left-right-set0 float_right">
						<input type="text" class="text-search-box" placeholder="Search" style="margin-top: 0px"> <i class="fa fa-search common-search-text-icon" aria-hidden="true"></i>
					</div>
				</div>
			<div class="row padding-left-right-set4 padding-top8">
				<div class="col-md-12">
					<table class="table table-bordered">
						<tr class="">
							<th class="width10">Request Number
								<div class="float_right">
									<div>
										<i class="fa fa-caret-up" aria-hidden="true"></i>
									</div>
									<div class="margin-top-8">
										<i class="fa fa-caret-down" aria-hidden="true"></i>
									</div>
								</div>
							</th>	
							<th class="width10">Request Date
								<div class="float_right">
									<div>
										<i class="fa fa-caret-up" aria-hidden="true"></i>
									</div>
									<div class="margin-top-8">
										<i class="fa fa-caret-down" aria-hidden="true"></i>
									</div>
								</div>
							</th>	
							<th class="width12">Asset Category
								<div class="float_right">
									<div>
										<i class="fa fa-caret-up" aria-hidden="true"></i>
									</div>
									<div class="margin-top-8">
										<i class="fa fa-caret-down" aria-hidden="true"></i>
									</div>
								</div>
							</th>	
							<th class="width15">Product Category
								<div class="float_right">
									<div>
										<i class="fa fa-caret-up" aria-hidden="true"></i>
									</div>
									<div class="margin-top-8">
										<i class="fa fa-caret-down" aria-hidden="true"></i>
									</div>
								</div>
							</th>
							<th class="width15">Vendor Name
								<div class="float_right">
									<div>
										<i class="fa fa-caret-up" aria-hidden="true"></i>
									</div>
									<div class="margin-top-8">
										<i class="fa fa-caret-down" aria-hidden="true"></i>
									</div>
								</div>
							</th>
							<!-- <th class="width5">Status
								<div class="float_right">
									<div>
										<i class="fa fa-caret-up" aria-hidden="true"></i>
									</div>
									<div class="margin-top-8">
										<i class="fa fa-caret-down" aria-hidden="true"></i>
									</div>
								</div>
							</th>
							<th class="width5 text-center">Action
								<div class="float_right">
									<div>
										<i class="fa fa-caret-up" aria-hidden="true"></i>
									</div>
									<div class="margin-top-8">
										<i class="fa fa-caret-down" aria-hidden="true"></i>
									</div>
								</div>
							</th> -->
							<th class="width5 text-center">Action</th>
						</tr>
						<tr>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<!-- <td>
								<label class="switch"> 
									<input type="checkbox">
									<div class="slider round"></div>
								</label>
							</td>
							<td class="padding-edit-button-table text-center">
								<a>
									<i class="fa fa-pencil" aria-hidden="true" title="Edit"></i>
								</a>
							</td> -->
							<td class="text-center">
								<a href="" data-toggle="modal" data-target="#nonRetunabledetailsModal">Details</a>
							</td>
						</tr>
					</table>
				</div>
			</div>
			</div>
		</div>
<!-- Disease List -->
<div id="nonRetunabledetailsModal" class="modal fade ng-scope in padding-left0 common-large-popup" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<div class="modal-title patient-details-row">
					Non-returnable Gate Pass Details
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
			</div>
			<div class="modal-body">
				<div class="row patient-details-row">
					<div class="col-md-11 col-sm-11 col-xs-11 ">
						<span class=""><b class="padding-right5 ">Request NO:</b>12345</span>
						<span class="margin-left10"><b class="padding-right10 ">Asset Category:</b> Category 1</span>
						<span class="margin-left10"><b class="padding-right10 ">Product Category:</b> Category 1 </span>
						<span class="margin-left10"><b class="padding-right10 ">Vendor Name:</b>John Andy </span>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-12 common-table-height-250 padding-top5 padding-left-right-set4" id=""><!-- pharmacologyDetailsTableId id for the table td fix height -->
						<table class="table">
							<thead>
								<tr>
									<th>Item Name</th>
									<th>Serial No.</th>
									<th>Lot No.</th>
									<th class="width15"></th>
								</tr>
							</thead>
							<tbody>
								<tr>
										<td>-</td>
										<td>-</td>
										<td>-</td>
										<td>
											<!-- <button type="button" class="btn btn-primary btn-save-box-shadow text-width-auto details-btn" data-dismiss="modal">Returnable Gate pass</button> -->
											<a href="" >Returnable Gate pass</a>
										</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Disease List -->
<script src="resources/assets/js/common/page-height.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	
 	
$(".selectedPageName").text("Non Returnable Gate Pass");
$(".sidebar-nav li").each(function() {
	$(this).find("a").parents("li").removeClass("active");
});
$('a[href$="nonReturnableGatePass"]').parents("li").addClass("active");
});
</script>
